{% extends 'DodiciFansworldWebBundle:Mail:base.html.twig' %}

{% block title %}
    <title>Fansworld - {{ notification.author }} respondió en un comentario que hiciste</title>
{% endblock %}
    
{% block text %}
    <p style="margin-bottom: 10px;">
        <a href="">{{ notification.author }}</a> respondió en <a href="{{ path('comment_show', {'id': notification.comment.id }) }}">{{ notification.comment|truncate(15) }}</a>
    </p>
{% endblock %}