<p style="margin-bottom: 15px;margin-top: 15px;">Hola {{ notification.target }},</p>
<div style="margin-bottom: 20px;">
    <span style="float: left;margin-right: 15px;"><img src="{{ appstate.getImageUrl(notification.target.image) }}" alt="avatar" /></span>    
    <div>
        <p style="margin-bottom: 10px;">
            <a href="">{{ notification.author }}</a> ha comentado en una publicación que te interesa.
        </p>
    </div>
</div>
<div style="clear: both;"></div>
<p style="font-size: 11px; color: #c0c0c0; margin-top: 10px;">Ajustar tus preferencias de las notificaciones que recíbes</p>
</div>