{% extends 'DodiciFansworldWebBundle:Mail:base.html.twig' %}

{% block title %}
    <title>Fansworld - {{ notification.author }} respondió en un comentario que hiciste</title>
{% endblock %}
    
{% block text %}
    <p style="margin-bottom: 10px;">
        <a href="">{{ notification.author }}</a> respondió en <a href="{{ path('forum_thread', {'id': notification.forumthread.id, 'slug': notification.forumthread.slug}) }}">{{ notification.forumthread }}</a>
    </p>
{% endblock %}