{% extends 'DodiciFansworldWebBundle:Mail:notification_base.html.twig' %}

{% block title %}
    <title>Fansworld - {{ "notification_friendship_pending"|trans({'%author%': notification.author}) }}</title>
{% endblock %}
    
{% block body %}
    {% set entityUrl = url('user_wall', { 'username': notification.author.username }) %}
    {% if (notification.author.image) %}
        {% include 'DodiciFansworldWebBundle:Mail/Templates:show_thumb.html.twig' with { entity: notification.author, href: entityUrl } %}
    {% endif %}
    <p style="text-align: center; margin-bottom: 20px;padding: 0;font-size: 17px;">
        <a style="color: #3f57c6;text-decoration: none;font-weight: 600;text-decoration: none !important;" href="{{ url('user_wall', { 'username': notification.author.username }) }}">{{ notification.author }}</a> quiere ser tu fan
    </p>
    {% include 'DodiciFansworldWebBundle:Mail/Templates:green_button.html.twig' with { href: entityUrl, text: 'Ver perfil' } %}
{% endblock %}