{% extends 'DodiciFansworldWebBundle:Mail:base.html.twig' %}

{% block title %}
    <title>Fansworld - {{ notification.author }} te ha aceptado como amigo</title>
{% endblock %}
    
{% block text %}
    <p style="margin-bottom: 10px;">
        <a href="">{{ notification.author }}</a> te ha aceptado como amigo
    </p>
{% endblock %}