<p style="margin-bottom: 15px;margin-top: 15px;">Hola {{ target }},</p>
<div style="margin-bottom: 20px;">
    <span style="float: left;margin-right: 15px;"><img src="img/avatarGrande.jpg" alt="avatar" /></span>    
    <div>
        <p style="margin-bottom: 10px;">
            <a href="">{{ author }}</a> quiere ser tu fan
        </p>
        <a href="">Ver invitacion</a>
    </div>
</div>
<div style="clear: both;"></div>
<span>
    <img src="img/btnConfirmarSolicitud.jpg" alt="confirmar" />
    <img src="img/btnNegar.jpg" alt="negar" />
</span>
<p style="font-size: 11px; color: #c0c0c0; margin-top: 10px;">Ajustar tus preferencias de las notificaciones que recíbes</p>
</div>