{% if photos is not defined %}
    {% set photos = false %}
{% endif %}
{% if thumbnailSize is not defined %}
    {% set thumbnailSize = 'small' %}  
{% endif %}
<!-- Listado de fotos para mostrar como montage -->

<div class="row-fluid">
    <div class="am-container photos">
        {% for photo in photos %}
            <a href="{{ path('photo_show', {id: photo.id, slug: photo.slug}) }}">
                {% thumbnail photo.image, thumbnailSize with {title: photo.title} %}
            </a>
        {% endfor %}
    </div>
</div>