footer button {
    position: relative;
    border: none;
    .size(14px, 20px);
    margin-left: 15px;
    color: transparent;
    background-color: transparent;
    background-image: url('../images/widget/ico-widget1.png');
    margin-top: 7px;

    .label-footer {
      position: absolute;
      background-color: @orange;
      border: none;
      z-index: 9999;
      color: transparent;
      .size(7px, 2px);
      .border-radius(10px);
      left: -7px;
      top: -7px;
    }
}

