.wordcloud-container {
    margin-top: 30px;
    margin-left: 15px;

    li {
        margin-bottom: 15px;

        a   {
            text-transform: uppercase;
            line-height: 80%;

            &.team, &.user, &.idol  {
                color: @green;
            }
            &.tag {
                color: @white;
            }
            &.w8 {
                font-size: 77px;
            }   
            &.w7 {
                font-size: 66px;
            }
            &.w6 {
                font-size: 55px;
            }
            &.w5 {
                font-size: 50px;
            }
            &.w4 {
                font-size: 44px;
            }
            &.w3 {
                font-size: 37px;
            }
            &.w2 {
                font-size: 24px;
            }
            &.w1 {
                font-size: 18px;
            }
        }
    }
}