{% extends "DodiciFansworldWebBundle::three_column.html.twig" %}

{% block title %}{{ parent() }} - Error{% endblock %}

{% block content %}
	<h1 class="error">No se ha encontrado el recurso. Verifique si la URL es correcta.</h1>
{% endblock %}