{% extends "DodiciFansworldWebBundle::web.html.twig" %}

{% block title %}{{ parent() }} - Error{% endblock %}

{% block content %}
	<p class="error">Su usuario no posee los permisos suficientes para ver esta página</p>
{% endblock %}