{% extends "DodiciFansworldWebBundle::web.html.twig" %}

{% block title %}{{ parent() }} - Error{% endblock %}

{% block content %}
	<div class="htmlerror">
		<h1>Acceso denegado:</h1>
		<h2>{{ status_text }}</h2>
	</div>
{% endblock %}