{% extends "DodiciFansworldWebBundle::web.html.twig" %}

{% block title %}{{ parent() }} - Error{% endblock %}

{% block content %}
	<h1 class="error">Ha ocurrido un error inesperado - intente comunicarse con <a href="mailto:soporte@fansworld.tv">soporte@fansworld.tv</a></h1>
{% endblock %}