{% raw %}
<dt class="team">
    <img src="{{>image}}" />
    <p>
        <span class="name">{{>title}}</span>
        <br/>
        {{if idols}}
        <span class="idols">Idolos: 
            {{for idols}}
                <a href="{{>url}}">{{>name}}</a>, 
            {{/for}}
        </span>
        {{/if}}
    </p>
</dt>
{% endraw %}
    <dd>
        <button class="btn btn_friendship add btn-success">Ser fan</button>
        <ul>
            {% raw %}
                <li><span>{{>fanCount}}</span><br/> fans</li>
                <li><span>{{>videoCount}}</span><br/> videos</li>
                <li><span>{{>photoCount}}</span><br/> fotos</li>
            {% endraw %}
        </ul>
    </dd>