{% raw %}
<dt class="team">
    <img src="{{>image}}" />
    <p>
        <span class="name">{{>title}}</span>
        <br/>
        {{if idols}}
        <span class="idols">Idolos: 
            {{for idols}}
                <a href="{{>url}}">{{>name}}</a>, 
            {{/for}}
        </span>
        {{/if}}
    </p>
</dt>
    <dd>
        <button class="btn btn-success {{if teamship}}disabled{{else}}btn_teamship add{{/if}}" data-team-id="{{>id}}">Ser fan</button>
        
        <ul>
                <li><span>{{>fanCount}}</span><br/> fans</li>
                <li><span>{{>videoCount}}</span><br/> videos</li>
                <li><span>{{>photoCount}}</span><br/> fotos</li>
            
        </ul>
    </dd>
{% endraw %}