{% raw %}
<dt class="team">
    <img src="{{>image}}" />
    <p>
        <span class="name">{{>title}}</span>
        <br/>
        <span class="idols">Idolos: cacam, cacona, pororeta</span>
    </p>
</dt>
{% endraw %}
    <dd>
        <button class="btn btn_friendship add btn-success">Ser fan</button>
        <ul>
            {% raw %}
                <li><span>{{>fanCount}}</span><br/> fans</li>
                <li><span>{{>videoCount}}</span><br/> videos</li>
                <li><span>{{>photoCount}}</span><br/> fotos</li>
            {% endraw %}
        </ul>
    </dd>