# Bootstrap
app/bootstrap*

# Symfony directories
*/logs/*
*/cache/*
web/uploads/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml
web/bundles/dodicifansworldweb/css/base.css
