# Bootstrap
app/bootstrap*

# Symfony directories
*/logs/*
*/cache/*
web/uploads/*
app/spool/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml
web/bundles/dodicifansworldweb/css/base.css
.idea/*

#trash
web/bundles/dodicifansworldweb/js/compiled/*
