@import "bootstrap/bootstrap.less";

body {
  padding-top: 60px;
  padding-bottom: 40px;
}

@import "bootstrap/responsive.less";

@iconSpritePath:          "../images/glyphicons-halflings.png";
@iconWhiteSpritePath:     "../images/glyphicons-halflings-white.png";
@linkColorHover:        @linkColor;

@import "tweak.less";

/* ===== FW Base Styles ====================================================== */