//Estilos del destacado del home de eventos

section.evento-destacado{
    div.escudos-container{
        .escudo{
        
        }
    }
    
    div.datos-container{
        background-color: @black;
        padding: 2%;
        .titulo{
            font-size: 20px;
            color: @white;
        }
        
        .subtitulo{
            color: @green;
        }
        
        .fecha{
            color: @green;
        }
        
        .checkin-container{
            padding-top: 10px;
        }
    }
    
}

//Estilos de filtros del home de eventos
section.eventfilters-container{
    min-height: 35px;
    .btn-group{
        .pull-right();
        &:first-child{
            margin-left: 5px;
        }
    }
    
    .loading-container{
        width: 20px;
    }
    
}
//estilos de grid de eventos
section.eventgrid-container{
    ul.events-grid{
        >li{
            .border-radius(8px);
            .box-shadow(~"0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1)");
            width: 48%;
            float:left;
            margin: 0 1% 2%;
    
            @media (max-width: 979px) {
                width: 100%;
            }
            
            header{
                overflow: hidden;
                padding: 8px 11px 6px 15px;
                .border-radius(8px 8px 0 0);
                #gradient > .vertical(@navbarBackgroundHighlight, @navbarBackground);
                
                span{
                    color: @white;
                    text-transform: uppercase;
                    font-size: 15px;
                    line-height: 30px;
                    .text-overflow();
                    display:block;
                    float: left;
                    max-width: 60%;
                }
                
                button{
                    .pull-right();
                    text-transform: uppercase;
                }
            }
            >div{
                .border-radius(0 0 8px 8px);
                > *{
                    text-align: center;
                }
                .score{
                        .border-radius(8px);
                        background: @white;
                        font-size: 22px;
                        font-weight: bold;
                        line-height: 22px;
                        margin-top: 10px;
                        padding-bottom: 5px;
                        padding-top: 5px;
                        border: 1px solid #ebebeb;
                    }
                    
                background-color: #f8f9f7;
                padding: 10px 0;
                .local{
                    .escudo{
                    
                    }
                    
                    .score{
                        
                    }
                }
                
                .data{
                    .top{
                        height: 40px;
                    }
                    
                    .bottom{
                    
                    }
                }
                
                .visitante{
                    .escudo{
                    
                    }
                    
                    .score{
                        
                    }
                }
            }
        }
    }
    
}

//Estilos del calendario
section.eventcalendar-container{
    div.calendar{
        .highlighted a{
           background-color : @green;
           background-image :none !important;
           color: @white;
           font-weight:bold !important;
           font-size: 12pt;
        }
        .loading-small{
            width: auto;
            text-indent: 0;
        }
        .ui-datepicker{
            width: 100%;    
        }
    }
}

//Estilos del muro de detalle de eventos
div.eventwall {
    .doublegradient(#282828, #373737, #434242, #4d4c4c );
}
section.eventwall-form{
    padding: 2%;
    padding-bottom: 50px;
    
    div.local, div.guest {
        width: 40%;
        position: relative;

        .cont {
            background-color: @white;
            .border-radius(5px);
            position: relative;

            input {
                border: 0;
                height: 30px;
                margin: 0;
                width: 98%;
            }

            .upload-photo {
                background-image: url("../images/ico/cam.png");
                background-color: white;
                cursor: pointer;
                display: block;
                position: absolute;
                .size(23px,31px);
                z-index: 3;
                top: 6px;
                right: 5px;
            }
        }
        
        input.loading-small {
            background-position: right center;
        }

        &.local {
            float: left;
            padding-left: 3%;

            .arrow {
                background-image: url("images/right.png");
                .size(15px, 13px);
                display: block;
                position: absolute;
                z-index: 3;
                right: -13px;
                top: 11px;
            }
        }

        &.guest {
            float: right;
            padding-right: 3%;

            .arrow {
                background-image: url("images/left.png");
                .size(15px, 13px);
                display: block;
                position: absolute;
                z-index: 3;
                left: -13px;
                top: 11px;
            }
        }
    }
}

section.eventwall-container{
    padding: 2%;
    div.minute-container{
        width: 100%;
        overflow: hidden;
        
        .comment{
            &:after{
                clear: both;
            }
            background-color: @white;
            min-height: 40px;
            margin-bottom: 10px;
            .border-radius(5px);
            padding: 5px;
            //position: relative;
            overflow: hidden;
            .img-container{
                width: 10%;
            }
            .content{
                width: 90%;
            }
            .flechita {
                display: block;
                height: 15px;
                margin-top: 8px;
                vertical-align: top;
                width: 13px;
                z-index:2;
                position: absolute;
            }
        }
        
        .tweet{
            overflow: hidden;
            margin-bottom: 10px;
            .border-radius(5px);
            background-color: #121212;
            font-style: italic;
            padding: 5px;
            color: @white;
            min-height: 40px;
            .username{
                font-weight: bold;
            }
            a{
                color: #17c5d0;
            }
            .flechita {
                display: block;
                height: 15px;
                margin-top: 8px;
                vertical-align: top;
                width: 13px;
                z-index:2;
                position: absolute;
            }
        }
        
        .local-container{
            .pull-left();
             position: relative;
            margin-left: 3%;
            width: 45%;
            .comment{
                padding-left: 10px;
                .img-container{
                    .pull-right();
                }
                .content{
                    .pull-left();
                    
                }
                .flechita {
                    background-image: url("images/right.png");
                    right: -13px;
                    padding: 0;
                    
                }
            }
            .tweet{
                .flechita {
                    background-image: url("images/rightblack.png");
                    right: -13px;
                    padding: 0;
                    
                }
            }
        }
        .visitante-container{
            .pull-right();
            width: 45%;
            margin-right: 3%;
            .comment{
                padding-right: 10px;
                .img-container{
                    .pull-left();
                }
                .content{
                    .pull-right();
                    
                }
                .flechita{
                    background-image: url("images/left.png");
                    margin-left: -18px;
                }
            }
            .tweet{
                .flechita {
                    background-image: url("images/leftblack.png");
                    margin-left: -18px;
                    
                }
            }
        }
        .fullwidth-container{
            clear: both;
            width: 100%;
            margin-bottom: 10px;
            .circle{
                background-color: @green;
                color: @white;
                font-weight: bold;
                overflow: hidden;
                text-overflow: ellipsis;
                text-align: center;
                margin: 0 auto;
                
                width: 150px;
                height: 150px;
                .border-radius(75px); 
                line-height: 150px;
                    
                .texto1{
                    font-size: 40px;
                    line-height: 40px;
                    margin-top: 25px;
                    width: 100%
                }    
                
                .texto2{
                    font-size: 14px;
                    font-weight: bold;
                    line-height: 14px;
                    margin-top: 4px;
                    height: 28px;
                    width: 100%;
                }
                
                .texto3{
                    font-size: 14px;
                    line-height: 28px;
                    width: 100%;
                }
                                
                &.circle-local{
                    background-color: #8fb603;
                }
                
                &.circle-visitante{
                    background-color: #fb8c00;
                }
                
                &.circle-small{
                    .border-radius(50px);    
                    width: 100px;
                    font-size: 30px;
                    height: 100px;
                    line-height: 100px;
                }
            }
        }
    }
}

//estilos del header de detalles de eventos
header.eventdetail{
    section.breadcrum{
        margin-top: 5px;
        margin-bottom: 10px;
        overflow: hidden;
        .type{
            .pull-left();
             padding-right: 10px;
             border-right: 1px solid #dcdcdc;
        }
        .title{
            .pull-left();
             padding-left: 10px;
             color: #7b7b7b;
        }
    }
    section.header{
        overflow: hidden;
        background-color: @black;
        color: @white;
        height: 150px;
        position: relative;
        z-index: -2;
        .escudo{
            line-height: 150px;
            z-index: 1;
        }
        
        .texto{
            .clubname{
                font-size: 25px;
                font-weight: bold;
                margin-top: 45px;
            }
            .fancount{
                font-size: 15px;
                margin-top: 5px;
            }
        }
        
        .goles{
            font-size: 60px;
            text-shadow: 0 1px 1px rgba(255,255,255,.75);
            text-align: center;
            line-height: 150px;
            font-weight: bold;
            z-index: 1;
        }
        
        .local{
            position: relative;
            
            .backimage{
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                .opacity(50)
            }
        }
        
        .visitante{
            position: relative;
            .backimage{
                position: absolute;
                top: 0;
                right: 0;
                z-index: -1;
                .opacity(50)
            }
        }
    }
    
    
}