// 2column-specific styles
// --------------------------

.form-2column {

    // Float the labels left
    /*.control-label {
      float: left;
      width: 100px;
      [for='fos_user_registration_form_accept_toc']{
          width: 180px;
      }
    }*/

    // set padding for labels
    .help-block {
       //padding-left: 100px;
    }


    //set error color
    p.error{
      color: #CC3333;
    }

    //set inputs width
    /*
    input[type='text'],
    input[type='password'], 
    input[type='email']{
      width: 65%;
    }
    */
    input, textarea, select {
      width: inherit;
    }
    
    .column {   
        float: left;
        width: 350px;
        margin: 0;
        padding: 0;
    }

    .control-group {
        display: block;
        clear: both;
        margin-bottom: 10px;

        label {
            float: left;
            width: 30%;
        }
        div.controls {
            float: left;
            width: 70%;
            margin-bottom: 10px;
            
            input,
            textarea,
            select {
                width: inherit;
            }
        }
    }
}

//General help-block
p.help-block.error{
    color: #CC3333;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  color: @black !important;

  &::-webkit-input-placeholder, &:-moz-placeholder {
    color: @gray;
  }
}


//Login form
div.formshadow {
    .size(auto, 350px);
    .box-shadow(1px -1px 19px 3px @gray);
    margin: auto;
    .border-radius(5px);
    display: block;
    margin-top: 10%;
}
div.loginformbig {
    .border-radius(5px);
    padding: 20px;
    font-weight: normal;

    &.top {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        padding-bottom: 0;
    }

    &.bottom {
        border-top: 1px solid #ebeaea;
        background-color: #f4f3f3;
        border-top-left-radius: 0;
        border-top-right-radius: 0;

        div.fb {
            width: 208px;
            margin: auto;
            display: block;
        }
    }

    h1 {    
        font-size: 20px;
        font-family: "Open Sans";
        color: @green;
        margin-bottom: 20px;
        font-weight: normal;
    }

    div.form-login {
        ul.fields   {
            #username, #password {
                width: 290px;
                height: 39px;
                font-size: 13px;
                padding-left: 14px;
                margin-bottom: 15px;

                &#password {
                    margin-bottom: 20px;
                }
            }

            li{
                .remember_me{ 
                    width: 40%;
                    display: block;
                    .pull-left();
                    padding-top: 8px;
                    
                    label {
                        font-size: 12px;
                        color: @green;
                        .pull-left();
                        margin-left: 13px; 
                    }
                    input {
                        .pull-left();
                        width: 12px;
                    }
                }
                
                .btn_action {
                    .pull-right();
                }
            }
        }
    }
}

a.link-register {
    width: 350px;
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 20px;
}