// 2column-specific styles
// --------------------------

.form-2column {

    // Float the labels left
    /*.control-label {
      float: left;
      width: 100px;
      [for='fos_user_registration_form_accept_toc']{
          width: 180px;
      }
    }*/

    // set padding for labels
    .help-block {
       //padding-left: 100px;
    }


    //set error color
    p.error{
      color: #CC3333;
    }

    //set inputs width
    /*
    input[type='text'],
    input[type='password'], 
    input[type='email']{
      width: 65%;
    }
    */
    input, textarea, select {
      width: inherit;
    }
    
    .column {   
        float: left;
        width: 350px;
        margin: 0;
        padding: 0;
    }

    .control-group {
        display: block;
        clear: both;
        margin-bottom: 10px;

        label {
            float: left;
            width: 30%;
        }
        div.controls {
            float: left;
            width: 70%;
            margin-bottom: 10px;
            
            input,
            textarea,
            select {
                width: inherit;
            }
        }
    }
}

//General help-block
p.help-block.error{
    color: #CC3333;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  color: @black !important;

  &::-webkit-input-placeholder, &:-moz-placeholder {
    color: @gray;
  }
}


//Login form
div.formshadow {
    .size(auto, 350px);
    //.box-shadow(1px -1px 19px 3px @gray);
    margin: auto;
    .border-radius(5px);
    display: block;
    margin-top: 45px;
    border: 1px solid @gray;
}
div.loginformbig {
    .border-radius(5px);
    padding: 20px;
    font-weight: normal;

    &.top {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        padding-bottom: 0;
        position: relative;
        
        .divider {
            position: absolute;
            bottom: -26px;
            display: block;
            background-color: white;
            font-size: 15px;
            font-weight: 300;
            left: 38%;
            padding: 0 7px 0 7px;
        }
    }

    &.bottom {
        border-top: 1px solid @grayDark;
        border-top-left-radius: 0;
        border-top-right-radius: 0;

        div.fb {
            width: 208px;
            margin: auto;
            display: block;
        }

        span.facebook-login {
            margin-bottom: 10px;
        }
    }

    h1 {    
        font-size: 20px;
        font-family: "Open Sans";
        color: @green;
        margin-bottom: 20px;
        font-weight: normal;
    }

    div.form-login {
        ul.fields   {
            #username, #password {
                width: 290px;
                height: 39px;
                font-size: 13px;
                padding-left: 14px;
                margin-bottom: 15px;

                &#password {
                    margin-bottom: 20px;
                }
            }

            li{
                .remember_me{ 
                    width: 40%;
                    display: block;
                    .pull-left();
                    padding-top: 8px;
                    
                    label {
                        font-size: 12px;
                        color: @grayDark;
                        .pull-left();
                        margin-left: 13px; 
                    }
                    input {
                        .pull-left();
                        width: 12px;
                    }
                }
                
                input[type='submit'] {
                    .size(45px, 100%);
                    display: block;
                    font-size: 20px;
                    font-weight: 400;
                    background-color: @green;
                    border: 0;
                    color: white;
                }
            }
        }
    }
}

.actions.login {
    width: 350px;
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 20px;
}

.errors.login {
    .border-radius(5px);
    .size(auto, 310px);
    border: 1px solid #e6a6a6;
    background-color: #f0c1c1;
    margin: auto;
    margin-top: 10px;
    padding: 20px;
    
    span{
        font-size: 13px;
        color: #bc7676;
    }
}

#content .register {
	padding: 20px 0 0 20px;

	.top {
		position: relative;

		h1 {
			letter-spacing: 1px;
			font-weight: 700;
			color: @black;
		}
		h4 {
			font-weight: 400;
		}
		iframe {
			margin-top: 10px;
			font-size: 20px !important;
		}

		.register-facebook {
			margin-top: 30px;
		}

		.divider-else {
			position: absolute;
			bottom: -13px;
			left: 45%;
			background-color: white;
			padding: 0 20px 0 20px;
			font-size: 17px;
			font-weight: 600;
			font-style: italic;
			color: @green;
		}
	}
	.bottom {
		h2 {
			color: black;
			font-weight: 600;
			font-size: 17px;
			margin-bottom: 30px;
		}
		.circular {
			position: relative;
			top: -3px;
		}

		form {
			label {
				font-weight: 400;
				font-size: 16px;
				margin-bottom: 15px;
				color: @grayDark;
			}

			.controls {
				width: 100% !important;
			}

			input {
				height: 40px;
				font-weight: 400;
				color: @black;
			}

			input:-webkit-autofill {
				background-color: intial !important;
			}

			.terms-description {
				display: block;
				font-size: 14px;
				font-weight: 400;
				color: gray;
				margin-bottom: 30px;
				margin-top: 10px;


				a {
					color: @green;
				}
			}

			.actions {
				padding: 0;
				#submitRegister {
					color: white;
					text-shadow: 1px 1px 1 black;
					border: 0;
					.gradient-green();
					.size(60px, 270px);
					.border-radius(3px);
					font-size: 16px;
					font-weight: 600;
				}
			}
		}
	}
}