// 2column-specific styles
// --------------------------

.form-2column {

    // Float the labels left
    /*.control-label {
      float: left;
      width: 100px;
      [for='fos_user_registration_form_accept_toc']{
          width: 180px;
      }
    }*/

    // set padding for labels
    .help-block {
       //padding-left: 100px;
    }


    //set error color
    p.error{
      color: #CC3333;
    }

    //set inputs width
    /*
    input[type='text'],
    input[type='password'], 
    input[type='email']{
      width: 65%;
    }
    */
    input, textarea, select {
      width: inherit;
    }
    
    .column {   
        float: left;
        width: 350px;
        margin: 0;
        padding: 0;
    }

    .control-group {
        display: block;
        clear: both;
        margin-bottom: 10px;

        label {
            float: left;
            width: 30%;
        }
        div.controls {
            float: left;
            width: 70%;
            margin-bottom: 10px;
            
            input,
            textarea,
            select {
                width: inherit;
            }
        }
    }
}

//General help-block
p.help-block.error{
    color: #CC3333;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  color: @black !important;

  &::-webkit-input-placeholder, &:-moz-placeholder {
    color: @gray;
  }
}
