.fullwidth {
    width: 100% !important;
}

.loadmore {
    .btn;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.internal_buttons {
    text-align: right;
}

.btn-upload-video {
    background-color: #FC6C00;
    color: white;
    font-size: 12px;
    border: 0;
    .border-radius(3px);
    height: 26px;
    padding-left: 13px;
    padding-right: 13px;
    font-weight: 500;
    text-transform: uppercase;
    float: left;
    margin-top: 7px;
    margin-left: 5px;
    margin-right: 5px;

    i {
        height: 16px;
        vertical-align: middle;
        margin-right: 6px;
    }

    &:hover {
        background-color: #F98E00;
    }
}

.btn.edit {
    i {
        background-image: url('../images/bt-edit.png');
        .square(30px);
        display: inline-block;
        float: left;
    }
 }

.btn.watchlater {
        i {
            background-image: url('../images/bt-watch-later.png');
            .square(30px);
            display: inline-block;
            float: left;
        }
    }

.btn.report {
    i {
        background-image: url('../images/bt-denunciar.png');
        .square(30px);
        display: inline-block;
        float: left;
    }
}

.share_content{
    .btn.watchlater,  .btn.like, .btn.report, .btn.edit{
        display: inline-block;
        height: 32px;
        padding: 0;
    }

    .btn.like, .btn.report, .btn.edit {
        height: 30px;
    }

    .btn.like {
       height: 30px;
       line-height: 30px;
       padding-right: 5px;
       padding-left: 5px;
        i {
            background-size: 30px;
            display: inline-block;
            .square(30px);
            float: left;
            background-position: 0 0;
            background-repeat: initial;
            
            &.icon-star-empty {
                background-image: url('../images/bt-like-default.png') !important;
            }

            &.icon-star {
                background-image: url('../images/bt-like.png') !important;
            }
        }
    }

    button.share {
            background-color: @green;
            .border-radius(3px);
            color: white;
            font-weight: 400;
            fotn-size: 12px;
            border: 0;
            line-height: 29px;
        i {
            background-image: url('../images/bt-compartir.png');
            .square(30px);
            display: inline-block;
            float: left;
            margin-right: 5px;
        }
    }

    .share-box {
        .size(auto, 505px);
        right: 37%;
        background-color:  #ffffff;
        border:  2px solid #e2e2e4;
        border-radius: 3px;
        position: absolute;
        color: @black;
        z-index: 9999999;

        .arrow {
            top: -6px;
            position: absolute;
            left: 50%;
        }

        h4 {
            color: @black;
            float: left;
        }

        .btn {
            color: white !important;
        }

        input {
            border: 2px solid #e2e2e4;
            background-color: @white;
            float: left;
        }

        .top {
            color: @black;
            height:  70px;

            i.close-share {
              display: block;
              z-index: 99999999999999;
              position: absolute;
              top: 5px;
              right: 5px;
              background-image: url("../images/ui/closealert.png") !important;
              .square(14px);
              background-position: top;
              cursor: pointer;

              &:hover {
                background-position: bottom;
              }
            }

            input.wywtsay{
                border: 2px solid #e2e2e4;
                background-color: @white;
                width: 80%;
                float: left;
                margin-left: 45px;
                margin-top: 20px;
            }

            p{
                text-align: left;
                font-size: 15px;
                color: #333333;
                font-weight: bold;
                margin-left: 30px;
                margin-top: 20px;
            }
        }

        .bottom{

            div.sharewith{
                margin-left: 5px;
                margin-bottom: 15px;

                input{
                    width:  411px;
                }
            }

            border-top: 2px solid #e2e2e4;
            background-color: #f9f9f9;
            height: 85px;
            padding-left: 41px;
            padding-right: 44px;
            padding-top: 10px;
        }

    }
}

.btn-checkbox{
    background-image: url("../images/fw_sprite_share.png") !important;
    background: transparent;
    border: 0;
    .square(30px);
    background-repeat: none;

    &:hover{
        background: transparent;
        border: 0;
    }

    &.fb{
        background-position: -33px 63px !important;

        &.active, &:hover{
            background-position: -33px 35px !important;
        }
    }

    &.tw{
        background-position: -3px 63px !important;

        &.active, &:hover{
            background-position: -3px 35px !important;
        }
    }

    &.fw{
        width: 35px;
        background-position: 41px 63px !important;

        &.active, &:hover{
            background-position: 41px 35px !important;
        }
    }
}

.btn_action {
    .btn;
    .btn-primary;
}

.btn-small [class^="icon-"] {
    margin-top: 1px;
    margin-right: 1px;
}

.loading [class^="icon-"],
.loading-small [class^="icon-"] {
    display: none;
}

#report {

    height: 120px;

    .greybox {
        width:295px;
        height:200px;

            #category {
                width: 310px;
            }

            #comment {
                width: 300px;
            }

            #submit-report {
                margin-left: 235px;
            }


            .alreadyReported {
                margin-top: 25%;
                border-color:#b2b2b2;
                border-style:dashed;
                border-width:2px;
                text-align:center;
            }
    }

}


.inviteFriends {

    .friendlist {
        img {
            width: 80px;
            margin-bottom: 3px;
        }
    }

    .befan {
        margin-bottom: 18px;
        margin-left: 6px;
    }

    img {width: 180px;}
    h4 {color: #555;}
    a {text-decoration: none;}

    height: 400px;
    width: 400px;
    margin-top: 30px;
    margin-left: 30px;

    .greybox {
        width: 370px;
        height: 400px;

        .urlShare {
            width: 400px;
        }
        .alreadyReported {
            margin-top: 25%;
            border-color:#b2b2b2;
            border-style:dashed;
            border-width:2px;
            text-align:center;
        }
    }

}

.video-std-block {
    .border-radius(3px);

    &:hover {
        i.play-video {
            opacity: 1;
        }
    }

    i.play-video {
        background-image: url('../images/play-icon.png');
        background-size: 25px;
        .square(25px);
        position: absolute;
        left: 10px;
        top: 10px;
        opacity: 0.5;

        &:hover{
            opacity: 1;
        }
    }

    img.back-thumb {
        width: 100% !important;
        height: auto !important;
        .border-radius(3px);
    }

    img.image {
        .border-radius(3px);
    }

    .title-and-user {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: auto;
        background: url('../images/ui/pix80trans.png');
        background-repeat: repeat;
        padding: 10px;

        .title {
            position: relative;
            color: white;
            font-weight: 600;
            font-size: 12px;
            display: block;
            line-height: normal !important;
            text-overflow: ellipsis;
            height: auto;
            overflow: hidden;
            margin-left: 10px;
            .pull-left();
            width: 70%;
            max-height: 33px;

        }

        .author-image {
            position: relative;
            .pull-left();
            width: 30px !important;
            border: 1px solid grey;
        }

        .user {
            display: block;
            position: relative;
            width: 100%;
            color: @green;
            margin-top: 5px;
            margin-left: 20px;
            font-size: 15px;
            font-weight: 300;
            line-height: normal !important;
        }
    }
}

#header {
    .navbar-inner {
        background-image: none;
        background-color: black;

        .container {
            .left-container {
                ul.nav.sections {
                    li {
                        a {
                            font-size: 15px;
                            font-weight: 500;
                            //text-transform: uppercase;
                            color: white;

                            &:hover {
                                color: @green;
                            }
                        }
                    }
                    li.active {
                        a {
                            color: @green;
                            background: none;
                        }
                        border-bottom: 2px solid @green;
                    }
                }
            }

            .right-container {
                .navbar-search, .dropdown.user, .dropdown.share {
                    .pull-left();
                }
                .btn-login {
                    background-color: #A0CE2E;
                    color: white;
                    font-size: 12px;
                    border: 0;
                    margin-left: 8px;
                    margin-right: 8px;
                    margin-top: 7px;
                    .border-radius(3px);
                    height: 26px;
                    padding-left: 13px;
                    padding-right: 13px;
                    font-weight: 500;
                    text-transform: uppercase;

                    i {
                        height: 16px;
                        vertical-align: middle;
                        margin-right: 6px;
                    }

                    &:hover {
                        background-color: #B8DD1B;
                    }
                }

                .btn-upload-video.notlogged {
                    margin-top: 7px;
                    margin-left: 7px;
                    margin-right: -4px;

                    &:hover {
                        color: white;
                    }
                }
            }

        }

        #collapse-me {
            margin-left: 10px;
            clear: both;
            li {
                border-bottom: 1px solid #686868;
                &:last-child {
                    border: 0;
                    margin-bottom: 10px;
                }
            }
            a {
                font-weight: 400;
                color: white !important;
                font-size: 25px;
                line-height: 38px;

                &:hover {
                    color: @green !important;
                }
            }
        }
    }
}

.newGreenType {
    color: @green;
    font-weight: 100;
    font-size: 25px;

    strong {
        font-weight: 400;
    }
}

div.invite-modal {
    background-color: white;
    .border-radius(5px);
    height: 500px;
    margin-top: 15%;

    div.title-bar {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        height: 50px;
        font-size: 20px;
        color: white;
        background: url('../images/bg-bar-modal.jpg');

        span.title {
            position: relative;
            top: 15px;
            left: 15px;
        }

        span.close-button {
            width: 29px;
            height: 29px;
            background: url("../images/modal/close.png") no-repeat top;
            float: right;
            cursor: pointer;
            position: relative;
            z-index: 5;
            top: 10px;
            right: 10px;
            &:hover {
                background-position:bottom;
            }
        }
    }

    ul.nav-tabs {
        background-color: #f9f9f5;
        padding-top: 15px;
        li {
            &:first-child {
                margin-left: 15px;
            }

            img {
                margin-right: 12px;
            }
        }
    }

    div.content-modal {
        display: none;

        &.active {
            display: block;
        }

        .btn.loading-small {
            width: auto;
        }

        &[data-type='facebook'] {
            div.not-logged {
                display: none;
                span {
                    font-size: 15px;
                    font-weight: 300;
                    margin-top: 60px;
                    margin-bottom: 10px;
                    text-align: center;
                    width: 100%;
                    display: block;
                }
                button {
                    margin: 50px auto;
                }
            }
            div.is-logged {
                display: none;

                div.invite-block {
                    display: block;
                    position: relative;
                    .size(310px, 100%);

                    span.top {
                        .clearfix();
                        span.title {
                            font-size: 22px;
                            font-weight: 300;
                            color: @grayDark;
                        }
                    }

                    div.fan-friends {
                        .pull-left();
                        .size(100%, 33%);
                        padding: 0 15px 0 15px;
                        box-sizing: border-box;
                        overflow-x: hidden;
                        overflow-y: scroll;

                        ul {
                            margin-top: 10px;

                            li {
                                .size(40px, 100%);
                                .pull-left();
                                box-sizing: border-box;
                                margin-bottom: 5px;

                                &.notpair {
                                    padding-right: 5px;
                                }

                                img {
                                    margin-right: 10px;
                                    .size(40px, auto);
                                }
                                img, span {
                                    .pull-left()
                                }
                                .name {
                                    font-size: 11px;
                                    font-weight: 600;
                                }
                                .location {
                                    font-weight: 300;
                                    font-size: 10px;
                                }
                            }
                        }
                    }

                    div.invite-friends {
                        .pull-left();
                        .size(100%, 66%);
                        padding: 0 15px 0 15px;
                        box-sizing: border-box;
                        overflow-x: hidden;
                        overflow-y: scroll;

                        ul {
                            margin-top: 10px;

                            li {
                                .size(40px, 50%);
                                .pull-left();
                                box-sizing: border-box;
                                margin-bottom: 5px;

                                &.notpair {
                                    padding-right: 5px;
                                }

                                img {
                                    margin-right: 10px;
                                    .size(40px, auto);
                                }

                                img, span {
                                    .pull-left()
                                }

                                .name {
                                    font-size: 11px;
                                    font-weight: 600;
                                }

                                .location {
                                    font-weight: 300;
                                    font-size: 10px;
                                }

                                .invite-checkbox {
                                    float: right;
                                    margin-right: 12px;

                                    i {
                                        margin-top: 2px;
                                    }
                                }
                            }
                        }
                    }
                }

                button.submit-invite {
                    font-size: 20px;
                    font-weight: 300;
                    padding: 15px;
                    margin-left: 30%;
                    margin-top: 10px;
                }
            }
        }

        &[data-type='twitter'] {
            div.not-logged {
                display: none;
                span {
                    font-size: 15px;
                    font-weight: 300;
                    margin-top: 60px;
                    margin-bottom: 10px;
                    text-align: center;
                    width: 100%;
                    display: block;
                }
                button {
                    margin: 50px auto;
                }
            }
            div.is-logged {
                display: none;

                form {
                    display: block;
                    width: 60%;
                    height: auto;
                    margin: 0 auto;
                    margin-top: 10%;
                    .clearfix();

                    span {
                        float: left;
                        font-size: 17px;
                        font-weight: 300;
                        margin-bottom: 10px;
                    }

                    textarea {
                        float: left;
                        width: 100%;
                        height: 100px;
                        .clearfix();
                    }

                    button {
                        float: right;

                        &:last-child {
                            margin-right: 10px;
                        }
                    }
                }
            }

        }

        &[data-type='email'] {
            form {
                width: 60%;
                margin: 50px auto;
                display: block;
                position: relative;

                span.legend {
                    .pull-right();
                    .clearfix();
                    margin-top: 20px;
                    margin-bottom: 10px;
                    color: gray;
                    font-weight: 300;
                }

                ul.tagit {
                    width: 97%;
                    margin-bottom: 5px;
                    margin-left: 0;
                }

                input.email, textarea.msg {
                    width: 97.5%;
                    font-weight: 300;
                    color: black;

                    &.msg {
                        height: 100px;
                    }
                }

                span.actions {
                    .pull-right();
                    textarea {
                        height: 100px;
                    }
                }

            }
        }
    }
}

button.fb_button {
    .size(44px, 222px);
    display: block;
    border: 0;
    background-image: url('../images/bt-fb-conectarse.png');

    .fb_button_text { font-size: 14px; }

    &:hover {
        opacity: 0.9;
    }
}

button.tw_button {
    .size(44px, 222px);
    display: block;
    border: 0;
    background-image: url('../images/bt-tw-conectarse.png');

    .fb_button_text { font-size: 14px; }

    &:hover {
        opacity: 0.9;
    }
}

.twitter-login, .facebook-login {
    display: block;
    width: 100%;
    height: 45px;
    cursor: pointer;
    border: 0;

    &.facebook-login {
        background-color: #495194;
        i {
            background-image: url('../images/ico-facebook-registro.png');
        }
        span {
            margin-left: 63px;
        }
    }
    &.twitter-login {
        background-color: #6cc8e6;
        i {
            background-image: url('../images/ico-twitter-registro.png');
        }
        span {
            margin-left: 73px;
        }
    }

    i {
        background-color: transparent;
        .square(45px);
        .pull-left();
        border-right: 1px solid white;
    }


    span {
        line-height: 45px;
        font-size: 20px;
        color: white;
        font-weight: 400;
        float: left;
    }
}
