.fullwidth {
    width: 100% !important;
}

.loadmore {
    .btn;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.internal_buttons {
    text-align: right;
}

.share_content{
    .btn.share {
        .btn-success;
    }

    .share-box {
        .size(auto, 505px);
        right: 37%;
        background-color:  #ffffff;
        border:  2px solid #e2e2e4;
        border-radius: 3px;
        position: absolute;
        color: @black;
        z-index: 9999999;

        .arrow {
            top: -6px;
            position: absolute;
            left: 50%;
        }

        h4 {
            color: @black;
            float: left;
        }

        .btn {
            color: white !important;
        }

        input {
            border: 2px solid #e2e2e4;
            background-color: @white;
            float: left;
        }

        .top {
            color: @black;
            height:  70px;

            i.close-share {
              display: block;
              z-index: 99999999999999;
              position: absolute;
              top: 5px;
              right: 5px;
              background-image: url("../images/ui/closealert.png") !important;
              .square(14px);
              background-position: top;
              cursor: pointer;

              &:hover {
                background-position: bottom;
              }
            }

            input.wywtsay{
                border: 2px solid #e2e2e4;
                background-color: @white;
                width: 80%;
                float: left;
                margin-left: 45px;
                margin-top: 20px;
            }

            p{
                text-align: left;
                font-size: 15px;
                color: #333333;
                font-weight: bold;
                margin-left: 30px;
                margin-top: 20px;
            }
        }

        .bottom{

            div.sharewith{
                margin-left: 5px;
                margin-bottom: 15px;

                input{
                    width:  411px;
                }
            }

            border-top: 2px solid #e2e2e4;
            background-color: #f9f9f9;
            height: 85px;
            padding-left: 41px;
            padding-right: 44px;
            padding-top: 10px;
        }

    }
}

.btn-checkbox{
    background-image: url("../images/fw_sprite_share.png") !important;
    background: transparent;
    border: 0;
    .square(30px);
    background-repeat: none;

    &:hover{
        background: transparent;
        border: 0;
    }

    &.fb{
        background-position: -33px 63px !important;

        &.active, &:hover{
            background-position: -33px 35px !important;
        }
    }

    &.tw{
        background-position: -3px 63px !important;

        &.active, &:hover{
            background-position: -3px 35px !important;
        }
    }

    &.fw{
        width: 35px;
        background-position: 41px 63px !important;

        &.active, &:hover{
            background-position: 41px 35px !important;
        }
    }
}

.btn_action {
    .btn;
    .btn-primary;
}

.btn-small [class^="icon-"] {
    margin-top: 1px;
    margin-right: 1px;
}

.loading [class^="icon-"],
.loading-small [class^="icon-"] {
    display: none;
}

#report {

    height: 120px;

    .greybox {
        width:295px;
        height:200px;

            #category {
                width: 310px;
            }

            #comment {
                width: 300px;
            }

            #submit-report {
                margin-left: 235px;
            }


            .alreadyReported {
                margin-top: 25%;
                border-color:#b2b2b2;
                border-style:dashed;
                border-width:2px;
                text-align:center;
            }
    }

}


.inviteFriends {

    .friendlist {
        img {
            width: 80px;
            margin-bottom: 3px;
        }
    }

    .befan {
        margin-bottom: 18px;
        margin-left: 6px;
    }

    img {width: 180px;}
    h4 {color: #555;}
    a {text-decoration: none;}

    height: 400px;
    width: 400px;
    margin-top: 30px;
    margin-left: 30px;

    .greybox {
        width: 370px;
        height: 400px;

        .urlShare {
            width: 400px;
        }
        .alreadyReported {
            margin-top: 25%;
            border-color:#b2b2b2;
            border-style:dashed;
            border-width:2px;
            text-align:center;
        }
    }

}

.video-std-block {
    &:hover {
        i.play-video {
            opacity: 1;
        }
    }

    i.play-video {
        background-image: url('../images/play-icon.png');
        background-size: 25px;
        .square(25px);
        position: absolute;
        left: 10px;
        top: 10px;
        opacity: 0.5;

        &:hover{
            opacity: 1;
        }
    }

    img.back-thumb {
        width: 100% !important;
        height: auto !important;
    }

    .title-and-user {
        position: absolute;
        //margin-top: -11px
        bottom: 0;
        left: 0;
        width: 100%;
        height: auto;
        background: url('../images/ui/pix80trans.png');
        background-repeat: repeat;
        padding: 10px;

        .title {
            position: relative;
            color: white;
            font-weight: 600;
            font-size: 12px;
            display: block;
            line-height: normal !important;
            text-overflow: ellipsis;
            height: auto;
            overflow: hidden;
            margin-left: 10px;
            .pull-left();
            width: 70%;
            max-height: 30px;

        }

        .author-image {
            position: relative;
            .pull-left();
            width: 30px !important;
            border: 1px solid grey;
        }

        .user {
            display: block;
            position: relative;
            width: 100%;
            color: @green;
            margin-top: 5px;
            margin-left: 20px;
            font-size: 15px;
            font-weight: 300;
            line-height: normal !important;
        }
    }
}