.semantic-grid {
@import "third-plugins/grid.less";
	@columns: 12;
	@column-width: 60;
	@gutter-width: 10;
	@total-width: 100%;

	&.videos-container {
		.video {
			.column(2,12);
			margin-bottom: 15px;

			&.double {
				//.column(4.8, 12);
			}

			.video-std-block;

			@media screen and (max-width: 480px) {
				.column(12);
			}

			@media screen and (min-width: 481px) and (max-width: 767px) {
				.column(6,12);
			}

			@media screen and (min-width: 768px) and (max-width: 980px) {
				.column(3,12);
			}

			@media screen and (min-width: 1470px) {
				.column(1.5, 12);
			}
		}
	}

	&.photos-container {
		.photo {
			.column(2, 12);
			margin-bottom: 10px;

			.photo-std-block;

			@media screen and (max-width: 480px) {
				.column(12);
			}

			@media screen and (min-width: 481px) and (max-width: 767px) {
				.column(6,12);
			}

			@media screen and (min-width: 768px) and (max-width: 980px) {
				.column(3,12);
			}

			@media screen and (min-width: 1470px) {
				.column(1.5, 12);
			}
		}
	}
}