header.home-header {
    font-family: "Open Sans";
    color: @white;
    .size(700px, 100%);
    //background: url('../images/back-nasty.jpg');
    background-color: @black;
    position: relative;
    margin-bottom: 20px;

    h1.title {
        padding-top: 30px;
        margin-bottom: 60px;
        font-size: 25px;
        font-weight: 300;
        color: @white;
        text-align: center;

        b {
            font-weight: 600;
        }
    }

    div.center-container {
        .size(406px, 960px);
        margin: 0 auto;
        display: block;
        position: relative;
        padding: 0;

        ul.sections {
            display: block;
            width: 180px;
            .pull-left();
            margin: 0;
            padding: 0;
            background-color: @black;
            background: url('../images/bg_module_home.png') repeat;

            li {
                text-align: left;
                color: @gray;
                font-size: 20px;
                font-weight: 300;
                padding: 20px;
                background-color: @black;
                background: url('../images/bg_module_home.png') repeat;
                cursor: pointer;

                &.active {
                    background: none;
                    background-color: black;
                    color: gold;
                    cursor: initial;
                }
            }
        }

        div.thumb-container {
            display: block;
            .pull-left();
            width: 500px;
            height: 100%;
            overflow: hidden;

            img {
                .size(100%, 100%);
            }

            i.play-video {
                background-image: url('../images/play-icon.png');
                background-size: 100px;
                .square(100px);
                position: absolute;
                left: 39%;
                top: 39%;
                opacity: 0.5;

                &:hover{
                    opacity: 1;
                }
            }
        }

        .content-container {
            display: block;
            .pull-left();
            .size(346px, 220px);
            margin: 0;
            padding: 30px;
            background-color: black;
            position: relative;

            span {
                color: @gray;
                font-weight: 100;
            }

            h1 {
                color: gold;
                font-weight: 300;
            }

            h2 {
                color: @white;
                font-weight: 300;
            }

            p {
                color: @white;
                font-weight: 100;
                font-size: 13px;
                margin-top: 30px;
            }

            button {
                position: absolute;
                bottom: 30px;
                font-weight: 100;
                font-size: 18px;
                text-align: center;
                .border-radius(3px);
                height: 50px;
                padding: 8px 10px 8px 10px;

                &.explore {
                    background-color: @black;
                    color: white;
                    border: 1px solid gray;
                }

                &.register{
                    left: 127px;
                    background-color: @green;
                    color: white;
                    border: 0;
                }
            }
        }
    }

    ul.tabs {
        width: 461px;
        margin: 0 auto;
        display: block;
        position: relative;
        margin-top: 98px;

        /*&[data-user-logged*="true"]{
            left: 39%;
        }

        &[data-user-logged*="false"]{
            left: 31%;
        }*/

        li {
            .pull-left();
            font-size: 25px;
            font-family: "Open Sans";
            font-weight: normal;
            color: @white;
            .size(auto, auto);
            padding: 25px;
            cursor: pointer;

            &.active {
                background-color: white;
                border-top: 2px solid orange;
                color: @black;
                cursor: initial;
            }
        }
    }
}

section.home-content {
    font-family: "Open Sans";

    h1.legend {
        font-size: 25px;
        text-align: center;
        font-weight: 300;

        b {
            font-weight: 600;
        }
    }

    .content-container {
        div.tags {
            margin-top: 30px;
            margin-bottom: 35px;

            .pull-left {
                width: 70%;
                padding-left: 20px;

                span.label {
                    font-size: 13px;
                    font-weight: 300;
                    color: @black;
                    cursor: pointer;
                    padding: 10px;

                    &.active {
                        background-color: @green;
                        color: @white;
                    }

                    &:hover {
                        color: @white;
                        background-color: @green;
                    }
                }
            }

            .pull-right {
                width: 20%;
                font-size: 25px;
                font-weight: 300;
                color: black;
                text-align: right;
                margin-right: 20px;

                &:hover {
                    text-decoration: none;
                }
            }
        }

        .fans-list {
            margin-top: 30px;
            .btn-group {
                .hidden();
            }
        }

        .events-grid {
            margin-top: 30px;
        }

        .elements {
            /* Prevent vertical gaps */
            line-height: 0;
            -webkit-column-count: 5;
            -webkit-column-gap:   10px;
            -moz-column-count:    5;
            -moz-column-gap:      10px;
            column-count:         5;
            column-gap:           10px;
            margin-top:         30px;

         }
         .item {
              width: 18%;
              margin: 5px 0.1%;
              float: left;
              overflow: hidden;
              position: relative;
              background: #888;
              color: #222;
              border: 1px solid #2f3344;
            }
              .image {
                max-width:33.3%; 
                display:block;
                vertical-align:middle;
                margin-bottom:0px;
                width: 33.3%;
              }
              .container {
                min-height:20px;
                padding:0px;
                margin-bottom:0px;
                background-color:#f5f5f5;
           .title-and-user {
               position: absolute;
               //margin-top: -11px
               bottom: 0;
               left: 0;
               width: 100%;
               height: auto;
               background: url('../images/ui/pix80trans.png');
               background-repeat: repeat;
               padding: 10px;

               .title {
                   position: relative;
                   color: white;
                   font-weight: 600;
                   font-size: 12px;
                   display: block;
                   line-height: normal !important;
                   text-overflow: ellipsis;
                   height: auto;
                   overflow: hidden;
                   margin-left: 10px;
                   .pull-left();
                   width: 60%;

               }

               .author-image {
                   position: relative;
                   .pull-left();
                   width: 30px !important;
                   border: 1px solid grey;
               }

               .user {
                   display: block;
                   position: relative;
                   width: 100%;
                   color: @green;
                   margin-top: 5px;
                   margin-left: 20px;
                   font-size: 15px;
                   font-weight: 300;
                   line-height: normal !important;
               }
           }
         }
        
       .elements div.element {
           /* Just in case there are inline attributes */
           width: 100% !important;
           height: auto !important;
           position: relative;
           margin-bottom: 10px;

           &:hover {
               i.play-video {
                   opacity: 1;
               }
           }

           i.play-video {
               background-image: url('../images/play-icon.png');
               background-size: 50px;
               .square(50px);
               position: absolute;
               left: 39%;
               top: 30%;
               opacity: 0.5;

               &:hover{
                   opacity: 1;
               }
           }

           img.back-thumb {
               width: 100% !important;
               height: auto !important;
           }

           .title-and-user {
               position: absolute;
               //margin-top: -11px
               bottom: 0;
               left: 0;
               width: 100%;
               height: auto;
               background: url('../images/ui/pix80trans.png');
               background-repeat: repeat;
               padding: 10px;

               .title {
                   position: relative;
                   color: white;
                   font-weight: 600;
                   font-size: 12px;
                   display: block;
                   line-height: normal !important;
                   text-overflow: ellipsis;
                   height: auto;
                   overflow: hidden;
                   margin-left: 10px;
                   .pull-left();
                   width: 60%;

               }

               .author-image {
                   position: relative;
                   .pull-left();
                   width: 30px !important;
                   border: 1px solid grey;
               }

               .user {
                   display: block;
                   position: relative;
                   width: 100%;
                   color: @green;
                   margin-top: 5px;
                   margin-left: 20px;
                   font-size: 15px;
                   font-weight: 300;
                   line-height: normal !important;
               }
           }
        }

        @media (max-width: 1200px) {
            .elements {
                -moz-column-count:    4;
                -webkit-column-count: 4;
                column-count:         4;
            }
        }
        @media (max-width: 1000px) {
            .elements {
                -moz-column-count:    3;
                -webkit-column-count: 3;
                column-count:         3;
            }
        }
        @media (max-width: 800px) {
            .elements {
                -moz-column-count:    2;
                -webkit-column-count: 2;
                column-count:         2;
            }
        }
        @media (max-width: 400px) {
            .elements {
                -moz-column-count:    1;
                -webkit-column-count: 1;
                column-count:         1;
            }
        }
    }
}

section[data-type-tab*=participate] {
    ul.events-grid {
        li.event {
            width: 23%;
        }
    }
}


/*  HOME RESPONSIVE  */

@media(max-width: 796px) {

}

@media(max-width: 800px) {
    section[data-type-tab*=participate] {
        ul.events-grid {
            li.event {
                width: 48%;
            }
        }
    }
}

@media(max-width: 990px) {
    header.home-header {
        div.center-container {
            width: 768px;

            ul.sections {
                display: block;
                float: none;
                width: 100%;
                background: #535353;
                height: 58px;

                li {
                    font-size: 17px;
                    float: left;
                    background: #535353 !important;
                }
            }

            div.thumb-container {
                width: 458px;

                i.play-video {
                    left: 23%;
                    top: 49%;
                }
            }

            div.content-container {
                width: 250px;
            }
        }
    }

    section[data-type-tab*=participate] {
        ul.events-grid {
            li.event {
                width: 31%;
            }
        }
    }
}