header.home-header {
    font-family: "Open Sans";
    color: @white;
    //.size(700px, 100%);
    //background: url('../images/back-nasty.jpg');
    //background-color: @black;
    .size(auto, 100%);
    background-color: black;
    position: relative;
    margin-bottom: 20px;

    h1.title {
        display: none;

        padding-top: 30px;
        margin-bottom: 60px;
        font-size: 25px;
        font-weight: 300;
        color: @white;
        text-align: center;

        b {
            font-weight: 600;
        }
    }

    div.center-container {
        .size(380px, 100%);
        margin: 0;
        position: relative;
        padding: 0;
        overflow: hidden;

        ul.sections {
            display: block;
            width: 800px;
            margin: 0 auto;
            padding: 0;
            background-color: black;
            //background: url('../images/bg_module_home.png') repeat;

            li {
                .pull-left();
                text-align: left;
                color: @grayDark;
                font-size: 19px;
                font-weight: 300;
                padding: 20px;
                background-color: black;
                //background: url('../images/bg_module_home.png') repeat;
                cursor: pointer;
                border-right: 1px solid #292728;

                &:last-child {
                    border-right: 0;
                }

                &.active {
                    //background: none;
                    border-bottom: 2px solid @green;
                    background-color: #292728;
                    color: @grayLight;
                    cursor: initial;
                }
                &.active:hover {    
                    color: @grayLight !important;
                }   
                &:hover {
                    color: @green;
                }
            }
        }

        div.category-container {
            .size(100%, 100%);
            overflow: hidden;
            margin: 0 auto;
            clear: both;
            position: relative;

            div[data-category-id] {
                width: 960px;
                display: block;
                height: 320px;
                margin: 0 auto;
                position: relative;

                i.play-video {
                    background-image: url('../images/play-icon.png');
                    background-size: 100px;
                    .square(100px);
                    position: absolute;
                    left: 24%;
                    top: 24%;
                    opacity: 0.5;

                    &:hover{
                        opacity: 1;
                    }
                }

                &.hidden {
                    display: none !important;
                }

                .content-container {
                    display: block;
                    .size(200px, 400px);
                    padding: 20px;
                    position: absolute;
                    right: 0;
                    top: 20px;
                    background-image: url('../images/home/bg_module_home.png');

                    span {
                        color: @gray;
                        font-weight: 100;
                    }

                    h1 {
                        color: gold;
                        font-weight: 300;
                        font-size: 20px;
                    }

                    h2 {
                        color: @white;
                        font-weight: 300;
                        line-height: 22px;
                        font-size: 20px;
                        margin-top: -5px;
                        height: 45px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    p {
                        color: @white;
                        font-weight: 100;
                        font-size: 13px;
                        margin-top: 10px;
                        height: 55px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    button {
                        position: absolute;
                        bottom: 10px;
                        font-weight: 100;
                        font-size: 18px;
                        text-align: center;
                        .border-radius(3px);
                        height: 50px;
                        padding: 8px 10px 8px 10px;

                        &.explore {
                            background-color: @black;
                            color: white;
                            border: 1px solid gray;
                        }

                        &.register{
                            left: 127px;
                            background-color: @green;
                            color: white;
                            border: 0;
                        }
                    }
                }
            }
        }
    }

    ul.tabs {
        /*margin: 0 auto;
        display: block;
        position: relative;
        margin-top: 98px;*/
        position: absolute;
        bottom: -1px;
        left: 38%;

        &[data-user-logged*="true"]{
            width: 296px;
        }

        &[data-user-logged*="false"]{
            width: 461px;
        }

        li {
            margin-right: 2px;
            .pull-left();
            font-size: 15px;
            font-family: "Open Sans";
            font-weight: 300;
            .size(auto, auto);
            padding: 15px;
            cursor: pointer;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            background-color: @grayLight;
            border-bottom: 1px solid @gray;
            color: @black;

            &.active {
                background-color: white;
                //border-top: 2px solid orange;
                cursor: initial;
                border-bottom: 0;
            }

            a {
                color: inherit;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

section.home-content {
    font-family: "Open Sans";

    h1.legend {
        font-size: 25px;
        text-align: center;
        font-weight: 300;

        b {
            font-weight: 600;
        }
    }

    .content-container {
        div.tags {
            margin-top: 30px;
            margin-bottom: 35px;

            .pull-left {
                width: 70%;
                padding-left: 20px;

                span.label {
                    font-size: 13px;
                    font-weight: 300;
                    color: @black;
                    cursor: pointer;
                    padding: 10px;

                    &.active {
                        background-color: @green;
                        color: @white;
                    }

                    &:hover {
                        color: @white;
                        background-color: @green;
                    }
                }
            }

            .pull-right {
                width: 20%;
                font-size: 25px;
                font-weight: 300;
                color: black;
                text-align: right;
                margin-right: 20px;

                &:hover {
                    text-decoration: none;
                }
            }
        }

        .fans-list {
            margin-top: 30px;
            .btn-group {
                .hidden();
            }
        }

        .events-grid {
            margin-top: 30px;
        }

        .elements {
            /* Prevent vertical gaps */
            line-height: 0;
            -webkit-column-count: 5;
            -webkit-column-gap:   10px;
            -moz-column-count:    5;
            -moz-column-gap:      10px;
            column-count:         5;
            column-gap:           10px;
            margin-top:         30px;

         }

       .elements div.element {
           /* Just in case there are inline attributes */
           width: 100% !important;
           height: auto !important;
           position: relative;
           margin-bottom: 10px;

           &:hover {
               i.play-video {
                   opacity: 1;
               }
           }

           i.play-video {
               background-image: url('../images/play-icon.png');
               background-size: 50px;
               .square(50px);
               position: absolute;
               left: 39%;
               top: 30%;
               opacity: 0.5;

               &:hover{
                   opacity: 1;
               }
           }

           img.back-thumb {
               width: 100% !important;
               height: auto !important;
           }

           .title-and-user {
               position: absolute;
               //margin-top: -11px
               bottom: 0;
               left: 0;
               width: 100%;
               height: auto;
               background: url('../images/ui/pix80trans.png');
               background-repeat: repeat;
               padding: 10px;

               .title {
                   position: relative;
                   color: white;
                   font-weight: 600;
                   font-size: 12px;
                   display: block;
                   line-height: normal !important;
                   text-overflow: ellipsis;
                   height: auto;
                   overflow: hidden;
                   margin-left: 10px;
                   .pull-left();
                   width: 60%;

               }

               .author-image {
                   position: relative;
                   .pull-left();
                   width: 30px !important;
                   border: 1px solid grey;
               }

               .user {
                   display: block;
                   position: relative;
                   width: 100%;
                   color: @green;
                   margin-top: 5px;
                   margin-left: 20px;
                   font-size: 15px;
                   font-weight: 300;
                   line-height: normal !important;
               }
           }
        }

        @media (max-width: 1200px) {
            .elements {
                -moz-column-count:    4;
                -webkit-column-count: 4;
                column-count:         4;
            }
        }
        @media (max-width: 1000px) {
            .elements {
                -moz-column-count:    3;
                -webkit-column-count: 3;
                column-count:         3;
            }
        }
        @media (max-width: 800px) {
            .elements {
                -moz-column-count:    2;
                -webkit-column-count: 2;
                column-count:         2;
            }
        }
        @media (max-width: 400px) {
            .elements {
                -moz-column-count:    1;
                -webkit-column-count: 1;
                column-count:         1;
            }
        }
    }
}

section[data-type-tab*=participate] {
    ul.events-grid {
        li.event {
            width: 23%;
        }
    }
}


/*  HOME RESPONSIVE  */

@media(max-width: 796px) {

}

@media(max-width: 800px) {
    section[data-type-tab*=participate] {
        ul.events-grid {
            li.event {
                width: 48%;
            }
        }
    }
}

@media(max-width: 874px) {
    header.home-header {
        height: 636px;

        .title {
            padding-top: 18px !important;
            margin-bottom: 18px !important;
            font-size: 18px !important;
        }

        ul.tabs {
            li {
                font-size: 20px;
                padding: 20px;
            }

            &[data-user-logged*=true] {
            }

            &[data-user-logged*=false] {
                width: 370px;
            }
        }

        div.center-container {
           width: 100% !important;

           ul.sections {
               height: 41px !important;
               li {
                   font-size: 12px !important;
                   padding: 12px;
               }
           }

           div.thumb-container {
               width: 100% !important;
               height: 320px;
               overflow: hidden;
               display: block;
               float: none;

               img {
                   width: 100%;
                   height: auto;
               }

               i.play-video {
                   left: 42% !important;
                   top: 44% !important;
               }
           }

           div.content-container {
               width: 100% !important;
               height: 70px;
               padding: 0;
               position: relative;
               float: none;
               padding-top: 25px;

               h1, h2 {
                   float: left;
                   width: auto;
               }

               span {
                    width: auto;
                    float: left;
                    margin-left: 25px;
               }

               h1 {
                    clear: left;
                    margin-left: 25px;
               }

               h2 {
                    margin-left: 10px;
               }

               p {
                   .hide();
               }

               button {
                   bottom: 23px;
                   left: initial;

                   &.register {
                       left: initial;
                       right: 118px;
                   }

                   &.explore {
                       right: 20px;
                   }
               }
           }
        }
    }
}

@media(max-width: 990px) {
    section[data-type-tab*=participate] {
        ul.events-grid {
            li.event {
                width: 31%;
            }
        }
    }

    section[data-type-tab*=activityFeed] {
        section.span3 {
            .hide();
        }
    }
}