/* estilo generico para los elementos dentro del isotope */
.isotope_container {
  margin-left: auto;
  margin-right: auto;
    .item {
        margin: 5px 0.1%;
        float: left;
        overflow: hidden;
        position: relative;
        background: #fff;
        color: #222;
        border: 1px solid #2f3344;
        -moz-transition: -moz-box-shadow 0.25s;
        -webkit-transition: -webkit-box-shadow 0.25s;
        -o-transition:  -o-box-shadow 0.25s;
        transition: box-shadow 0.25s;
        &:hover {

        }
        .cosas {
            min-height:20px;
            .video-std-block;
        }
    }
}