// STACKED NAV
// -----------

.nav-stacked() {
    height: auto;
    > li {
        float: none;
        .active{
            background: none;
        }      
        > a {
            margin-right: 0; 
            .border-radius(0);
        }  
        
        > a:hover {
            border-color: #ddd;
            z-index: 2;
        }
    }
}
    

