/* General */
.navbar{
    .nav-collapse .nav > li > a{
        color: #E4E1BC;
    }
    
    .btn-navbar{
        position: relative !important;
    }
    
    .nav > li > a{
        color: #e4e1bc;
        font-size: 15px;
        &:hover {
            color: @white;
        }
    }
    
    .nav  li.show-on-collapse{
        display: none;  
    }
    
    .user-menu li > a {
        font-size: 13px;
    }
    
    .avatar {
        .square(40px);
        .pull-right();
        img {
            .square(40px);
        }
    }
    .brand{
        margin-left: 0;
        padding-bottom: 10px; 
    }
}

/* Header Only */
header.navbar{
    ul.nav li.dropdown a.dropdown-toggle.username{
        padding: 0;
        span{
            max-width: 105px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: inline-block;
            position: relative;
            top: 3px;
        }
        
        b#overimage{
            position: absolute;
            right: 4px;
            top: 14px;
            visibility: hidden;
        }
    }
        


}



/* Footer  Only*/
footer.navbar{
    font-size: 13px;
    .nav > li > a{
        font-size: 13px;
        .icon{
            padding-top: 7px;
        }
    }
    
    .institutional > li {
        > a {
            font-size: 12px;
        }
        
        > .icon {
            padding-left: 2px;
            padding-right: 2px;
        }
        &:last-child > .icon {
            padding-right: 10px;
        }
    }
    div.navbar-inner{
        min-height: 36px;
        div.container{
            overflow: hidden;
            height: 36px;
        }
     }
}


.navbar-fixed-top , .navbar-fixed-bottom {
    .container{
        width:100% !important;
    }
}

#header .navbar-inner .container {
    .left-container {
        .pull-left();
    }
    .right-container {
        .pull-right();
        .navbar-search {
          position: relative;
          .navbarVerticalAlign(26px); // Vertically center in navbar
          margin-bottom: 0;

            .search-button {
                margin-left: -5px;
                height: 26px;
                border-radius: 0 3px 3px 0;
                width: 26px;
                background-color: white;
                .transition(none);
                .box-shadow(none);
                border: 0;
            }

            i{
                &.icon-search {
                    position: absolute;
                    right: 8px;
                    top: 4px;
                }
                &.loading-small {
                    position: absolute;
                    .size(16px, 19px);
                    left: -2px;
                    top: 3px;
                }
            }

          .search-query {
            padding: 4px 10px;
            outline: 0;
            border: 0;
            color: @black;
            background-color: @navbarSearchBackgroundFocus;
            .transition(none);
            .border-radius(3px 0 0 3px);
            .box-shadow(none);
            width: 525px;

            @media(max-width: 1210px) {
                width: 400px;
            }

            @media(max-width: 1100px) {
                width: 200px;
            }

            @media(max-width: 1099px){
                width: 154px;
            }

            @media(max-width: 605px) {
                width: 100px;
            }
            
            @media(max-width: 455px) {
                width: 50px;
            }

            // Focus states (we use .focused since IE7-8 and down doesn't support :focus)
            &:focus,
            &.focused {
                padding: 4px 10px;
                color: @black;
                background-color: @navbarSearchBackgroundFocus;
                border: 0;
                outline: 0;
                .box-shadow(none)
            }
          }

            .tt-dropdown-menu {
              background-color: @white;
              width: 100%;

              .tt-suggestion {
                float: left;
                width: 100%;

                .container {
                    .name {
                        color: @black;
                        margin-left: 10px;
                        float: left;
                        max-width: 178px;
                        line-height: 32px;
                    }

                    float: left;
                    border-bottom: 1px solid @grayLight;

                    strong {
                        font-weight: bold;
                    }
                }

                .image {
                    float: left;
                }
              }

              .tt-is-under-cursor {
                background-color: @green;
                color: @white;
              }
            }
        }
    }
}

.typeahead_wrapper { display: block; height: 30px; }
.typeahead_photo { float: left; max-width: 30px; max-height: 30px; margin-right: 5px; }
.typeahead_labels { float: left; height: 30px; }
.typeahead_primary { font-weight: bold; }
.typeahead_secondary { font-size: .8em; margin-top: -5px; }



