/* General */
.navbar{
    .nav-collapse .nav > li > a{
        color: #E4E1BC;
    }
    
    .btn-navbar{
        position: relative !important;
    }
    
    .nav > li > a{
        color: #e4e1bc;
        font-size: 15px;
        &:hover {
            color: @white;
        }
    }
    
    .nav  li.show-on-collapse{
        display: none;  
    }
    
    .user-menu li > a {
        font-size: 13px;
    }
    
    .avatar {
        .square(40px);
        .pull-right();
        img {
            .square(40px);
        }
    }
    .brand{
        margin-left: 0;
        padding-bottom: 10px; 
    }
}

/* Header Only */
header.navbar{
    ul.nav li.dropdown a.dropdown-toggle.username{
        padding: 0;
        span{
            max-width: 105px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: inline-block;
            position: relative;
            top: 3px;
        }
        
        b#overimage{
            position: absolute;
            right: 4px;
            top: 14px;
            visibility: hidden;
        }
    }
        


}



/* Footer  Only*/
footer.navbar{
    font-size: 13px;
    .nav > li > a{
        font-size: 13px;
        .icon{
            padding-top: 7px;
        }
    }
    
    .institutional > li {
        > a {
            font-size: 12px;
        }
        
        > .icon {
            padding-left: 2px;
            padding-right: 2px;
        }
        &:last-child > .icon {
            padding-right: 10px;
        }
    }
    div.navbar-inner{
        min-height: 36px;
        div.container{
            overflow: hidden;
            height: 36px;
        }
     }
}


.navbar-fixed-top , .navbar-fixed-bottom {
    .container{
        width:100% !important;
    }
}

//Left sidebar nav's styles
nav.leftmenubar{
    .sidebar-nav.well{
        border-radius:0;
        padding: 10px;
        margin: 0;
        height: 100%;
	   .clearfix();
    }
     
    position:fixed;
    overflow: hidden;
   	cursor: move;
   	z-index: 1;
   	.clearfix();
   
    ul > li {
    	cursor: pointer;
        .pull-left;
    }
     
    &.ui-draggable-dragging {
        padding: 0 !important;
        width: 50px !important;
    	height: 50px !important;
    	background-image: url(../images/toolbar_drag.png) !important;
	    background-position: center center !important;
	    background-repeat: no-repeat !important;
    	cursor: none !important;
        
        .well {
	        background-color: transparent !important;
	        border: none !important;
	    	-webkit-box-shadow: none !important;
	        -moz-box-shadow: none !important;
	        box-shadow: none !important;
        }
    }
    
    &.ui-draggable-dragging ul li {
        display: none;
    }
    
    &.top {
        top: 40px;
        left: 0;
        width: 100%;
    }
    
    &.bottom {
        bottom: 36px;
        left: 0;
        width: 100%;
    }
    
    @media (max-width: 767px) {
    	&.left, &.right {
    		top: 40px;
	        left: 0;
	        width: 100%;
        }
    }
    
    @media (min-width: 768px) {
	    &.left {
	        left: 0; 
	        top: 40px;
	        height: 100%;
	    }
	    
	    &.right {
	        right: 0;
	        top: 40px;
	        height: 100%;
	    }
	    
	    &.left ul > li, &.right ul > li {
	    	float: none !important;
	    }
    }
}

// main content frame padding for toolbar
#main-content-frame {
    &.top {
        padding: 60px 10px 0;
    }
    &.bottom {
    	padding: 0 10px;
    }
    
    @media (max-width: 767px) {
        &.left, &.right {
            padding: 60px 10px 0;
        }
    }
    
    @media (min-width: 768px) {
	    &.left {
	    	margin-left: 0;
	    }
	    &.right {
	    	margin-left: 10px;
	    }
    }
}

//Toolbar dropping
.toolbardrop {
	position: fixed;
	opacity: 0.5;
	
	&.top {
        top: 40px;
        left: 0;
        width: 100%;
        height: 60px;
    }
    
    &.bottom {
        bottom: 36px;
        left: 0;
	    width: 100%;
	    height: 60px;
    }
    
    &.drop-hover {
	    background-color: @dropBackground;
	    border: 2px dotted @dropBorder;    
    }
    
    &.drop-active { 
	    background-color: @dropActiveBackground;
	    border: 2px dotted @dropActiveBorder;    
    }
    
    @media (min-width: 768px) {
        &.left {
            left: 0;
            top: 40px;
            width: 60px;
            height: 100%;
        }
        
        &.right {
            right: 0;
            top: 40px;
            width: 60px;
            height: 100%;
        }
    }
}