/* General */
.navbar{
	.nav-collapse .nav > li > a{
		color: #E4E1BC;
	}

	.btn-navbar{
		position: relative !important;
	}

	.nav > li > a{
		color: #e4e1bc;
		font-size: 15px;
		&:hover {
			color: @white;
		}
	}

	.nav  li.show-on-collapse{
		display: none;
	}

	.user-menu li > a {
		font-size: 13px;
	}

	.avatar {
		.square(40px);
		.pull-right();
		img {
			.square(40px);
		}
	}
	.brand{
		margin-left: 0;
		padding-bottom: 10px;
	}
}

/* Header Only */
header.navbar{
	ul.nav li.dropdown a.dropdown-toggle.username{
		padding: 0;
		span{
			max-width: 105px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			display: inline-block;
			position: relative;
			top: 3px;
		}

		b#overimage{
			position: absolute;
			right: 4px;
			top: 14px;
			visibility: hidden;
		}
	}



}



/* Footer  Only*/
footer.navbar{
	font-size: 13px;

	.nav > li > a{
		font-size: 13px;
		color: white;

		&:hover {
			color: @green;
		}

		.icon{
			padding-top: 7px;
		}
	}

	p.navbar-text {
		line-height: 37px;
	}

	.institutional > li {
		> a {
			font-size: 12px;
		}

		> .icon {
			padding-left: 2px;
			padding-right: 2px;
		}
		&:last-child > .icon {
			padding-right: 10px;
		}
	}

	div.navbar-inner{
		min-height: 36px;
		background-image: none;
		background: #3f3f3f; /* Old browsers */
		background: -moz-linear-gradient(top,  #3f3f3f 0%, #191919 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3f3f3f), color-stop(100%,#191919)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #3f3f3f 0%,#191919 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #3f3f3f 0%,#191919 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #3f3f3f 0%,#191919 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #3f3f3f 0%,#191919 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f3f3f', endColorstr='#191919',GradientType=0 ); /* IE6-9 */

		div.container{
			overflow: hidden;
			height: 36px;
		}
	}
}


.navbar-fixed-top , .navbar-fixed-bottom {
	.container{
		width:100% !important;
	}
}

#header .navbar-inner .container {
    .left-container {
        .pull-left();
    }
    .right-container {
        .pull-right();
        .navbar-search {
          position: relative;
          .navbarVerticalAlign(26px); // Vertically center in navbar
          margin-bottom: 0;

            .button-container {
                float: left;
                width: 255px;

                .search-button {
                    width: 100%;
                    background: none;
                    border: none;
                    font-weight: bold;
                    padding: 10px;
                }
            }

            i{
                &.icon-search {
                    position: absolute;
                    right: 8px;
                    top: 4px;
                }
                &.loading-small {
                    position: absolute;
                    .size(16px, 19px);
                    left: -2px;
                    top: 3px;
                }
            }

          .search-query {
            padding: 4px 10px;
            outline: 0;
            border: 0;
            color: @black;
            background-color: @navbarSearchBackgroundFocus;
            .transition(none);
            .border-radius(3px 0 0 3px);
            .box-shadow(none);
            width: 525px;

            @media(max-width: 1210px) {
                width: 400px;
            }

            @media(max-width: 1100px) {
                width: 200px;
            }

            @media(max-width: 1099px){
                width: 154px;
            }

            @media(max-width: 605px) {
                width: 100px;
            }
            
            @media(max-width: 455px) {
                width: 50px;
            }

            // Focus states (we use .focused since IE7-8 and down doesn't support :focus)
            &:focus,
            &.focused {
                padding: 4px 10px;
                color: @black;
                background-color: @navbarSearchBackgroundFocus;
                border: 0;
                outline: 0;
                .box-shadow(none)
            }
        }

        .tt-hint {
            margin-bottom: 0;
            width: 100%;
            height: 27px;
            background-color: @inputBackground;
            border: 1px solid @inputBorder;
            .border-radius(@inputBorderRadius);
            .box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
            @transition: border linear .2s, box-shadow linear .2s;
            .transition(@transition);

            // Focus state
            &:focus {
                border-color: rgba(82,168,236,.8);
                outline: 0;
                outline: thin dotted \9; /* IE6-9 */
                .box-shadow(~"inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6)");
            }
        }

        .tt-dropdown-menu {
            background-color: @white;
            width: 275px;
            border-radius: 3px;
            box-shadow: 1px 1px 10px black;

            .perfiles {
                padding: 1px 5px 1px 5px;
                text-transform: uppercase;
                color: @black;
                font-size: 9px;
                font-weight: bold;
                background-color: #e8e8e8;
                border-top: 1px solid @grayLight;
                border-bottom: 1px solid @grayLight;
                float: left;
                width: 265px;
            }

            .dataset .tt-suggestion {
                border-bottom: 1px solid #e8e8e8;
            }

            .tt-suggestions {
                width: 275px;
                float: left;

                .tt-suggestion {
                    width: 100%;
                    float: left;

                    a {
                        float: left;
                        width: 100%;
                    }

                    .name {
                        color: @black;
                        margin-left: 12px;
                        float: left;
                        line-height: 32px;
                    }

                    strong {
                        font-weight: bold;
                    }

                    .image-container {
                        float: left;

                        .image {
                            float: left;
                        }
                    }
                }

                .tt-is-under-cursor {
                    background-color: @green;

                    p, .name {
                        color: @white !important;
                    }
                }
            }
          }

            .search-history {
                float: left;
                padding: 10px 0 10px 0;
                border-bottom: none;

                p {
                    padding-left: 44px;
                    color: @grayDark;
                    font-style: italic;
                    margin: 0;
                    line-height: 22px;
                }
            }
        }
    }
}

.typeahead_wrapper { display: block; height: 30px; }
.typeahead_photo { float: left; max-width: 30px; max-height: 30px; margin-right: 5px; }
.typeahead_labels { float: left; height: 30px; }
.typeahead_primary { font-weight: bold; }
.typeahead_secondary { font-size: .8em; margin-top: -5px; }