.nav-tabs-profile {
    .nav-tabs;
    
    margin: 0;
    margin-top: 25px;
    border: 0;
    height: 27px;

    li {
        .pull-left();
        margin-right: 10px;
        height: 27px;
    }
    
    li.active {
        background-image: url("../images/arrow_nav.png");
        background-repeat: no-repeat;
        background-position: bottom;
        
        a {
            color: @green;
        }
    }

    a, a:hover  {
        color: @black;
        backgroun: none;
    }
}


#headerProfile {
    border-bottom: 2px solid #d2d2d2;
    margin-bottom: 25px;
}

#restrictedMode .icon-question-sign{
    position: relative;
    left: 5px;
    top: 6px;
}

#socialConnect{
    margin-top: 50px;
}

#avatar img {
    .square(100px);
}

.green-circle{
    width: 22px; height: 22px; 
    -webkit-border-radius: 5em; -moz-border-radius: 5em;
    background-color: #b8ce01;
    border-color: #b8ce01;
    
    p {
        .center-block();
        color: white;
        padding-top: 2px;
        padding-left: 7px;
        font-weight: bold;
    }
}

dl.with-circles {
    dt span {
        margin-top: 3px;
        margin-left: 15px;
    }

    dd {
        margin-top: 15px;
        margin-left: 37px;

        div.row{
            margin-left:1px;
        }
        
        .error-passwords {
            color: @grayDark;
            font-size: 10px;
            width: 100%;
        }

        span.accept-terms {
            p {
                text-decoration: underline;
            }
        }
    }
}
