.nav-tabs-profile {
    .nav-tabs;
    
    margin: 0;
    margin-top: 25px;
    border: 0;
    height: 27px;
    position: relative;
    top: 2px;

    li {
        .pull-left();
        margin-right: 10px;
        height: 27px;
    }

    li.active {
        background-image: url("../images/arrow_nav.png");
        background-repeat: no-repeat;
        background-position: bottom;
        
        a {
            color: @green;
        }
    }

    a, a:hover  {
        color: @black;
        background-color: white !important;
    }
}


#headerProfile {
    border-bottom: 2px solid #d2d2d2;
    margin-bottom: 25px;
}

#restrictedMode .icon-question-sign{
    position: relative;
    left: 5px;
    top: 6px;
}

#socialConnect{
    margin-top: 50px;
}

#avatar {
    width: 100px;
    img{
        .square(100px);
    }
}

.numbered{
    span {
        display: block;
        .size(22px, 26px);
        .border-radius(5em);
        .pull-left();
        margin-top: -5px;
        margin-left: 0;
        margin-right: 11px;
        background-color: #b8ce01;
        border-color: #b8ce01;
        text-align: center;
        padding-top: 5px;
        color: white;
    }
}

dl.with-circles {
    dd {
        margin-top: 15px;
        margin-left: 37px;

        div.row{
            margin-left:1px;
        }
        
        .error-passwords {
            color: @grayDark;
            font-size: 10px;
            width: 100%;
        }

        span.accept-terms {
            p {
                text-decoration: underline;
            }
            input{
                margin-right: 10px;
            }
        }
    }
}

div.form-profile.row {
    margin: 0;
    
    div.column {
        padding-left: 37px;
    }
}

dl.privacies {
    dd {
        margin-bottom: 10px;
    }
}

ul.list-labels {
    li {
        .size(auto, auto);
        display: block;
        .pull-left();
        padding: 3px;
        vertical-align: middle;
        margin-right: 5px;
        
        button.deleteinterest {
            margin-left: 5px;
        }
    }
}

ul.idolships{
        li{
            display:block;
            .square(114px);
            border: 1px solid @gray;
            .pull-left();
        }
        button, span{
            position: relative;
        }
        button{
            top:-25px; 
            margin-left: 5px;
        }
        span.fan-quantity {
            top: -24px;
            .pull-right();
            margin-right: 5px;
            -webkit-text-shadow:0 0 15px black; 
            -moz-text-shadow: 0 0 15px black; 
            text-shadow:0 0 15px black; 
            color: @white;
            font-size: 15px;
            font-weight: bold;
        }
        span.idol-name{
            background-color: transparent;
            border: 1px solid @gray;
            top: -20px;
            left: -1px;
            display: block;
            .size(auto, 100px);
            padding: 7px;
            text-align: left;
            color: @grayDark;
            font-weight: bold;
        }
}