.search-home {
    div.trending-sidebar {
            background-color: @black;
            h4 {    
                color: white;
                margin-top: 20px;
                margin-left: 15px;
            }
            .search.video {
                .video-std-block {
                    display: block;
                    position: relative;
                    margin: 0 auto;
                    width: 100%;
                }
            }
    }

    .span10 {
        padding-left: 20px;
        padding-top: 20px;

        h1 {
            .newGreenType;
            margin-bottom: 20px;
        }
    }

    section.search {
        margin-top: 20px;

        div.topBar {
            color: @black;
            margin-bottom: 15px;
            padding-bottom: 5px;

            .entity-title {
                font-size: 25px;
                text-transform: capitalize;
                font-weight: 100;
            }

            .see-all {
                font-size: 15px;
                .pull-right();
            }
        }

        &.event {
            ul.events-grid {
                li.event { 
                    width: 23%;
                }
            }
        }

        &.video {
            .video-std-block {
                width: 20%;
                display: block;
                position: relative;
                float: left;
                overflow: hidden;
                .border-radius(0);

                @media(max-width: 1020px){
                    width: 33%;
                }
            }
        }
    }
}
