/* estilos para sidebar */
#leftcolumn-sidebar{
    padding-left: 15px;
    border-left: 1px solid #D9D9D9;
    
    h3{
        font-size: 16px;
        color: #8cc63f;
    }
    
    p{
        color: #808080;
        font-size: 13px;
        margin: 10px 0;
    }
}

@media (max-width: 979px) {
    #leftcolumn-sidebar{
        border-left: none;
    }   
}
