div.team-home {
    section.top {
        .size(309px, auto);
        margin-bottom: 4%;
    }
    section.bottom {
        div.title-and-dropdown {
            h4 {
                font-size: 20px;
                font-weight: normal;
                .square(auto);
                float: left;
                color: @green;
            }
            div.select-league {
                float: right;
            }
        }
        div.list-teams {
            dl {
                dt.team {
                    .size(70px, initial);
                    text-align: left;
                    font-weight: normal;

                    p {
                        width: auto;
                        float: left;
                        margin-left: 15px;
                        margin-top: 5px;

                        span {
                            &.name  {
                                font-size: 20px;
                            }
                            &.idols {
                                font-size: 10px;
                                color: @grayDark;
                            }
                        }
                    }
                    img {
                        .square(50px);
                        float: left;
                    }
                }
                dd {
                    .size(70px, initial);
                    float: right;
                    clear: right;
                    padding: 5px 0 9px 15px;

                    button {
                        float: left;
                        margin-right: 10px;
                    }

                    ul {
                        width: auto;
                        float: left;

                        li {
                            float: left;
                            border-right: 1px solid @gray;
                            padding-right: 5px;
                            padding-left: 5px;
                            text-align: center;
                            font-size: 10px;
                            
                            span {
                                font-size: 20px;
                            }
                        }
                        li:first-child {
                            padding-left: 0;
                        }
                        li:last-child {
                            border: none;
                            padding-right: 0;
                        }
                    }
                }
            }
        }
    }
}