//tv breadcrumb's styles'
nav.breadcrumb {
	ul {
		li {
			&.tv {
				font-weight: bold;
				a {
					color: @black;
				}
			}

			&.term {
				color: @green;
			}

			&.subscribirse {
				.pull-right();
				margin-top: -5px;
			}
		}
	}
}

.btn-subscribe {
	.gradient-green();
}

.top-container {
	background-color: #1b1b1b;
	color: @white;
	margin-bottom: 15px;
	//padding-top: 13px;
	height: 530px;

	.share_content {
		margin-bottom: 15px;
	}
}

section#videos-related, section#videos-related-sort {
	margin-top: 15px;
	width: 100% !important;
	padding-top: 10px;
	padding-right: 5px;
	.box-sizing(border-box);
	@import "third-plugins/grid.less";
	@gutter-width: 2;
	@columns: 3;
	@total-width: 100%;

	.row(3);

	article.video {
		.column(1,3);
		position: relative;
		height: 215px;
		display: block;
		.box-sizing(border-box);

		* {
			display: block;
		}

		p {
			height: auto;
			font-weight: 300;
		}

		div.image a {
			position: relative;
			height: 160px;
			width: 100%;
			overflow: hidden;

			span.video-duration {
				color: white;
				position: absolute;
				bottom: 12px;
				right: 7px;
				font-size: 15px;
				text-shadow: 0 0 0.2em black, 0 0 0.2 e
			}

			img {
				max-width: none;
				height: 100%;
			}
		}

		span {
			font-weight: 600;
			margin-bottom: 5px;

			&.title {
				margin-top: 7px;
			}

			&.author {
				display: none;
			}
		}

		span, p {
			line-height: 13px;
			font-size: 11px;
			word-wrap: break-word;
			text-overflow: ellipsis;
		}

		i.ico-watchlater {
			position: absolute;
			top: 2px;
			right: 2px;

			@size: 32px;
			.square(@size);
			background-size: @size;
			display: none;
			opacity: 0.5 !important;

			cursor: pointer;
			top: 5px;
			background-image: url('../images/ico-watchlater-channels.png');

			&:hover {
				opacity: 1 !important;
			}
		}

		&:hover {
			i.ico-watchlater {
				display: block;
				.transition(opacity .15s ease-in-out);
			}
		}
	}
}

#top-left {
	//padding-bottom: 15px;

	object {
		width: 100% !important;
		height: 100% !important;
	}
}

#top-right {
	padding-top: 10px;

	.video-std-block {
		.info {
			a {
				color: white;
			}
		}
	}
}

#top-left, #top-right {
	height: 100%;

	.btn {
		color: @black;
		font-weight: 400;
		font-size: 12px;
	}
	.videoframe {
		.size(100%, 100%);
		border: 0 !important;
	}
}

span.nav-bar.tv {
	margin-top: 15px;
	margin-left: 15px;
	margin-bottom: 15px;
	display: block;
	font-size: 20px;

	a {
		text-transform: capitalize;
		color: @green;
	}

	.bar {
		font-weight: 300;
		color: @grayLight;
	}

	.btn {
		position: relative;
		margin-right: 15px;
		bottom: 5px;
		.pull-right();
		text-transform: uppercase;

		i {
			margin-top: 1px;
			margin-right: 5px;
		}
	}
}

.tag-container {
	.tags {
		.label {
			float: left;
			margin-right: 3px;
			margin-bottom: 3px;
			font-weight: 500;
			height: 16px;
			padding: 0 5px;
		}
	}
}

div[data-wall] {
	.actualizacion {
		font-size: 12px;
		line-height: 16px;
		color: @black;

		.status {
			border: 1px solid  @gray;

			.infotext-header {
				.comment-toolbar {
					display: none;
				}
			}
		}
	}
}

.cta-loading {
	margin-top: 18%;
	margin-left: 40%;
	display: none;

	.spinner {
		.spinnerize(17px, @gray, 5px);
		margin: 15px auto;
	}
}

.videoCallToAction {
	margin-top: 20px;
	margin-left: 20px;
	position: relative;

	.beFanBtnCta {
		position: absolute;
		top: 5px;
		left: 5px;
	}

	.cta-befan-container {
		float: left;
		width: 100%;
	}

	.header-box {
		float: left;
		width: 100%;

		.header-title {
			font-size: 14px;
			font-weight: 500;
			color: white;
		}

		.buttonsHeader {
			float: right;
			margin-top: -25px;
			width: 260px;
			position: relative;

			.btnViewAgain {
				cursor: pointer;
				position: relative;
				color: white;
			}

			.btnNextVideo {
				margin-top: -54px;
				margin-left: 120px;
				position: relative;
				background-color: #000;
				color: #98c12e;
				font-size: 12px;
				border: 1px solid white;
				-webkit-border-radius: 3px;
				-moz-border-radius: 3px;
				border-radius: 3px;
				height: 30px;
				width: 136px;
				padding-left: 13px;
				padding-right: 13px;
				font-weight: 500;
				text-transform: uppercase;
			}

		}

	}

	.share-box {
		margin-top: 25px;
		float: left;
		width: 100%;

		.btn-upload-video {
			background-color: #FC6C00;
			color: white;
			font-size: 14px;
			border: 0;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
			height: 48px;
			width: 180px;
			padding-left: 13px;
			padding-right: 13px;
			font-weight: 500;
			text-transform: uppercase;
			position: relative;
			float: right;
		}

		.btn-invite {
			height: 48px;
			float: right;
		}

		.btn-upload-video:hover {
			background-color: #F98E00;
		}

		button.btn-twt, button.btn-fb, button.btn-gplus {
			.square(49px);
			display: block;
			box-sizing: border-box;
			.border-radius(3px);
			border: 0;
			color: white;
			background-size: 49px;
			.pull-left();

		}

		.btn-twt {
			background-image: url('../images/ico-twitter-registro.png');
			background-color: #00acee;

			&:hover {
				background-color: #0092ed;
			}
		}

		.btn-fb {
			margin-left: 2px;
			background-image: url('../images/ico-facebook-registro.png');
			background-color: #3b5999;

			&:hover {
				background-color: #3b4e99;
			}
		}

		.btn-gplus {
			margin-left: 2px;
			background-image: url('http://www.gstatic.com/images/icons/gplus-64.png');
			background-color: #db4834;
		}

		.share-title {
			color: #98c12e;
			font-size: 14px;
			font-weight: 400;
		}
	}

	.elastislide-list {
		li {
			position: relative;
			width: auto;

			i {
				margin-left: -7px;
				margin-top: -4px;
			}

			button {
				position: absolute;
				.square(20px);
				right: 5px;
				bottom: 5px;
			}

			img.avatar {
				width: 100px;
			}
		}
	}
}

#modal-content {

	.elastislide-list {
		i {
			margin-left: -7px;
			margin-top: -2px;
		}

		button {
			width: 21px;
			height: 20px;
			margin-left: 70px;
			position: absolute;
			margin-top: -26px;
		}
	}

	.cta-loading {
		margin-top: 10%;
		margin-left: 0%;
	}

	.btn-upload-video {
		margin-left: 41% !important;
		float: none !important;
	}

	.header-box {
		.buttonsHeader {
			margin-left: 47% !important;
			float: none !important;
		}
	}

	.cta-befan-container {
		float: left !important;
		width: 80% !important;
	}
}

#youtubePlayer {
	border: none !important;
}

@media (max-width: 815px) {
	section.channels-widget .tab-pane {
		.content-container.highlighted-videos {
			width: 33% !important;
			.video {
				width: 100% !important;
			}
		}
		.videoplayer-container {
			width: 67% !important;
		}
	}

	section.channels-widget ul.filter-channels {
		width: 531px;
		li {
			font-size: 13px;
		}
	}
}

@media (max-width: 885px) {
	section.channels-widget {
		aside.channels-list ul li {
			font-size: 13px;
			line-height: 31px;
		}
	}
}

@media (max-width: 1130px) {

	section.channels-widget {
		aside.channels-list ul li {
			font-size: 19px;
			line-height: 27px;
		}
	}

	section.channels-widget div.content .content-container.highlighted-videos .video {
		width: 50%;
	}

	div.videoplayer-container {
		i.play-video {
			background-size: 60px !important;
			width: 60px !important;
			height: 60px !important;
		}
	}
}

@media (max-width:1290px) {
	section.channels-widget .tab-pane div.videoplayer-container img.video-thumb {
		width: initial;
		height: 100%;
	}
}
