//Channel's widget styles
section.channels-widget{
    margin-bottom: 20px;
    #gradient > .vertical(@navbarBackgroundHighlight, @navbarBackground);
    overflow: hidden;
    aside.channels-list{
        
        color: #7f7f7f;
        ul{
            li{
                padding: 3% 0 3% 25px;
                font-size: 15px;
                &.active{
                    color: @white;
                    background-color: #1E1E1E;
                }
            }
        }
        
    }
    
    div.content{
        margin-left: 0;
    }
}

//Ranking's widget styles
section.ranking-widget{
    > *{
        padding-left: 15px;
    }
    header.ranking-filters-container{
        .ranking-filters{
            font-size: 15px;
            line-height: 30px;
            overflow: hidden;
            text-transform: uppercase;
            width: 100%;
            span.mas-vistos{
                .pull-left();
            }
            ul{
                li{
                    line-height: 30px;
                    .pull-left();
                    
                    &.active{
                        .border-radius(5px 5px 0 0);
                        #gradient > .vertical(@navbarBackgroundHighlight, @navbarBackground);
                        color: @white;
                    }
                    span{
                        padding-left: 10px;
                        padding-right: 10px;
                        &.middle{
                            border-right: 1px solid black;
                        }
                    }
                }
            }
        }
    }
    
    div.content-container{
        
        background-color: @black;
        overflow: hidden;
        
        div.tag-list-container{
            width: 100%;
            overflow: hidden;
            margin: 5px 0;
            ul{
                li{
                    .pull-left();
                    .border-radius(4px);
                    border: 1px solid #333333;
                    background-color: #1e1e1e;
                    margin-right: 5px;
                    padding: 5px 15px;   
                    color: #c6c6c6;
                    
                }
            }
        }
        
    }
    
}