@media(max-width: 1050px){
	nav.profilenavbar-container{
		.nav-tabs-profile{
			li {
				font-size: 15px !important;
			}
		}
	}

	div.team-home {
		section.top {
			div.info-detail-carousel {
				position: absolute;
				visibility: hidden;
				z-index: -999;

			}
			#myCarousel {
				width: 100%;
			}
		}
	}
}

@media (max-width: 1030px) {
	header.navbar  ul.nav li.dropdown a.dropdown-toggle.username span{
		display:none;
	}
	nav.profilenavbar-container{
		.nav-tabs-profile{
			li {
				.pull-left();
				margin-right: 10px;
				height: 27px;
				font-size: 12px !important;
			}
		}
	}
}


@media (max-width: 979px) {

	ul.avatar-list {
		.fan-container, .idol-container{
			.name a, .friendCount, .scoreCount {
				display: block !important;
			}
		}
	}

	header div#login-widget{
		top:30px;
	}

	.navbar-fixed-top, .navbar-fixed-bottom{
		position: fixed !important;
	}

	.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner{
		padding: 0 5px;
	}

	form.form-2column p.help-block{
		padding: 0;
	}

	header.navbar nav.navbar-inner div.container ul.nav.usermenu{
		left: auto;
		position: absolute;
		right: 55px;
		top: 0;
		a.dropdown-toggle.username span{
			display: inline-block;
		}
	}


	header.profile_head section.header_main.header_large div.main_right{
		div.user-info h1{
			font-size: 25px;
			height: 50px;
			line-height: 25px;
		}

		.numbers-info{
			.fotos-info, .videos-info, .fans-info{
				div.tipo{
					font-size: 8px;
					padding-top: 1px;
				}
				div.numero{
					font-size: 20px;
				}
			}
		}
	}

	/*nav.profilenavbar-container{
		.nav-tabs-profile{
			li{
				font-size: 8px !important;
			}
		}
	}*/

	header#headerProfile {
		.avatar {
			.hidden();
		}
	}
}

@media (max-width: 839px) {
	section.user-preferences {
		.ayuda {
			.hidden();
		}
	}
}

@media (max-width: 767px) {
	.navbar-fixed-top, .navbar-fixed-bottom{
		position: fixed !important;
		padding: 0 20px;
	}

	.navbar-fixed-bottom{
		display: none;
	}

	.navbar .nav  li.show-on-collapse{
		display: block;
	}

	ul#left-menu li{
		float: left;
	}

	div.register div.bottom form p.help-block{
		padding: 90px;
	}

	header.navbar{
		nav.navbar-inner div.container ul.nav.usermenu{
			right: 75px;
		}
		ul.nav li.dropdown a.dropdown-toggle.username{
			span{
				width: 100px;
			}
		}
	}

	header.profile_head{
		padding-bottom: 5px;
		border-bottom: 0;
	}

	nav.profilenavbar-container{
		position: relative !important;
		padding: 0 !important;
		.nav-tabs-profile{
			margin-bottom: 0;
			border: 0;
			.nav-stacked();
			li.active{
				background: none;
			}
		}
	}

	header.profile_head section.header_main.header_large div.main_right{
		.user-info{
			.pull-left();
			padding-left: 2%;
		}
		.numbers-info{
			.pull-right();
			margin-top: 1%;
		}
	}

}

@media (max-width: 550px) {
	header.navbar  ul.nav li.dropdown a.dropdown-toggle.username{
		span{
			visibility: hidden;
		}
		b#overimage{
			visibility: visible !important;
		}
	}
}



@media(max-width: 810px) {
	div.team-home section.bottom div.list-teams dl dd ul, div.idol-home div.list-idols dl dd ul {
		display: none;
	}

	#adcolumn {
		display: none;
	}

	.navbar .btn-navbar {
		display: block;
	}

	.btn-login.header-ingresar {
		display: none;
	}

	#collapse-me {
		display: block;
	}

	#header .dropdown.user {
		display: none;
	}
}

@media(min-width: 811px){
	.navbar .btn-navbar {
		display: hidden;
	}

	#collapse-me {
		display: hidden;
	}

	#header .dropdown.user {
		display: block;
	}
}

@media(max-width: 1275px) {
	#relatedcolumn {
		display: none;
	}
	#content:not(.fullwidth) {
		width: 82.905982906% !important;
	}
	.three-column #content {
		width: 100% !important;
	}
}

@media(max-width: 940px) {
	#header .btn.invite {
		display: none;
	}
}

@media(min-width: 990px){
	#header .nav-collapse.in.collapse {
		display: none;
	}
}

@media(max-width: 605px){
	.navbar .left-container a.brand {
		.size(26px, 90px);

		img.big {
			display: none;
		}

		img.tiny {
			display: block;
		}
	}
}

@media(max-width: 455px){
	#header .navbar-inner .container .right-container .dropdown.share button {
		display: none;
	}
}

@media(max-width: 1441px) {
	div.idol-home section.top {
		position: relative;

		#myCarousel {
			width: 100%;
		}

		.info-detail-carousel {
			position: absolute;
			width: 100% !important;
			bottom: 0;
			opacity: 0.8;

			h1 {
				font-size: 20px;
			}
		}
	}
}

@media(max-width: 850px){
	#header .navbar-inner .container .right-container .btn-upload-video {
		font-size: 0;
		color: transparent;
		padding-left: 9px;
		padding-right: 4px;
	}
}

@media(max-width: 400px){
	.three-column #content  {
		div.formshadow {
			.size(auto, 100%);
			.box-shadow(none);
			margin: auto;
			.border-radius(none);
			display: block;
			margin-top: 10%;

			div.loginformbig {
				border: 0;

				div.form-login {
					ul.fields {
						#username, #password {
							width: 100%;
						}
					}
				}

				&.bottom {
					background-color: initial;
				}
			}
		}

		div.actions.login {
			width: 100%;
		}
	}

	.navbar .nav {
		display: none;
	}
}

@media(max-width: 295px){
	#header .navbar-search {
		display: none;
	}
}