.navbar-fixed-top .container, .navbar-fixed-bottom .container{width:100% !important;}

.navbar .brand{
    margin-left: 0; 
}

.sidebar-nav-fixed {
     position:fixed;
     top: 40px;
     width:50px;
     height: 100%;
 }

 .sidebar-nav.well{
    padding: 10px;
    border-radius:0;
 }
 
 ul#left-menu{
    overflow: hidden;
 }
 
 .navbar .brand{
    padding-bottom: 10px;
 }
 
 footer.navbar div.navbar-inner{
    min-height: 36px;
 }
 
 footer.navbar div.navbar-inner div.container{
    overflow: hidden;
    height: 36px;
 }
 
 /*
 .navbar-search .search-query,.navbar-search .search-query:-moz-placeholder{
    background-color: #ffffff;
    color: #000000;
    border: 1px solid white;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);  
    border-radius: 10px 0 0 10px;       
}

.navbar-search .input-append .add-on:last-child{
    border-radius: 0 10px 10px 0;
}
*/

.btn-success {
    background-image: -moz-linear-gradient(center top , #8FCA48, #79C41E);
}


section.ayuda h2 .badge{
    line-height: 36px;
    vertical-align: top;
    font-size: 16px;
}

section.ayuda h2 .circular{
    margin-right: 10px;
}

p.help-block.error{
    color: #CC3333;
}

.circular{
    background-color: #F7F7F7;
    border: 1px solid #C5C5C5;
    border-radius: 10px 10px 10px 10px;
    color: #BDBDBD;
    font-size: 13px;
    padding: 1px 6px;
}

.circular-success{
    background-color: #8FCA48;
    color: white;
    border: none;
}


.form-2column  label.control-label[for='fos_user_registration_form_accept_toc']{
    width: 180px;
}

div.register h1{
    color: #8cc63f;
}

div.register div.top > *{
    margin-bottom: 5px;
}

div.register div.top{
    border-bottom: 1px solid #D9D9D9;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

div.register div.bottom div.actions{
    padding-left: 90px;    
}

@media (max-width: 1024px) {
    header.navbar  ul.nav li.dropdown a.dropdown-toggle.username span{
        display:none;
    }
}


 

@media (max-width: 979px) {
     .sidebar-nav-fixed {
        width: 3%;
        top: 40px;
     }
     
    header div#login-widget{
       top:30px;
     }
     
    .navbar-fixed-top, .navbar-fixed-bottom{
       position: fixed !important;
    }
    
    body{
       padding-top: 54px;
    }
    
    .navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner{
       padding: 0 5px;
    }
    
    form.form-2column p.help-block{
       padding: 0;
    }
    
    header.navbar nav.navbar-inner div.container ul.nav.usermenu{
        left: auto;
        position: absolute;
        right: 55px;
        top: 0;
        a.dropdown-toggle.username span{
            display: inline-block;
        }
    }
 }
 
@media (max-width: 767px) {
     .sidebar-nav-fixed {
        position:static;
        width:auto !important;
        margin-top: 10px;
        
     }
    
     .navbar-fixed-top, .navbar-fixed-bottom{
       position: fixed !important;
       padding: 0 20px;
     }
     
     .navbar-fixed-bottom{
        display: none;
     }
     
    .navbar .nav  li.show-on-collapse{
       display: block;
    }
    
     ul#left-menu li{
       float: left;
        
     }
     
    div.register div.bottom form p.help-block{
       padding: 90px;
    }
    
    header.navbar nav.navbar-inner div.container ul.nav.usermenu{
        right: 75px;
    }
    
 }

@media (max-width: 550px) {
     header.navbar  ul.nav li.dropdown a.dropdown-toggle.username{ 
        span{
            visibility: hidden;
        }
        b#overimage{
            visibility: visible !important;
        }
    }
}


 .navbar .btn-navbar{
    position: relative !important;
}

 .nav-collapse .nav > li > a{
    color: #E4E1BC;
 }