body {
  padding-top: 60px;
  padding-bottom: 40px;
}

ul, ol{
    list-style: none;
    padding: 0;
    margin: 0;
}

.container-fluid {
    padding: 0;
}

input {
    border: 1px solid  @grayLight;
    color: @grayLight;
    background-color: white;
    border-radius: 3px;
}