@media(max-width: 1051px){
    div.team-home {
        section.top {
            div.info-detail-carousel {
                div{
                    display: none;
                }
            }
        }
    }
}
@media(max-width: 1050px){
    nav.profilenavbar-container{
        .nav-tabs-profile{
            li {
                font-size: 15px !important;
            }
        }
    }

    div.team-home {
        section.top {
            div.info-detail-carousel {
                .hidden;
            }
            .carousel {
                width: 100%;
            }
        }
    }
}

@media (max-width: 1030px) {
    header.navbar  ul.nav li.dropdown a.dropdown-toggle.username span{
        display:none;
    }
    nav.profilenavbar-container{
        .nav-tabs-profile{
            li {
                .pull-left();
                margin-right: 10px;
                height: 27px;
                font-size: 12px !important;
            }
        }
    }

    div.team-home {
        section.middle {
            div.team:last-child {
                .hidden;
            }
            div.team {
                width: 50%;
                margin: 0;
                &:first-child {
                    width: 49% !important;
                    margin-right: 1%;
                }
            }
        }
    }
}
 

@media (max-width: 979px) {
    
    ul.avatar-list {
        .fan-container, .idol-container{
            .name a, .friendCount {
                display: block !important;
            }
        }
    }

    header div#login-widget{
        top:30px;
    }
     
    .navbar-fixed-top, .navbar-fixed-bottom{
        position: fixed !important;
    }
    
    body{
        padding-top: 54px;
    }
    
    .navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner{
        padding: 0 5px;
    }
    
    form.form-2column p.help-block{
        padding: 0;
    }
    
    header.navbar nav.navbar-inner div.container ul.nav.usermenu{
        left: auto;
        position: absolute;
        right: 55px;
        top: 0;
        a.dropdown-toggle.username span{
            display: inline-block;
        }
    }
    
    
    header.profile_head section.header_main.header_large div.main_right{ 
        div.user-info h1{
            font-size: 25px;
            height: 50px;
            line-height: 25px;
        }
        
        .numbers-info{
            .fotos-info, .videos-info, .fans-info{
                div.tipo{
                    font-size: 8px;
                    padding-top: 1px;
                }
                div.numero{
                    font-size: 20px;
                }
            } 
        }
    }

    /*nav.profilenavbar-container{
        .nav-tabs-profile{
            li{
                font-size: 8px !important;
            }
        }
    }*/

    header#headerProfile {
        .avatar {
            .hidden();
        }
    }
}

@media (max-width: 839px) {
    section.user-preferences {
        .ayuda {
            .hidden();
        }
    }
}
 
@media (max-width: 767px) {
    .navbar-fixed-top, .navbar-fixed-bottom{
        position: fixed !important;
        padding: 0 20px;
    }
     
    .navbar-fixed-bottom{
        display: none;
    }
     
    .navbar .nav  li.show-on-collapse{
        display: block;
    }
    
    ul#left-menu li{
        float: left;
    }
     
    div.register div.bottom form p.help-block{
        padding: 90px;
    }
    
    header.navbar{ 
        nav.navbar-inner div.container ul.nav.usermenu{
            right: 75px;
        }
        ul.nav li.dropdown a.dropdown-toggle.username{ 
            span{
                width: 100px;
            }
        }
    }
    
    header.profile_head{
        padding-bottom: 5px;
        border-bottom: 0;
    }

    nav.profilenavbar-container{
        position: relative !important;
        padding: 0 !important;
        .nav-tabs-profile{
            margin-bottom: 0;
            border: 0;
            .nav-stacked();
            li.active{
                background: none;
            }
        }
    }
    
    header.profile_head section.header_main.header_large div.main_right{ 
        .user-info{
            .pull-left();
             padding-left: 2%;
        }    
        .numbers-info{
            .pull-right(); 
            margin-top: 1%;
        } 
    }
    
}

@media (max-width: 550px) {
    header.navbar  ul.nav li.dropdown a.dropdown-toggle.username{ 
        span{
            visibility: hidden;
        }
        b#overimage{
            visibility: visible !important;
        }
    }
}

