body {
  padding-top: 60px;
  padding-bottom: 36px;
  font-family: "Open Sans";

    a:hover {
        text-decoration: none;
    }
}

ul, ol{
    list-style: none;
    padding: 0;
    margin: 0;
}

.container-fluid {
    padding: 0;
}

input {
    border: 1px solid  @grayLight;
    color: @grayLight;
    background-color: white;
    border-radius: 3px;
}

.btn-success {
    background-image: -moz-linear-gradient(center top , #8FCA48, #79C41E);
}

//loading styles
.loading{
    .loading(@loadingImageNormal,center center);
    min-height: 50px;
    width: 100%;
    
    &.endless{
        padding-bottom: 50px;
        background-position: center bottom !important;
    }
}

//loading styles
.loading-small{
    .loading(@loadingImageSmall,1px center);
    text-indent: 8px;
    min-height: 16px;
    width: inherit;
}


.circular{
    background-color: #F7F7F7;
    border: 1px solid #C5C5C5;
    border-radius: 10px 10px 10px 10px;
    color: #BDBDBD;
    font-size: 13px;
    padding: 1px 6px;
}

.circular-success{
    background-color: #8FCA48;
    color: white;
    border: none;
}

section.ayuda{
    h2{
        .badge{
            line-height: 36px;
            vertical-align: top;
            font-size: 16px;
        }

        .circular{
            margin-right: 10px;
        }
    }
}



//Register style
div.register{
    h1{
        color: #8cc63f;
    }
    
    div.top{
        border-bottom: 1px solid #D9D9D9;
        margin-bottom: 20px;
        padding-bottom: 20px;
        > *{
            margin-bottom: 5px;
        }
    }
    
    div.bottom div.actions{
        padding-left: 90px;    
    }
}

/* Login widget */

header div#login-widget{
    background-color: #f7f7f7;
    position: absolute;
    right: 25px;
    top: 55px;
    width: 220px;
    border: 1px solid #c1c1c1;
    border-radius: 5px;
    box-shadow: 0 0 9px 1px #EDEDED;
    padding: 15px;
    color: #6C6C6C;
    display:none;
    z-index: 1100;
    
    ul li{
        float: left;
        padding: 3px 0;
        width: 97%;
        
    }
    
    .fb_button { 
        width: 100%; 
        height: 25px;
        
        .fb_button_text { font-size: 14px; }
    }

    div.bottom-login{
        margin-top: 15px;
        width: 100%;
    }
        
    input{
        width: 100%;   
    }
    
    .recordar{
        float: left;
        font-size: 11px;
        width: 50%;
        
        label{
            margin-left: 5px;
            float:left;
            text-decoration: underline;
        }
        
        input{
            width: auto;
            float: left;
        }
    }
                
    .olvidar{
        float: left;
        width: 51%;
        
        a{
            color: #6C6C6C;
            font-size: 11px;
            height: auto;
            line-height: 14px;
            padding: 0;
            text-decoration: underline;
        }
    }
    
    div.header-ingresar{
         float: right;
        font-size: 18px;
        line-height: 18px;
        margin: 0;
        padding: 5px 10px;
        position: absolute;
        right: 15px;
    }
    
    div.arrow-up {
        border-bottom: 6px solid #F7F7F7;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        height: 0;
        position: absolute;
        right: 30px;
        top: -6px;
        width: 0;
        z-index: 10;
    }
    
    div.arrow-up-border {
        border-bottom: 7px solid #C1C1C1;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        height: 0;
        position: absolute;
        right: 29px;
        top: -7px;
        width: 0;
    }
}


.breadcrumb ul.dropdown-menu li {
    display: block;
}

.dl-vertical {
    margin-top: 0;
}