.video-detail-wall {
    .user-info {
        width: 300px;
        display: block;
        .pull-left();

        .avatar, .name, .location, .videoCount {
            .pull-left();
        }

        .name, .location, .videoCount {
            width: 230px;
            margin-left: 10px;
            margin-bottom: 4px;
        }
        .name {
            font-size: 20px;
            font-weight: 400;
            color: @black;
        }

        .location, .videoCount {
            font-weight: 12px;
            font-weight: 300;
            color: @grayDark;
        }
    }

    .share_content {
        width: 301px;
        .pull-right();
        display: block;
    }

    .audience-list {
        clear: both;
    }
}

section.related_videos {
    .title {
        font-size: 12px;
    }
    .author-and-category {
        font-size: 11px;
    }
}

.btn-group {
    &.list-videos {
        margin-bottom: 15px;
    }
}

.audience-list {
    height: 22px;
    margin: 5px 0;
    ul, li {
        float: left;

        img {
            width: 22px;
            height: 22px;
        }
    }

    .audience-list-tab {
        float: left;
        background: @greenDark;
        font-size: 11px;
        color: @white;
        height: 22px;
        line-height: 22px;
        padding: 0 5px 0 10px;
        margin:0 2px 0 0;
        position: relative;

        span {
            width: 10px;
            height: 22px;
            float: right;
            background: url("../images/ui/audience-list-arrow.png") no-repeat;
            position: absolute;
            right: -10px;
        }
    }
}

.data-list-fetch-more-button {
    float:left;
    clear:both;
    cursor:pointer;
}

.video-inline {
    width: 100%;
    border: none;
    height: 480px;
}

.uploaded-date {
    margin-bottom: 5px;
    font-size: 11px;
    font-style: italic;
    text-align: right;
}

.video-author {
    float: left;
    .name {
        font-size: 20px;
        font-weight: 400;
        color: @black;
    }
    .location {
        font-size: 12px;
        font-weight: 300;
        color: @gray;
    }
}


.tag-idol {
    background-color: #D1CEC1;

    &:hover{
        background-color: lighten(#D1CEC1, 5%);
    }
}

.tag-team {
    background-color: #BFBCAF;

    &:hover{
        background-color: lighten(#BFBCAF, 5%);
    }
}

.tag-user {
    background-color: #AAA89F;

    &:hover{
        background-color: lighten(#AAA89F, 5%);
    }
}

.tag-text {
    background-color: #666561;

    &:hover{
        background-color: lighten(#666561, 5%);
    }
}

.tag-avatar {
    padding-left: 0 !important;
}

.tag-avatar img {
    width: 16px;
    height: 16px;
    .border-radius(3px);
}

.video.bottom-container {
    padding-left: 15px;
}