#am-container .title {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: inherit;
    height: inherit;
    padding: 4px;
    z-index: 99999;
    color: white; 
    text-shadow: black 0.1em 0.1em 0.2em;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

#am-container a button {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

#am-container a {
    text-decoration: none;
}