/* Estilos actualizacion */
div.actualizacion{
    header{
        overflow: hidden;
        
        div.avatar{
            float: left;    
        }
        
        div.action_container{
            float: left;
            margin-left: 15px;
        }
    
    }
    

}