<div class="greybox">
	<div class="bigform">
		<div class="form-upload fieldcontainer">
			<ul class="fields">
	       		<li class="clearfix">
	       			<label for="form_content">Descripción</label>
	       			<div class="field">
	       				<textarea id="share_content" name="form[share_content]"></textarea>
	       			</div>
	       		</li>
	       	</ul>
		</div>
		
	    <div class="actions clearfix">
	        <a class="submit btn_action">Compartir</a>
	    </div>
    </div>
</div>