{% if type is not defined %}
	{% set type = appstate.type(entity) %}
{% endif %}
{% if appstate.canedit(entity) %}
    <a class="btn edit{% if extraclasses is defined %} {{ extraclasses|join(' ') }}{% endif %}" href="{{ path('edit_popup',{id:entity.id, type:type}) }}" data-edit='{{type}}' rel="tooltip" data-original-title='Editar {{ type }}'>
        <i></i>
    </a>
{% endif %}