<footer id="footer" class="navbar navbar-fixed-bottom">
    <div  class="navbar-inner">
        <div class='container'>
            <ul class='nav pull-left'>
                <li>
                    <a class="homelink" href="{{ path('homepage') }}">© 2013 FANSWORLD TV CORPORATION</a>
                </li>
                <li>
                <div class="widgets btn-group">
                </div>
                </li>
            </ul>
            <ul class='nav institutional pull-right'>
                <li>
                    <a href='{{ path('about_terms') }}'>Términos y condiciones</a>
                </li>
                <li>
                    <a>About Us</a>
                </li>
                <li>
                    <a>Site Map</a>
                </li>
                <li>
                    <a>Soporte</a>
                </li>
                <li>
                    <a class='icon' href="https://twitter.com/FansWorldTV">
                        <img src="{{ asset('bundles/dodicifansworldweb/images/tw-logo.png' )}}" />
                    </a>
                </li>
                <li>
                    <a class='icon' href="https://www.facebook.com/FansWorldTV">
                        <img src="{{ asset('bundles/dodicifansworldweb/images/fb-logo.png' )}}" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>