<footer id="footer" class="navbar navbar-fixed-bottom">
    <div  class="navbar-inner">
        <div class='container'>
            <ul class='nav pull-left'>
                <li>
                    <a class="homelink" href="{{ path('homepage') }}">FANSWORLD.TV</a>
                </li>
                <li class='slogan'>
                    <p class="navbar-text">Comparti tu pasion!</p>
                </li>
                <li>
                                <button id="msg" type="button" class="btn btn-primary btn-info dropdown-toggle dropup" data-toggle="dropdown" href="#" data-content="And here's some amazing content. It's very engaging. right?" data-original-title="A title">
                Mensajes
                <span class="caret"></span>
              </button>
              <button id="evnt" type="button" class="btn btn-primary btn-warning dropdown-toggle dropup" data-toggle="dropdown" href="#" data-content="And here's some amazing content. It's very engaging. right?" data-original-title="A title">
                Eventos
                <span class="caret"></span>
              </button>
              <button id="feed" type="button" class="btn btn-primary btn-warning dropdown-toggle dropup" data-toggle="dropdown" href="#">
                Feed
                <span class="caret"></span>
              </button>
                </li>
            </ul>
  <!--          <div class="btn-group dropup">
  <button class="btn">Dropup</button>
  <button class="btn dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
      <li><a href="#">Action</a></li>
      <li><a href="#">Another action</a></li>
      <li><a href="#">Something else here</a></li>
      <li class="divider"></li>
      <li><a href="#">Separated link</a></li>
  </ul>
</div> -->
            <ul class='nav institutional pull-right'>
                <li>
                    <a href='{{ path('about_terms') }}'>Terminos y condiciones</a>
                </li>
                <li>
                    <a>About Us</a>
                </li>
                <li>
                    <a>Site Map</a>
                </li>
                <li>
                    <a>Soporte</a>
                </li>
                <li>
                    <a class='icon' href="https://twitter.com/FansWorldTV">
                        <img src="{{ asset('bundles/dodicifansworldweb/images/tw-logo.png' )}}" />
                    </a>
                </li>
                <li>
                    <a class='icon' href="https://www.facebook.com/FansWorldTV">
                        <img src="{{ asset('bundles/dodicifansworldweb/images/fb-logo.png' )}}" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
      <div class="widget-container" style="opacity:0;display:block;">
        <div class="widget-content"><h4 class="widget-title">Title</h4><i class="close-share"></i><div class="widget-inner"><div class="widget-app">Section 1.10.32 of "de Finibus Bonorum et Malorum", written by Cicero in 45 BC

"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"

1914 translation by H. Rackham

"But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?"</div></div></div>
      </div>
</footer>