<footer id="footer" class="navbar navbar-fixed-bottom">
    <div  class="navbar-inner">
        <div class='container'>
            <ul class='nav pull-left'>
                <li>
                    <a class="homelink" href="{{ path('homepage') }}">FANSWORLD.TV</a>
                </li>
                <li class='slogan'>
                    <p class="navbar-text">Comparti tu pasion!</p>
                </li>
                <li>
                  <div class="widgets btn-group">
                <button id="msg" type="button" class="btn btn-info dropup" data-toggle="dropdown" href="#" data-content="And here's some amazing content. It's very engaging. right?" data-original-title="Fansworld chat">
                <span class="label label-important label-toolbar" style="margin-left: -15px;margin-top: -8px;z-index: 9999">3</span>
                Mensajes
                <span class="caret"></span>
              </button>
              <button id="evnt" type="button" class="btn btn-warning dropup" data-toggle="dropdown" href="#" data-content="And here's some amazing content. It's very engaging. right?" data-original-title="Mis eventos">
                <span class="label label-important label-toolbar" style="margin-left: -15px;margin-top: -8px;z-index: 9999">2</span>
                Eventos
                <span class="caret"></span>
              </button>
              <button id="feed" type="button" class="btn btn-warning dropup" data-toggle="dropdown" href="#" data-content="And here's some amazing content. It's very engaging. right?" data-original-title="Tweets">
                <span class="label label-important label-toolbar" style="margin-left: -15px;margin-top: -8px;z-index: 9999">10</span>
                Actividad
                <span class="caret"></span>
              </button>
            </div>
                </li>
            </ul>
            <ul class='nav institutional pull-right'>
                <li>
                    <a href='{{ path('about_terms') }}'>Terminos y condiciones</a>
                </li>
                <li>
                    <a>About Us</a>
                </li>
                <li>
                    <a>Site Map</a>
                </li>
                <li>
                    <a>Soporte</a>
                </li>
                <li>
                    <a class='icon' href="https://twitter.com/FansWorldTV">
                        <img src="{{ asset('bundles/dodicifansworldweb/images/tw-logo.png' )}}" />
                    </a>
                </li>
                <li>
                    <a class='icon' href="https://www.facebook.com/FansWorldTV">
                        <img src="{{ asset('bundles/dodicifansworldweb/images/fb-logo.png' )}}" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
      <div class="widget-container" style="opacity:0;display:block;">
        <div class="widget-content">
          <h4 class="widget-title">Title</h4>
            <i class="close-share"></i>
            <div class="widget-inner">
              <div class="widget-app">
                <ul>
                  <li>
                    <a href="#"><img title="" width="32" src="/uploads/media/default/0001/01/thumb_3_default_small_square_7c6b7e0426a40d52bf972747dac702eea26f5650.jpg"> Juan Pérez es amig@ de richard y george</a>
                  </li>
                  <li>
                    <img title="" width="32" src="/uploads/media/default/0001/03/thumb_2340_default_small_square_26518774e85d9518788a035a07080d1393358fbe.jpg"> Juan Pérez es amig@ de richard y george
                  </li>
                  <li>
                    <img title="" width="32" src="/uploads/media/default/0001/01/thumb_3_default_small_square_7c6b7e0426a40d52bf972747dac702eea26f5650.jpg"> Juan Pérez es amig@ de richard y george
                  </li>
                  <li>
                    <img title="" width="32" src="/uploads/media/default/0001/01/thumb_3_default_small_square_7c6b7e0426a40d52bf972747dac702eea26f5650.jpg"> Juan Pérez es amig@ de richard y george
                  </li>
                  <li>
                    <img title="" width="32" src="/uploads/media/default/0001/01/thumb_3_default_small_square_7c6b7e0426a40d52bf972747dac702eea26f5650.jpg"> Juan Pérez es amig@ de richard y george
                  </li>
                  <li>
                    <img title="" width="32" src="/uploads/media/default/0001/01/thumb_3_default_small_square_7c6b7e0426a40d52bf972747dac702eea26f5650.jpg"> Juan Pérez es amig@ de richard y george
                  </li>
                  <li>
                    <img title="" width="32" src="/uploads/media/default/0001/01/thumb_3_default_small_square_7c6b7e0426a40d52bf972747dac702eea26f5650.jpg"> Juan Pérez es amig@ de richard y george
                  </li>
                  <li>
                    <img title="" width="32" src="/uploads/media/default/0001/01/thumb_3_default_small_square_7c6b7e0426a40d52bf972747dac702eea26f5650.jpg"> Juan Pérez es amig@ de richard y george
                  </li>
                  <li>
                    <img title="" width="32" src="/uploads/media/default/0001/01/thumb_3_default_small_square_7c6b7e0426a40d52bf972747dac702eea26f5650.jpg"> Juan Pérez es amig@ de richard y george
                  </li>
                  <li>
                    <img title="" width="32" src="/uploads/media/default/0001/01/thumb_3_default_small_square_7c6b7e0426a40d52bf972747dac702eea26f5650.jpg"> Juan Pérez es amig@ de richard y george
                  </li>
                  <li>
                    <img title="" width="32" src="/uploads/media/default/0001/01/thumb_3_default_small_square_7c6b7e0426a40d52bf972747dac702eea26f5650.jpg"> Juan Pérez es amig@ de richard y george
                  </li>
                  <li>
                    <img title="" width="32" src="/uploads/media/default/0001/01/thumb_3_default_small_square_7c6b7e0426a40d52bf972747dac702eea26f5650.jpg"> Juan Pérez es amig@ de richard y george
                  </li>
                </ul>
              </div>
            </div>
          </div>
      </div>
</footer>