<footer>
    <div class='navy'>
        <ul class='left-container'>
            <li>
                <a class="homelink" href="{{ path('homepage') }}">FANSWORLD.TV</a>
            </li>
            <li class='slogan'>Comparti tu pasion!</li>
        </ul>
        
        <ul class='right-container'>
            <li>
                <a href='{{ path('about_terms') }}'>Terminos y condiciones</a>
            </li>
            <li>About Us</li>
            <li>Site Map</li>
            <li>Soporte</li>
            <li>
                <a class='icon'>
                    <img src="{{ asset('bundles/dodicifansworldweb/images/tw-logo.png' )}}" />
                </a>
            </li>
            <li>
                <a class='icon'>
                    <img src="{{ asset('bundles/dodicifansworldweb/images/fb-logo.png' )}}" />
                </a>
            </li>
        </ul>        
    </div>    
</footer>