<div class="footer">
            <div class="loguito"><img src="{{ asset('bundles/dodicifansworldweb/images/loguito.png' )}}" /></div>
            <ul>
                <li>Sobre FansWorld</li>
                <li><a href="page.php">Quienes Somos</a></li>
                <li><a href="page.php">Como funciona</a></li>
                <li><a href="page.php">Registro</a></li>
            </ul>
            <ul>
                <li>Terminos</li>
                <li><a href="page.php">Quienes Somos</a></li>
                <li><a href="page.php">Como funciona</a></li>
                <li><a href="page.php">Registro</a></li>
            </ul>
            <ul>
                <li>Publicidad</li>
                <li><a href="page.php">Quienes Somos</a></li>
                <li><a href="page.php">Como funciona</a></li>
                <li><a href="page.php">Registro</a></li>
            </ul>
</div>