<footer id="footer" class="navbar navbar-fixed-bottom">
    <div  class="navbar-inner">
        <div class='container'>
            <ul class='nav pull-left'>
                <li>
                    <a class="homelink" href="{{ path('homepage') }}">FANSWORLD.TV</a>
                </li>
                <li class='slogan'>
                    <p class="navbar-text">Comparti tu pasion!</p>
                </li>
            </ul>
            
            <ul class='nav institutional pull-right'>
                <li>
                    <a href='{{ path('about_terms') }}'>Terminos y condiciones</a>
                </li>
                <li>
                    <a>About Us</a>
                </li>
                <li>
                    <a>Site Map</a>
                </li>
                <li>
                    <a>Soporte</a>
                </li>
                <li>
                    <a class='icon' href="https://twitter.com/FansWorldTV">
                        <img src="{{ asset('bundles/dodicifansworldweb/images/tw-logo.png' )}}" />
                    </a>
                </li>
                <li>
                    <a class='icon' href="https://www.facebook.com/FansWorldTV">
                        <img src="{{ asset('bundles/dodicifansworldweb/images/fb-logo.png' )}}" />
                    </a>
                </li>
            </ul>        
        </div>
    </div>    
</footer>