<ul class='well sidebar-nav sidebar-nav-fixed' id='left-menu'>
    <li>
        <a class='icon'>
            <img src="{{ asset('bundles/dodicifansworldweb/images/ui/user_alert.gif' )}}" />
        </a>
    </li>
    <li>
        <a class='icon'>
            <img src="{{ asset('bundles/dodicifansworldweb/images/ui/user_notices.gif' )}}" />
        </a>
    </li>
    
</ul>