<div class="navy">
        <ul>
            <li><a class="current" href="index.php"><img src="{{ asset('bundles/dodicifansworldweb/images/ui/ico_home.png' )}}" /></a></li>
            <li><a href="idols.php">Idolos</a></li>
            <li><a href="fans.php">Fans</a></li>
            <li><a href="tv.php">TV</a></li>
            <li><a href="photos.php">Fotos</a></li>
            <li><a href="contests.php">Concursos</a></li>
            <li><a href="philanthropy.php">Filantropia</a></li>
            <li class="alerts_user"><a href="#1"><span>13</span></a>
                <ul>
                    <li class="clearfix">
                        <img class="avatar" src="{{ asset('bundles/dodicifansworldweb/demo/user8.jpg' )}}" width="40" height="40" />
                        <span class="info">
                            <a href="user_profile.php">Rodrigo Ramirez</a> 
                            <span>
                                Te quiere agregar como amigo<br />
                                <a href="#1">rechazar</a>
                            </span>
                        </span>
                        <div class="button"><a href="#1">Aceptar</a></div>
                    </li>
                    <li class="clearfix">
                        <img class="avatar" src="{{ asset('bundles/dodicifansworldweb/demo/user8.jpg' )}}" width="40" height="40" />
                        <span class="info">
                            <a href="user_profile.php">Rodrigo Ramirez</a> 
                            <span>
                                Te quiere agregar como amigo<br />
                                <a href="#1">rechazar</a>
                            </span>
                        </span>
                        <div class="button"><a href="#1">Aceptar</a></div>
                    </li>
                    <li class="clearfix">
                        <img class="avatar" src="{{ asset('bundles/dodicifansworldweb/demo/user8.jpg' )}}" width="40" height="40" />
                        <span class="info">
                            <a href="user_profile.php">Rodrigo Ramirez</a> 
                            <span>
                                Te quiere agregar como amigo<br />
                                <a href="#1">rechazar</a>
                            </span>
                        </span>
                        <div class="button"><a href="#1">Aceptar</a></div>
                    </li>
                    <li class="more"><a href="#1">15 notificaciones mas</a></li>
                </ul>
            </li>
        </ul>
</div>