<div class="brick">
 	<div class="image">
 		<a href="{{ path(appstate.type(entity) ~ '_show', {id:entity.id, slug:entity.slug}) }}">
 			{% thumbnail entity.image, 'medium' %}
 		</a>
 	</div>
 	<div class="description">
 		{% if entity.content %}
 			{{ entity.content|truncate(20) }}
 		{% else %}
 			{{ entity.title }}
 		{% endif %}
 	</div>
 	<div class="social clearfix">
		{% include 'DodiciFansworldWebBundle:Default:like_button.html.twig' with {entity: entity, showcount: true} %}
		{% include 'DodiciFansworldWebBundle:Default:share_button.html.twig' with {entity: entity} %}
	</div>
	
	{% include 'DodiciFansworldWebBundle:Comment:pin_comment_block.html.twig' with {entity: entity} %}
</div>