<div class="header">
        <div class="logo"><a href="{{ path('homepage') }}"><img src="{{ asset('bundles/dodicifansworldweb/images/fansworld.png' )}}" alt="Fansworld" /></a></div>
        <div class="search">
            <input type="text" value="Buscar" />
            <ul>
                <li><a href="search.php">Todo</a>
                    <ul>
                        <li><a href="search.php">Idolos</a></li>
                        <li><a href="search.php">Fans</a></li>
                        <li><a href="search.php">Noticias</a></li>
                        <li><a href="search.php">Foros</a></li>
                        <li><a href="search.php">Videos</a></li>
                        <li><a href="search.php">Fotos</a></li>
                    </ul>
                </li>
            </ul>
            <input class="btn_search" name="" type="button" />
        </div>
</div>