{% if likebutton is not defined %}
    {% set likebutton = true %}
{% endif %}

{% if sharebutton is not defined %}
    {% set sharebutton = true %}
{% endif %}

{% if reportbutton is not defined %}
    {% set reportbutton = true %}
{% endif %}

{% if editbutton is not defined %}
    {% set editbutton = true %}
{% endif %}

{% if watchlaterbutton is not defined %}
    {% set watchlaterbutton = true %}
{% endif %}

{% set type = appstate.type(entity) %}

{#{% set share_url = url(type ~ "_show", {'id': entity.id, 'slug': entity.slug }) %}#}
<div class="share_content clearfix">
    <div class="internal_buttons">
        {% if sharebutton %}
          {% include 'DodiciFansworldWebBundle:Default:share_button.html.twig' with {entity: entity} %}
        {% endif %}

        {% if watchlaterbutton and 'video' == type%}
                {% include 'DodiciFansworldWebBundle:Default:watchlater_button.html.twig' with {entity: entity} %}
        {% endif %}
            
        {% if likebutton %}
            {% include 'DodiciFansworldWebBundle:Default:like_button.html.twig' with {entity: entity, buttonmode: true, showcount: false} %}
        {% endif %}
        
        {% if (type == 'photo' or type == 'video' ) %}
            {% if reportbutton %}
                <button class="social_action report" data-login-required href="{{ path('complaint_form', {'entityId': entity.id, 'entityType': type}) }}" rel="tooltip" data-placement="bottom" title="Reportar">
                    <i></i>
                </button>
            {% else %}
                <button class="social_action report" data-login-required href="{{ path('complaint_form', {'entityId': entity.id, 'entityType': type}) }}" rel="tooltip" data-placement="bottom" title="Reportar">
                    <i></i>
                </button>
            {% endif %}
        {% endif %}

        {% if (type == 'photo' or type == 'video' or type == 'album') and entity.author == app.user and editbutton %}
                {% include 'DodiciFansworldWebBundle:Default:edit_button.html.twig' with {entity: entity, type: type} %}
        {% endif %}
    </div>
</div>