<a class="btn share{% if extraclasses is defined %} {{ extraclasses|join(' ') }}{% endif %}" data-id="{{ entity.id }}" data-type="{{ type }}">
    <i class="icon-share"></i>
    Compartir
</a>
<div class="share-box hide">
    <img class="arrow" src="{{ asset('bundles/dodicifansworldweb/images/arrow_nav.png') }}" />
    <div class="top">
        <i class="close-share"></i>
        <h4 class="wywtsay"></h4>
        <form action="">
            <input name="message" type="text" placeholder="Que quieres decir..." class="wywtsay"/>
        </form>
    </div>
    <div class="bottom">
        <div class="sharewith" >
            <input data-token-input data-route="_share_ajaxwith" data-action="tag" type="text" placeholder="Con quien lo queres compartir..." />
        </div>

        <div class="clearfix"></div>

        <span class="pull-left">
            <button class="btn-checkbox fb"></button>
            <button class="btn-checkbox tw"></button>
            <button class="btn-checkbox fw active"></button>
        </span>

        <span class="pull-right">
            <button id="share_it" class="btn btn-primary">Compartir</button>
        </span>
    </div>
</div>