<div class="sidebar-videos">
    <h4>Últimos Videos!</h4>
        {% for video in videos %}
            {% include "DodiciFansworldWebBundle:Video:blocks/video_std_block.html.twig"  with { video: video } %}
        {% endfor %}
</div>