<div class="sidebar-videos">
    {% if watchlater %}
        <h4 class="clearfix"><i class="ico-watchlater pull-left"></i> Ver Después</h4>
    {% else %}
        <h4 class="clearfix">Últimos videos!</h4>
    {% endif %}

    {% for video in videos %}
        {% include "DodiciFansworldWebBundle:Video:blocks/video_std_block.html.twig"  with { video: video } %}
    {% endfor %}
</div>