{% if entity.active %}
    <button class="social_action watchlater" data-login-required data-watch-later data-video-id="{{ entity.id }}"
            rel="tooltip" title="Ver Después" data-later="false" data-placement="bottom">
        <i></i>
    </button>
{% endif %}