{% extends "DodiciFansworldWebBundle::popup.html.twig" %}

{% block content %}
    <div class="greybox">
        <div class="videoContainerEnd">
            <div class="container-up">
                <p class="text-success"></p>
                <p class="text-success">
                    <strong>Su video de Youtube se subio correctamente.</strong>
                </p>
                <p>{{ title }}</p>
            </div>
        </div>
    </div>
{% endblock %}