<section class="row-fluid search {{ entityType }} endless">
    <div class="topBar">
        <span class="entity-title">{{ title }}</span>
        <!--span class="see-all">Ver todos</span-->
    </div>
    <div class="roller">
        {% block roller %}
        {% endblock %}
    </div>
</section>