<section class="row-fluid search {{ entityType }}">
    <div class="topBar">
        <span class="entity-title">{{ entityType }}</span>
        <span class="see-all">Ver todos</span>
    </div>
    <div class="roller">
        {% block roller %}
        {% endblock %}
    </div>
</section>