{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <div class="confirmation-checkemail">
        <h2>Gracias!</h2>

        <p class="systemmessage">{{ 'registration.check_email'|trans({'%email%': user.email}, 'FOSUserBundle') }}</p>

        <div class="envelope">
            <div class="top-flick"></div>
            <div class="with-border"></div>
            <div class="bottom-flick"></div>
        </div>
    </div>
{% endblock fos_user_content %}