{% block subject %}
{% autoescape false %}
{{ 'registration.email.subject'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl}, 'FOSUserBundle') }}
{% endautoescape %}
{% endblock %}
{% block body_text %}
{% autoescape false %}
{{ 'registration.email.message'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl}, 'FOSUserBundle') }}
{% endautoescape %}
{% endblock %}

{% block body_with_link %}
{% autoescape false %}
{{ 'registration.email.message'|trans({'%username%': user.username, '%confirmationUrl%': '<a href="' ~ confirmationUrl ~ '">' ~ confirmationUrl ~ '</a>'}, 'FOSUserBundle') }}
{% endautoescape %}
{% endblock %}

{% block body_html %}
	{% include 'DodiciFansworldWebBundle:Mail:user_message.html.twig' with {content: block('body_with_link') } %}
{% endblock %}
