{% form_theme form theme %}
<div class="register">
	<h1>Registro</h1>
	<div class="greybox">
    <form action="{{ path('fos_user_registration_register') }}" method="post" class="fos_user_registration_register bigform">
        <div class="fbconnect">
            <p>Podés registrarte con Facebook:</p>
            {{ facebook_login_button({'autologoutlink': false, label: 'facebook_login_register'|trans}) }}
        </div>

		<div class="form-register fieldcontainer">
			<ul class="fields">
        		{{ form_widget(form) }}
        	</ul>
		</div>
		
        <div class="actions clearfix">
            <input type="submit" name="submit" value="Registrarme" class="btn_action" />
        </div>
    </form>
    </div>
</div>