<section class="eventcalendar-container">
    <div class="calendar"></div>
    <div class="resetdate-container">
        <button class="btn resetdate">{{ 'reset'|trans }}</button>
    </div>
</section>

