<section class="eventcalendar-container">
    <div class="calendar"></div>
</section>

<script>
    $(function(){
    	events.initEventHome($(".eventcalendar-container .calendar"),$('section.eventgrid-container ul.events-grid') );
    })
</script>