{% if evento is not defined %}
    {% set evento = null %}
{% endif %}

{% if evento is not null %}
    {% if appstate.EventTypeName(evento.type) == 'Partido' %}

        <section class='evento-destacado row-fluid' >
            <div class="span5 row-fluid escudos-container">
                {% for hasteam in evento.hasteams %}
                    <div class="span6 escudo">
                        {% thumbnail hasteam.team.image, 'big_square' with {title: hasteam.team.title} %}
                    </div>
                {% endfor %}
            </div>

            <div class="span7 datos-container">
                <div class='titulo'>{{ evento }}</div>
                <div class='subtitulo'>{{ evento.stadium }}</div>
                <div class='fecha'>{{ evento.fromtime|date("d/m/Y H:i") }}</div>
                <div class='checkin-container'>
                    <button class='btn btn-large btn-danger'>CHECK IN</button>
                </div>
            </div>
        </section>   
    {% endif %}
{% endif %}