<section class='eventwall-container' event-wall='event-wall' local-id='{{ event.hasTeams[0].team.id }}' visitante-id='{{ event.hasTeams[1].team.id }}'>
    
</section>

<script>
    $(document).ready(function(){
        events.initDetail($('[event-wall]'),{{ event.id }});
    });
</script>