{% extends "DodiciFansworldWebBundle::popup.html.twig" %}


{% block content %} 
	<div class="greybox">
		<div class="container-up">
			<div id="file-uploader"></div>
	        <div id='progressbar' class="progress progress-success progress-striped">
	            <div class="bar" style="width:0%;"></div>
	        </div>
	    </div>
    </div>
{% endblock %}