{% set comments = appstate.comments(photo) %}
<div class="photo-show row-fluid">
    <div class="span">
        <div class="row-fluid">
            <div class="media_content">
                <i class="fullscreen"></i>
                <a class="media_img colorbox" href="{% path photo.image, 'huge' %}">{% thumbnail photo.image, 'big' %}</a>
            </div>
        </div>
        <div class="detail-photo row-fluid">
            <div class="span content">
                {% if photo.content %}
                    <p data-expandable data-slice-point="120">{{ photo.content }}</p>
                {% endif %}
            </div>
            {% include 'DodiciFansworldWebBundle:Default:share.html.twig' with {entity: photo} %}
        </div>
    </div>
</div>
{% include 'DodiciFansworldWebBundle:Comment:blocks/box.html.twig' with {entity: photo} %}

<script type="text/javascript">
    $("div.media_content a.colorbox").colorbox();
</script>