<section class='sidebarimage-container'>
	
		{% if direction == 'prev' %}
			{% if prev %}
				<a class="carousel-control" href="{{ path(route_name, {'id': prev.id, 'slug': prev.slug, username: entity.username}) }}" title="{{ 'previous'|trans }}">‹</a>
				{% thumbnail prev.image, 'medium' with {width: ''} %}
		    {% endif %}
		{% elseif direction == 'next' %}
	    	{% if next %}
		    	<a class="carousel-control" href="{{ path(route_name, {'id': next.id, 'slug': next.slug, username: entity.username}) }}" title="{{ 'next'|trans }}">›</a>
		    	{% thumbnail next.image, 'medium' with {width: ''} %}
			{% endif %}
		{% endif %}
    		
    
</section>