{% extends "DodiciFansworldWebBundle:User:profile_edit_base.html.twig" %}

{% use "DodiciFansworldWebBundle:Layout/Snippet:profile_inner_fullwidth.html.twig"  %}

{% block user_edit_toolbar %}
	{% set current_edit_toolbar = 'password' %}
	{{ parent() }}
{% endblock %}


{# EDIT PASSWORD#}
{% block inner_content %}
    {{ parent() }}
    <div class="row-fluid change-password">
        <div class="span7">
            <form action="{{ path('fos_user_change_password') }}"  method="POST" class="fos_user_change_password bigform">
                <dl class="with-circles">
                    <dt>
                        <h4 class="numbered"><span>1</span> Escribe tu clave actual</h4>
                        <div class="clearfix"></div>
                    </dt>
                    <dd class="actual-password" >
                        <div class="row">
                            <div class="span2">
                                Clave actual
                            </div>
                            <div class="span8">
                                <input type="password" id="fos_user_change_password_form_current" name="fos_user_change_password_form[current]" required="required">
                            </div>
                        </div>
                    </dd>

                    <dt>
                        <h4 class="numbered"><span>2</span> Escribe tu nueva clave</h4>
                    </dt>
                    <dd class="new-password">
                        <div class="row">
                            <div class="span2">
                                Clave nueva
                            </div>
                            <div class="span8">
                                <input type="password" id="fos_user_change_password_form_new_first" name="fos_user_change_password_form[new][first]" required="required">
                            </div>
                        </div>
                        <div class="row repeat-password">
                            <div class="span2">
                                Repetir clave nueva
                            </div>
                            <div class="span8">
                                <input type="password" id="fos_user_change_password_form_new_second" name="fos_user_change_password_form[new][second]" required="required">
                                <span class="error-passwords">{{ form_errors(form) }}</span>
                                <br/>
                                <span class="accept-terms">
                                    <input type="checkbox" class="pull-left"/>
                                    <p>Acepto los terminos y condiciones de Fansworld.TV</p>
                                </span>
                                <button type="submit" class="btn btn-success" name="submit">Cambiar</button>
                            </div>
                        </div>
                    </dd>
                </dl>
            </form>
        </div>
        <div class='span4'>
            <section class='ayuda'>
                <h2><span class="circular">?</span>Ayuda</h2>
                <p>
                    Phasellus gravida porttitor tristique. Aenean nisl nulla, sagittis at mattis sit amet, tincid
                </p>
            </section>
		</div>
    </div>

{% endblock %}