{% extends "DodiciFansworldWebBundle:User:profile_edit_base.html.twig" %}

{% block user_edit_toolbar %}
	{% set current_edit_toolbar = 'password' %}
	{{ parent() }}
{% endblock %}

{% block profile_edit_body %}

{% if user == app.user %}
    {% set userLogged = true %}
{% else %}
    {% set userLogged = false %}
{% endif %}

<div class="row-fluid">
    <form action="{{ path('fos_user_change_password') }}"  method="POST" class="fos_user_change_password bigform">
        <dl class="with-circles">
            <dt>
                <span class="green-circle pull-left"><p>1</p></span>
                <span class="pull-left">Escribe tu clave actual</span>
                <div class="clearfix"></div>
            </dt>
            <dd>
                <div class="row">
                    <div class="span2">
                        Clave actual
                    </div>
                    <div class="span2">
                        <input type="password" id="fos_user_change_password_form_current" name="fos_user_change_password_form[current]" required="required">
                    </div>
                </div>
            </dd>
            
            <dt>
                <span class="green-circle pull-left"><p>2</p></span>
                <span class="pull-left">Escribe tu nueva clave</span>
                <div class="clearfix"></div>
            </dt>
            <dd>
                <div class="row">
                    <div class="span2">
                        Clave nueva
                    </div>
                    <div class="span2">
                        <input type="password" id="fos_user_change_password_form_new_first" name="fos_user_change_password_form[new][first]" required="required">
                    </div>
                </div>
                <div class="row">
                    <div class="span2">
                        Repetir clave nueva
                    </div>
                    <div class="span3">
                        <input type="password" id="fos_user_change_password_form_new_second" name="fos_user_change_password_form[new][second]" required="required">
                        <span class="error-passwords">{{ form_errors(form) }}</span>
                        <br/>
                        <span class="accept-terms">
                            <input type="checkbox" class="pull-left"/>
                            <p>Acepto los terminos y condiciones de Fansworld.TV</p>
                        </span>
                        <button type="submit" class="btn btn-success" name="submit">Cambiar</button>
                    </div>
                </div>
            </dd>
        </dl>
    </form>
</div>

{% endblock %}