{% extends "DodiciFansworldWebBundle:User:profile_edit_base.html.twig" %}

{% block profile_edit_body %}

{% if user == app.user %}
    {% set userLogged = true %}
{% else %}
    {% set userLogged = false %}
{% endif %}

<div class="row-fluid">
        <dl class="with-circles">
            <dt>
                <div class="green-circle pull-left"><p>1</p></div>
                <span class="pull-left">Escribe tu clave actual</span>
                <div class="clearfix"></div>
            </dt>
            <dd>
                <div class="row">
                    <div class="span2">
                        Clave actual
                    </div>
                    <div class="span2">
                        <input type="password" value="" />
                    </div>
                </div>
            </dd>
            
            <dt>
                <div class="green-circle pull-left"><p>2</p></div>
                <span class="pull-left">Escribe tu nueva clave</span>
                <div class="clearfix"></div>
            </dt>
            <dd>
                <div class="row">
                    <div class="span2">
                        Clave nueva
                    </div>
                    <div class="span2">
                        <input type="password" value="" />
                    </div>
                </div>
                <div class="row">
                    <div class="span2">
                        Repetir clave nueva
                    </div>
                    <div class="span3">
                        <input type="password" value="" />
                        <span class="error-passwords">Sus contraseñas no coinciden</span>
                        <br/>
                        <span>
                            <input type="checkbox" class="pull-left"/>
                            <p>Acepto los terminos y condiciones de Fansworld.TV</p>
                        </span>
                    </div>
                </div>
            </dd>
        </dl>
</div>

{% endblock %}