{% raw %}
    <div class="element" data-element-type="{{>type}}" data-element-date="{{>date}}">
        <a href="{{>href}}">
            <img src="{{>image}}" alt="{{>slug}}">
        </a>
        <div class="title-and-user">
            <span class="title">{{>title}}</span>
            <a class="user" href="{{>authorHref}}">{{>author}}</a>
        </div>
        {{if type=='video'}}
            <a href="{{>href}}">
                <i class="play-video"></i>
            </a>
        {{/if}}
    </div>
{% endraw %}    
