{% raw %}
<li>
    <a target="_blank" href="{{>url}}">
        <img alt="" src="{{>image}}" width="40" />
            <span class='name'>{{>title}}</span>
        </br>
    </a>
    <div class="befan">
        <button class="btn  btn_friendship add btn-primary" data-friendship-add="true" data-user-id="{{>id}}">Ser fan</button>
    </div>
</li>
{% endraw %}