{% raw %}
<div>
  <div class="search-history">
  </div>
  <div class="perfiles">Perfiles</div>
  <div class="dataset">
  </div>
  <div class="button-container">
    <button class="search-button" type="submit">Buscar "Diego"</button>
  </div>
</div>
{% endraw %}