{% raw %}
<div class="video">
	<a href="{{>href}}">
		<img src="{{>imageSrc}}" alt="{{>videoAlt}}" title="{{>videoTitle}}" />
		<span class="video-duration">{{>videoDuration}}</span>
	</a>
	<span data-title class="title">{{>videoTitle}}</span>
	<p data-content="">{{>videoContent}}</p>
</div>
{% endraw %}