{% form_theme form theme %}
<div class="change-password">
	<h1>Cambiar Contraseña</h1>
	<div class="greybox">
    <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password bigform">
        <div class="form-change-password fieldcontainer">
			<ul class="fields">
        		{{ form_widget(form) }}
        	</ul>
		</div>
		
        <div class="actions clearfix">
            <button type='submit' class='btn btn-success' name='submit'>Cambiar</button>
        </div>
    </form>
    </div>
</div>