{% raw %}
    <article class="video">
        <img src="{{>image}}" alt="{{>title}}" />
        <div>
            <a class="title" href="{{>url}}">{{>title}}</a>
            <span class="author">de <a href="{{>author.url}}">{{>author.username}}</a></span>
        </div>
    </article>
{% endraw %}