{% raw %}
    <article class="video">
        <div class="image">
            <img src="{{>image}}" alt="{{>title}}" />
            <span class="duration">{{>duration}}</span>
        </div>
        <div class="info">
            <a class="title" href="{{>url}}">{{>title}}</a>
            <span class="author">de <a href="{{>author.url}}">{{>author.username}}</a></span>
        </div>
    </article>
{% endraw %}