{% raw %}
    <article class="video">
        <div class="image">
            <a class="title" href="{{>url}}">
                <img src="{{>image}}" alt="{{>title}}" />
            </a>
            <span class="duration">{{>duration}}</span>
            <i class="ico-watchlater" data-login-required data-watch-later data-video-id="{{>id}}" data-later="false" rel="tooltip" title="Watch later"></i>
            <a class="title" href="{{>url}}" data-modal-url="{{>modalUrl}}">
                <i class="ico-channels" rel="tooltip" title="Quick view"></i>
            </a>
        </div>
        <div class="info">
            <a class="title" href="{{>url}}">{{>title}}</a>
            <span class="author">de <a href="{{>author.url}}">{{>author.username}}</a></span>
        </div>
    </article>
{% endraw %}