{% raw %}
    <article class="video">
        <div class="image">
            <a class="title" href="{{>url}}">
                <img src="{{>image}}" alt="{{>title}}" />
            </a>
            <span class="duration">{{>duration}}</span>
            <a class="title" href="{{>url}}">
                <i class="ico-channels"></i>
            </a>
            <i class="ico-watchlater" ></i>
        </div>
        <div class="info">
            <a class="title" href="{{>url}}">{{>title}}</a>
            <span class="author">de <a href="{{>author.url}}">{{>author.username}}</a></span>
        </div>
    </article>
{% endraw %}