{% if raw is not defined %}
    {% set raw = false %}
{% endif %}
<section class='text-box {{ box_class }}'>
    {% if box_title %}
        <h4>{{ box_title }}</h4>
    {% endif %}
    <p>
        {% if raw %}
            {{ box_content|raw|nl2br }}
        {% else %}
            {{ box_content|nl2br }}
        {% endif %}
    </p>
</section>