{# Layout with right and left sidebar #}

<section class='inner-left-sidebar span3'>
	{% block inner_left_sidebar %}
	{% endblock %}
</section>
<section class='inner-content span6'>
	{% block inner_content %}
	{% endblock %}
</section>
<section class='inner-right-sidebar span3'>
	{% block inner_right_sidebar %}
	{% endblock %}
</section>
