{# Layout with one left sidebar #}

<section class='inner-sidebar span3'>
	{% block inner_sidebar %}
	{% endblock %}
</section>
<section class='inner-content span8'>
	{% block inner_content %}
	{% endblock %}
</section>
