{# Layout with one right sidebar #}

<section class='inner-content span8'>
	{% block inner_content %}
	{% endblock %}
</section>
<section class='inner-sidebar span4'>
	{% block inner_sidebar %}
	{% endblock %}
</section>

