{% raw %}
    <li data-added-element>
        <div class='idol-container'>
            <div class="avatar">
                {{if image}}
                    <a href="{{>url}}"><img title="{{>title}}" width="150" src="{{>image}}"></a>
                {{else}}
                    <a href="{{>url}}">
{% endraw %}
                        <img src="{{ asset('bundles/dodicifansworldweb/images/profile_no_image.png' )}}" alt="avatar" />
{% raw %}
                    </a>
                {{/if}}
            </div>
            <span class="name"><a href="{{>url}}">{{>title}}</a></span>
            {{if fanCount>0}}
                <span class="friendCount">{{>fanCount}}</span>
            {{/if}}

            <div class="addFriend" data-add-fan>
                <button class="social_action befun btn_idolship" data-login-required="" data-idol-id="{{>id}}" data-idolship-add="true"><i></i> Ser fan</button>
            </div>
        </div>
    </li>
{% endraw %}