{% raw %}
    <li data-added-element>
        <div class='fan-container'>
            <div class="avatar">
                {{if image}}
                    <a href="{{>url}}"><img title="{{>title}}" width="150" src="{{>image}}"></a>
                {{else}}
                    <a href="{{>url}}">
{% endraw %}
                        <img src="{{ asset('bundles/dodicifansworldweb/images/profile_no_image.png' )}}" alt="avatar" />
{% raw %}
                    </a>
                {{/if}}
            </div>
            <span class="name"><a href="{{>url}}">{{>title}}</a></span>
            <span class="friendCount">{{>fanCount}}</span>

            <div class="addFriend" data-add-fan="" data-login-required="">
                <button class="btn  btn_friendship add btn-success" data-user-id="{{>id}}"> Ser fan</button>
            </div>
        </div>
    </li>
{% endraw %}