{% raw %}
    <div class="video-std-block">
        <a href="{{>url}}">
            <img title="{{>title}}" src="{{>image}}" />
            <i class="play-video"></i>
        </a>
        <div class="title-and-user">
            {{if author}}
                {{if author.image}}
                    <a href="{{>author.url}}">
                        <img title="" src="{{>author.image}}" class="author-image" rel="tooltip" title="{{>author.title}}"/>
                    </a>
                {{/if}}
            {{/if}}
            <a href="{{>url}}">
                <span class="title">{{>title}}</span>
            </a>
        </div>
    </div>
{% endraw %}