{% raw %}
<article class="video video-std-block">
    <div class="image">
        <a class="title" href="{{>url}}">
            <img src="{{>image}}" alt="{{>title}}" />
        </a>
        <span class="duration">{{>duration}}</span>
        <i class="ico-watchlater" data-login-required data-watch-later data-video-id="{{>id}}" data-later="false" rel="tooltip" title="Ver Después"></i>
    </div>
    <div class="info">
        <a class="title" href="{{>url}}">{{>title}}</a>
        <span class="author">de <a href="{{>author.url}}">{{>author.username}}</a></span>
        <div class="clearfix"></div>
    </div>
</article>
{% endraw %}