{% raw %}
    <li class="video-element" data-added-element>
        <img title="{{>title}}" width="250" src="{{>image}}">            
        <span class="title">{{>title}}</span>
        <span class="duration">{{>duration}}</span>
        <span class="overlay"></span>
        <span class="ico-play"></span>
    </li>
{% endraw %}