{% if large is not defined %}
    {% set large = false %}
{% endif %}
<button class="btn btn-primary" data-subscribe-channel="{{ channel.id }}" data-login-required>
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") and (subscriptions.subscribed(channel)) %}
        <i class="icon-remove icon-white"></i>
        {{ 'unsubscribe'|trans }}
    {% else %}
        <i class="icon-plus-sign icon-white"></i>
        {{ 'subscribe'|trans }}
    {% endif %}
</button>