<div class="ranking-filters">
    <span class='mas-vistos'>Mas vistos</span>
    <ul>
        <li class="active " filter-type='popular'>
            <span>popular</span>
        </li>
        <li filter-type='latest'>
            <span class='middle' >ultimos</span>
        </li>
        
        <li filter-type='trends'>
            <span>temas</span>
        </li>
    </ul>
</div>