<div class="ranking-filters" id="list-filters">
    <ul>
        <li data-list-filter-type='popular' class="active">
            <span>POPULAR</span>
        </li>
        <li data-list-filter-type='highlighted'>
            <span>MÁS VISTOS</span>
        </li>
        <li data-list-filter-type='visited'>
            <span>ÚLTIMOS</span>
        </li>
        <li data-list-filter-type='popular'>
            <span>TEMAS</span>
        </li>
    </ul>
</div>
