<div class="ranking-filters">
    <span class='mas-vistos'>Mas vistos</span>
    <ul>
        <li class="active " filter-type='week'>
            <span>de la semana</span>
        </li>
        <li filter-type='day'>
            <span class='middle' >del dia</span>
        </li>
        <li filter-type='last'>
            <span class='middle'>ultimos</span>
        </li>
        <li filter-type='trends'>
            <span>temas</span>
        </li>
    </ul>
</div>