<div class="ranking-filters">
    <span class='mas-vistos'>Mas vistos ></span>
    <ul>
        <li class="active">
            <span>de la semana</span>
        </li>
        <li>
            <span class='middle'>del dia</span>
        </li>
        <li>
            <span class='middle'>ultimos</span>
        </li>
        <li>
            <span>temas</span>
        </li>
    </ul>
</div>