<div class="ranking-filters" id="list-filters">
    <ul>
        <li class="active" data-list-filter-type='popular'>
            <span>POPULAR</span>
        </li>
        <li data-list-filter-type='viewed'>
            <span>MÁS VISTOS</span>
        </li>
        <li data-list-filter-type='latest'>
            <span>ÚLTIMOS</span>
        </li>
        <li data-list-filter-type='trends'>
            <span>TEMAS</span>
        </li>
    </ul>
</div>
