<div class="audience-list">
    <div class="audience-list-tab">LO ESTA VIENDO<span></span></div>
    <ul data-video-now-watching data-video-id="{{ entity.id }}" data-placeholder="{{ asset('bundles/dodicifansworldweb/images/user_pic.jpg') }}"></ul>
</div>
