<section class='ranking-widget' >
    <header class="ranking-filters-container">
        {% include "DodiciFansworldWebBundle:Tv:blocks/filters.html.twig"  %}
    </header>

    <div class='content-container'>
        <div class='tag-list-container'>
            {% include "DodiciFansworldWebBundle:Tv:blocks/tag_list.html.twig"  %}
        </div>
        <div class='isotope_container montage-container'>
            {% include "DodiciFansworldWebBundle:Video:blocks/montage.html.twig"  with { videos: videosDestacadosFW, listScrollable: true, listFilters:'#list-filters', listIsMontage: true, listId: 'montage-video-list' } %}
        </div>
    </div>
</section>
<script>
    $(function(){
        window.fansworld.tv = new TV(1, 2, 3);
    });
</script>