<div class="tag-list">
    <ul>
    {% for tag in tags %}
        {% if tag.type == 'tag' %}
            {% set tag_url = '#pendiente' %}
        {% elseif tag.type == 'idol' %}
            {% set tag_url = '#pendiente' %}
        {% elseif tag.type == 'team' %}
            {% set tag_url = '#pendiente' %}
        {% endif %}
        <li>
            <a href='{{ path('teve_taggedvideos', {'term': tag.title}) }}'>
                {{ tag.title }}
            </a>
        </li>
    {% endfor %}
    </ul>
</div>