{% extends "DodiciFansworldWebBundle:Layout:one_column.html.twig" %}


{% block main_content %}
    <div class="row-fluid things-layout">
        <div class="span8 things-main">
            {% block main %}
            {% endblock %}
        </div>
        <div class="span4 things-sidebar">
            {% block sidebar %}
            {% endblock %}
        </div>
    </div>
{% endblock %}