{% extends "DodiciFansworldWebBundle:Layout:one_column.html.twig" %}

{% block main_content %}
    <div class="my-things teams">
        {% include "DodiciFansworldWebBundle:Things:blocks/sidebar_teams.html.twig" %}
            
        <div class="fluid-content">
            <header class="user_profile_head profile_head  small   row-fluid">
                {% include 'DodiciFansworldWebBundle:User/Profile:header_small.html.twig' with {'entity': user}%}
            </header>
            <div class="row-fluid">
                <h3>
                    Mis partidos
                    <div class="btn-group pull-right" data-filter-matchs data-toogle="buttons-radio">
                        <button data-type="0" class="btn active">Chequeados</button>
                        <button data-type="1" class="btn">Próximos</button>
                        <button data-type="2" class="btn">Pasados</button>
                    </div>
                </h3>
                {% include "DodiciFansworldWebBundle:Event:blocks/grid.html.twig"  %}
            </div>
        </div>
    </div>
{% endblock %}