{% extends "DodiciFansworldWebBundle:Layout:one_column.html.twig" %}

{% block main_content %}
<div class="my-things videos" data-entity="videos">
    <div class="things-sidebar">
        <section class="notification">
            <h4>NOTIFICACIONES <span class="midline"></span></h4>
            <div data-notification></div>
        </section>

        {% if lastVideos|length > 0 %}
            <section class="news">
                <h4>ULTIMOS DE FANSWORLD <span class="midline"></span></h4>
                <div class="sidebar-videos">
                    {% for video in lastVideos %}
                        {% if loop.first %}
                             {% include "DodiciFansworldWebBundle:Default:blocks/sidebar_videos_mythings.html.twig" %}
                        {% else %}
                            <div class="video-element" rel="tooltip" title="{{ video.title }}">
                                <a href="{{ path('video_show', {'id': video.id, 'slug': video.slug}) }}">
                                    <img src="{{ asset('bundles/dodicifansworldweb/images/play_icon.png') }}" alt="Play" class="play"/>
                                    {% thumbnail video.image, 'small' %}
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
        {% endif %}
    </div>
    <div class="fluid-content">
        <h2 class="newGreenType">Mis videos</h2>
        <div class="btn-group pull-right" data-filter-videos data-toggle="buttons-radio" style="height: 35px;">
            <button type="button" class="btn active" data-type="0">Mis videos</button>
            <button type="button" class="btn" data-type="1">Mis idolos</button>
            <button type="button" class="btn" data-type="2">Mis clubes</button>
            <button type="button" class="btn" data-type="3">Mis canales</button>
            <button type="button" class="btn" data-type="4">Watch later list</button>
        </div>
        <div class="clearfix" style="height: 35px;"></div>
        <div class="videos-container">
            {% include 'DodiciFansworldWebBundle:Video:blocks/video_grid.html.twig' with {'listWithModal': true} %}
        </div>
    </div>
</div>
{% endblock %}