{% extends "DodiciFansworldWebBundle:Idol:base.html.twig" %}

{% block title %}{{ parent() }} - Mis Videos{% endblock %}

{% block profile_tabs %}
	{% set active_tab = 'videos' %}
	{{ parent() }}
{% endblock %}


{% block profile_body %}
    {% embed "DodiciFansworldWebBundle:Layout/Embed:profile_inner_fullwidth.html.twig" %}
        {% block inner_content %}
        <div data-list="video" data-entity-type="idol" data-entity-id="{{idol.id}}">
            <div class="row-fluid update clearfix"> 
                <span class="pull-right">
                    {% include 'DodiciFansworldWebBundle:Default:blocks/button_group.html.twig'  %}
                </span>
            </div>
            
            {% include 'DodiciFansworldWebBundle:Video:blocks/montage.html.twig' with {'entityId': idol.id, 'entityType': 'idol', 'listWithModal': true} %}
        </div>
        {% endblock %} 
    {% endembed %}		
{% endblock %}