{% extends "DodiciFansworldWebBundle:Idol:base.html.twig" %}

{% use "DodiciFansworldWebBundle:Layout/Snippet:profile_inner_fullwidth.html.twig"  %}

{% block title %}{{ parent() }} - Mis Videos{% endblock %}

{% block profile_tabs %}
	{% set active_tab = 'videos' %}
	{{ parent() }}
{% endblock %}

{% block inner_content %}
    <div data-list data-entity-id="{{ idol.id }}" data-entity-type="idol">
        {% include 'DodiciFansworldWebBundle:Default:blocks/button_group.html.twig'  %} 
        {% include 'DodiciFansworldWebBundle:Video:blocks/montage.html.twig'  with {'entityId': idol.id, 'entityType': 'Idol'}%}
    </div>
{% endblock %} 