<div class="actualizaciones clearfix">
	{% if appstate.cancomment(entity) or true %}
		{% include 'DodiciFansworldWebBundle:Comment:comment_form.html.twig' with {entity: entity} %}
	{% endif %}

	{% include 'DodiciFansworldWebBundle:Comment/blocks:wall.html.twig' with {entity: entity} %}
</div>