{% if comments is not defined %}
	{% set comments = appstate.comments(entity) %}
{% endif %}
<h2>{{ 'Comments'|trans }}</h2>
<div class="actualizaciones clearfix">
	{% if appstate.cancomment(entity) or true %}
		{% include 'DodiciFansworldWebBundle:Comment:comment_form.html.twig' with {entity: entity} %}
	{% endif %}
	
	<div data-wall="{{ appstate.type(entity) ~ '_' ~ entity.id }}">
		
	</div>
</div>