{% extends 'DodiciFansworldWebBundle:Comment:comment.base.html.twig' %}

{% block comment_block_class %}status_comment clearfix{% endblock %}

{% block info_block_class %}status_comment_user{% endblock %}

{% block avatar %}
	{% set image = comment.author.image %}
	{{ parent() }}
{% endblock %}

{% block action %}
	<span class="action_user">
		<a href="{{ path('user_detail', {'id': comment.author.id }) }}">{{ comment.author }}</a>
		{% include 'DodiciFansworldWebBundle:Comment:date.html.twig' with {date: comment.createdAt} %}
	</span>
{% endblock %}

{% block title %}{% endblock %}
{% block date %}{% endblock %}

{% block description %}
<p>
	{{ comment.content|nl2br }}
</p>
{% endblock %}