{% extends 'DodiciFansworldWebBundle:Comment:comment.share.html.twig' %}

{% block share_action_text %}{{ 'action_uploaded_video'|trans }}{% endblock %}

{% block title %}
    <span class="title">
        <a href="{{ tag_item_url }}">{{ tag_item.title }}</a>
    </span>
{% endblock %}

{% block info_commentcontent %}
    <div class="video">
        {% if tag_item.image is defined and tag_item.image is not null %}
            <a href="{{ tag_item_url }}">{% thumbnail tag_item.image, 'wall'   %}</a>
        {% endif %}
    </div>
{% endblock %}    