{% set image = comment.author.image %}
<section class='subcomment-container'>
	<div class='subcomment-avatar'>
	    {% block avatar %}
	        {% if image is defined and image is not null %}
	            {% thumbnail image, 'headeravatar' %}
	        {% endif %}
	    {% endblock %}
	 </div>
	 <div class='subcomment-content'>
	    <p>
	        {{ comment.content|nl2br }}
	    </p>
	 </div>
</section>	 