<div class="comment clearfix">
	{% if comment.author.image %}
	<div class="avatar">
		<a href="{{ path('user_land', {username: comment.author.username}) }}">{% thumbnail comment.author.image, 'avatar' %}</a>
	</div>
	{% endif %}
	<div class="message">
		<a href="{{ path('user_land', {username: comment.author.username}) }}">{{ comment.author }}</a> 
		{{ comment.content }}
	</div>
</div>