{% if type is not defined %}
	{% set type = appstate.type(entity) %}
{% endif %}
<div class="commentform clearfix">
	<div class="clearfix">
		{% if app.user.image %}
		<div class="avatar">
			{% thumbnail app.user.image, 'avatar' %}
		</div>
		{% endif %}
		<textarea class="comment_message" cols="" rows="2"></textarea>
	</div>
	{% if entity.privacy is defined %}
	<input class="post_privacidad" type="hidden" value="{{ entity.privacy }}" />
	{% endif %}
	<div class="clearfix buttondiv">
		<a class="btn comment_button" href="#" data-type="{{ type }}" data-id="{{ entity.id }}" data-pin="true">comentar</a>
	</div>
</div>