{% if comments is not defined %}
	{% set comments = appstate.comments(entity) %}
{% endif %}
<div class="pincomments">
	{% if appstate.cancomment(entity) %}
		{% include 'DodiciFansworldWebBundle:Comment:pin_comment_form.html.twig' with {entity: entity} %}
	{% endif %}
	
	{% for comment in comments %}
		{% if loop.index <= 5 %}
			{% if appstate.canview(comment) %}
				{% include 'DodiciFansworldWebBundle:Comment:pin_comment.html.twig' with {comment: comment} %}
			{% endif %}
		{% endif %}
	{% endfor %}
	
	{% if comments|length > 0 %}
		<a class="allcomments" href="{{ path(appstate.type(entity) ~ '_show', {id:entity.id, slug:entity.slug}) }}">{{ 'View'|trans }} {{entity.commentcount}} {{ 'comments'|trans }}</a>
	{% endif %}
</div>
