{% extends "DodiciFansworldWebBundle::three_column.html.twig" %}

{% block title %}{{ parent() }} - {{ 'Comment'|trans }}{% endblock %}

{% block content %}
<div class="cont clearfix">
	<div class="actualizaciones clearfix">
    	{% include 'DodiciFansworldWebBundle:Comment:comment.html.twig' with {entity: comment} %}
    </div>
</div>
{% endblock %}
