{% block text %}
	<div class="avatar">
		<img src="{{activity.media.photo.author.image}}" />
	</div>
	<a class="notice-link" href="{{ path('user_land', {username: activity.media.photo.author.username }) }}">{{activity.media.photo.author.username}}</a>
	<span class="notice-text">Compartió algo contigo</span>
{% endblock %}