{% if appstate.mobile %}
	{% set includename = "mobile" %}
{% else %}
	{% set includename = "web" %}
{% endif %}
{% extends 'DodiciFansworldWebBundle::' ~ includename ~ '.html.twig' %}

{% block title %}{{ parent() }} - Usuario{% endblock %}

{% block content %}
    {% block fos_user_content %}{% endblock %}
{% endblock %}
{% block relatedcolumn %}
    <section id='leftcolumn-sidebar'>
        <h3>Todo sobre tus idolos</h3>
        <p>Phasellus gravida porttitor tristique. Aenean nisl nulla, sagittis at mattis sit amet, tincidunt a nulla. </p>
        
        
        <h3>Equipos del mundo</h3>
        <p>Phasellus gravida porttitor tristique. Aenean nisl nulla, sagittis at mattis sit amet, tincidunt a nulla. </p>
        
        <h3>Participa ne partidos y eventos</h3>
        <p>Phasellus gravida porttitor tristique. Aenean nisl nulla, sagittis at mattis sit amet, tincidunt a nulla. </p>
        
        <h3>Contactate con tus amigos</h3>
        <p>Phasellus gravida porttitor tristique. Aenean nisl nulla, sagittis at mattis sit amet, tincidunt a nulla. </p>
        
        <h3>Badges</h3>
        <p>Phasellus gravida porttitor tristique. Aenean nisl nulla, sagittis at mattis sit amet, tincidunt a nulla. </p>
        
        <h3>Participa, gana puntos y accede a beneficios</h3>
        <p>Phasellus gravida porttitor tristique. Aenean nisl nulla, sagittis at mattis sit amet, tincidunt a nulla. </p>
        
        <h3>Videos exclusivos en TV</h3>
        <p>Phasellus gravida porttitor tristique. Aenean nisl nulla, sagittis at mattis sit amet, tincidunt a nulla. </p>
    </section>
{% endblock %}