{% extends 'DodiciFansworldWebBundle:Layout:three_column.html.twig' %}

{% block title %}{{ parent() }} - Usuario{% endblock %}

{% block content %}
    {% block fos_user_content %}{% endblock %}
{% endblock %}

{% block relatedcolumn %}
    <section id='leftcolumn-sidebar'>
        <h3>ELIGE</h3>
        <p>Tus primeros pasos, Bienvenido a Fansworld.tv</p>
        
        <h3>SUBE</h3>
        <p>Completa tu perfil y selecciona a tus ídolos y equipos para recibir los más exclusivos contenidos relacionados a ellos.</p>
        
        <h3>EXPLORA</h3>
        <p>Comienza a compartir fotos y videos con tus amigos para demostrar tu fanatismo</p>

        <h3>PARTICIPA</h3>
        <p>Visita los canales de videos que tenemos para ti: Estilo de vida, Fans, Clubes, Trucos, Entrevistas</p>
    </section>
{% endblock %}