{% extends 'DodiciFansworldWebBundle:Layout:three_column.html.twig' %}

{% block title %}{{ parent() }} - Usuario{% endblock %}

{% block content %}
    {% block fos_user_content %}{% endblock %}
{% endblock %}
{% block relatedcolumn %}
    <section id='leftcolumn-sidebar'>
        <h3>Todo sobre tus idolos</h3>
        <p>Descubre la historia de tus ídolos, los equipos donde dejó su huella y los contenidos más apasionantes de su carrera.</p>
        
        
        <h3>Equipos del mundo</h3>
        <p>Siente la pasión por tu equipo en donde quieras que estés y comparte la emoción con otros fanáticos alrededor del mundo.</p>
        
        <h3>Participa ne partidos y eventos</h3>
        <p>Alienta a tus equipos e ídolos, compartiendo fotos y participando de encuestas durante los partidos.</p>
        
        <h3>Contactate con tus amigos</h3>
        <p>Conéctate con amigos para compartir experiencias sobre tus ídolos y clubes favoritos.</p>
        
        <h3>Badges</h3>
        <p>Recibe reconocimiento por tu participación activa en la comunidad de FansWorld TV .</p>
        
        <h3>Participa, gana puntos y accede a beneficios</h3>
        <p>Desafía a tus amigos en distintos entretenimientos para ser el mejor de todos.</p>
        
        <h3>Videos exclusivos en TV</h3>
        <p>Accede a contenidos y videos exclusivos en alta calidad.</p>
    </section>
{% endblock %}