{% extends 'DodiciFansworldWebBundle:Layout:three_column.html.twig' %}

{% block title %}{{ parent() }} - Usuario{% endblock %}

{% block content %}
    {% block fos_user_content %}{% endblock %}
{% endblock %}

{% block relatedcolumn %}
    <section id='leftcolumn-sidebar'>
        <h3>Subir</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque placerat laoreet auctor. Quisque vel mauris elit, ut ornare tortor.</p>
        
        <h3>Seguir</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque placerat laoreet auctor. Quisque vel mauris elit, ut ornare tortor.</p>
        
        <h3>Compartir</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque placerat laoreet auctor. Quisque vel mauris elit, ut ornare tortor.</p>
    </section>
{% endblock %}