
.packery {
	background: #FDD;
	background: hsla(45, 100%, 40%, 0.2);
}

/* clearfix */
.packery:after {
	content: ' ';
	display: block;
	clear: both;
}

#home-gallery .gutter-sizer{width:0px;}
#home-gallery .grid-sizer{width:0px;}
#home-gallery {
	.video {
		overflow: hidden;
		margin-bottom: 15px;
		&.double {
			background-color: black;

			.info {
				padding: 10px 0 10px 15px;

				a.title {
					color: white;
				}

				span.author {
					color: white;

					strong, a {
						color: @white;
					}
				}
			}
		}

		div.image {
			position: relative;

			img {
				width: 100%;
				/*height: 85%;*/
			}

			&:hover {
				i.ico-channels, i.ico-watchlater {
					display: block;
					.transition(opacity .15s ease-in-out);
				}
			}

			span.duration {
				position: absolute;
				right: 5px;
				bottom: 5px;
				color: @white;
				text-shadow: 1px 1px 10px black;
				font-size: 11px;
				font-weight: 500;
			}

			i.ico-channels, i.ico-watchlater {
				@size: 32px;
				position: absolute;
				right: 5px;
				.square(@size);
				background-size: @size;
				display: none;
				opacity: 0.5 !important;

				&:hover {
					opacity: 1 !important;
				}

				&.ico-channels {
					top: 40px;
					background-image: url('../images/ico-qv-channels.png');
				}

				&.ico-watchlater {
					cursor: pointer;
					top: 5px;
					background-image: url('../images/ico-watchlater-channels.png');
				}
			}
		}

		div.info {
			display: block;
			text-align: left;
			padding-top: 3px;

			a.title {
				color: @black;
				font-size: 14px;
				font-weight: 600;
				.size(39px, 100%);
				.pull-left();
				overflow: hidden;
				display: block;

				&:hover {
					color: @orange;
				}
			}

			span.author {
				.pull-left();
				color: @grayDark;
				font-size: 11px;
				font-weight: 300;

				strong, a {
					color: @grayDarker;
					font-weight: 600;
				}
			}
		}
	}
}

/* MOBILE ONE COLLUMN*/
@media screen and (max-width:480px) {
	#home-gallery .gutter-sizer{width: 5%;}
	#home-gallery .grid-sizer { width: 5%; }
	#home-gallery .video {
		width: 100%;
        min-width: 100%;
		margin-top: 12px;
		margin-bottom: 12px;
		overflow: hidden
	}
	#home-gallery .double {
		width: 100%;
	}
  /* 10 columns for larger screens */
  #profile-gallery .gutter-sizer{width:1px;}
  #profile-gallery .grid-sizer { width:1px; }
  #profile-gallery .profile {
    width: 150px;
    height: 150px;
    min-width: 150px;
    min-height: 150px;
    margin-top: 5px;
    margin-bottom: 5px;

  }
  #profile-gallery .double {
    width: 300px;
    height: 300px;
    min-width: 300px;
    min-height: 300px;
  }
}
@media screen and (min-width:481px) and (max-width:767px){
	#home-gallery .gutter-sizer{width:1%;}
	#home-gallery .grid-sizer { width: 2%; }
	#home-gallery .video {
		width: 30%;
        min-width: 30%;
		margin-top: 5px;
		margin-bottom: 5px;
		margin-left: 2.0%;
	}
	#home-gallery .double {
		width: 63%;
	}
  /* 10 columns for larger screens */
  #profile-gallery .gutter-sizer{width:1px;}
  #profile-gallery .grid-sizer { width:1px; }
  #profile-gallery .profile {
    width: 150px;
    height: 150px;
    min-width: 150px;
    min-height: 150px;
    margin-top: 5px;
    margin-bottom: 5px;

  }
  #profile-gallery .double {
    width: 300px;
    height: 300px;
    min-width: 300px;
    min-height: 300px;
  }
}
@media screen and (min-width:768px) and (max-width:979px){
	#home-gallery .gutter-sizer{width:1%;}
	#home-gallery .grid-sizer { width: 1%; }
	#home-gallery .video {
		width: 22%;
        min-width: 22%;
		margin-top: 5px;
		margin-bottom: 5px;
		margin-left: 1%;
	}
	#home-gallery .double {
		width: 46%;
	}
  /* 10 columns for larger screens */
  #profile-gallery .gutter-sizer{width:1px;}
  #profile-gallery .grid-sizer { width:1px; }
  #profile-gallery .profile {
    width: 150px;
    height: 150px;
    min-width: 150px;
    min-height: 150px;

  }
  #profile-gallery .double {
    width: 300px;
    height: 300px;
    min-width: 300px;
    min-height: 300px;
  }
}
@media screen and (min-width:980px) and (max-width:1199px){
	#home-gallery .gutter-sizer{width:1%;}
	#home-gallery .grid-sizer { width: 1%; }
	#home-gallery .video {
		width: 22%;
        min-width: 22%;
		margin-top: 5px;
		margin-bottom: 5px;
		margin-left: 1.5%;
	}
	#home-gallery .double {
		width: 46%;
	}
  /* 10 columns for larger screens */
  #profile-gallery .gutter-sizer{width:1px;}
  #profile-gallery .grid-sizer { width:1px; }
  #profile-gallery .profile {
    width: 150px;
    height: 150px;
    min-width: 150px;
    min-height: 150px;
  }
  #profile-gallery .double {
    width: 300px;
    height: 300px;
    min-width: 300px;
    min-height: 300px;
  }
}
@media screen and (min-width: 1200px) {
	/* 10 columns for larger screens */
	#home-gallery .gutter-sizer{width:0.5%;}
	#home-gallery .grid-sizer { width: 0%; }
    #home-gallery .video {
      width:16.75%;
      min-width:16.75%;
      margin-top:5px;
      margin-bottom:5px;
    }
    #home-gallery .double {
      width:31%;
      min-width:31%;
    }

  /* 10 columns for larger screens */
  #profile-gallery .gutter-sizer{width:0px;}
  #profile-gallery .grid-sizer { width:0px; }
  #profile-gallery .profile {
    width: 150px;
    height: 150px;
  }
  #profile-gallery .double {
    width: 300px;
    height: 300px;
    min-width: 300px;
    min-height: 300px;
  }
}

