{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <div class="clearfix greybox">
        <p class="systemmessage"><h1>{{ 'resetting.check_email'|trans({}, 'FOSUserBundle') }} <a href="mailto:soporte@fansworld.tv">soporte@fansworld.tv</a> </h1></p>
    </div>
{% endblock %}