{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <div class="clearfix greybox">
        <p class="systemmessage"><h1>{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}<h1></p>
    </div>
{% endblock fos_user_content %}
