{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<div class="resetpassword">
	<h1>Restablecer Contraseña</h1>
	<div class="greybox">
	{% if invalid_username is defined %}
        <div class="errors">
            {{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}
        </div>
    {% endif %}
	<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request bigform">
    	<div class="form-resetpassword fieldcontainer">
			<ul class="fields">
        		<li class="clearfix">
        			<label for="username">{{ 'resetting.request.username'|trans({}, 'FOSUserBundle') }}</label>
	                <input type="text" id="username" name="username" />
        		</li>
        	</ul>
		</div>
		
        <div class="actions clearfix">
            <input type="submit" name="submit" value="Restablecer" class="btn_action" />
        </div>
    </form>
    </div>
</div>
{% endblock fos_user_content %}