<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    {% block title %}<title>Fansworld.TV</title>{% endblock %}
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.10.0/build/cssreset/cssreset-min.css" />
  </head>
  <body>
    <style type="text/css">
      {% block styles %}
        body {
          font-family: "Open Sans";
          font-weight: 300;
        }

        a{
          color: #3f57c6;
          text-decoration: none;
          font-weight: 600;
        }

        p {
          padding: 0;
        }

        .block-container {
          width: 600px;
          display: block;
          margin: 0 auto;
          height: auto;
          border: 1px solid lightgray;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px;
          overflow: hidden;
          margin-top: 40px;
        }

        .block-container header {
          width: 100%;
          height: 50px;
          background-color: #231f20;
          color: white;
        } 

        header section.left, header section.right {
          display: inline-block;
          height: 100%;
        }

        header section.right p {
          text-align: right;
          line-height: 14px;
          padding-top: 9px;
          margin-right: 10px;
        }

        .left { float: left; }
        .right { float: right; }

        div.block-container section.body {
          padding: 15px;
          color: #7c7c7c;
          font-weight: 400;
        }
        
        div.block-container section.body a.legend {
          display: block; 
          color: #9e9e9e; 
          clear: both; 
          text-align: center;
          font-size: 10px; 
          width: 100%;
        }

        .green-button {
          background-color: #8dc527;
          font-size: 15px;
          color: white;
          font-weight: 600;
          padding: 10px;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px;
        }

        footer {
          font-size: 12px;
          font-weight: 500;
          color: lightgray;
          text-align: center;
          margin-top: 10px;
        }
      {% endblock %}
    </style>
    <div class="block-container">
      <header>
        <section class="left">
          <img src="{{ appmedia.absolute( asset('bundles/dodicifansworldweb/images/fansworld143.png') ) }}" alt="Comparti tu pasion" style="margin-top: 14px;margin-left: 10px;"/>
        </section>
        <section class="right">
          <p class="left" style="text-align: right">
            <span class="fullname" style="font-size: 11px; font-weight: 600;">{{ targetUser }}</span>
            <br/>
            <span class="username" style="font-size: 10px;">({{ targetUser.username }})</span>
          </p>
          <a href="" class="left"><img src="{{ appmedia.imageurl(targetUser.image, 'avatar') }}"  /></a>
        </section>
      </header>
      <section class="body">
        {% block body %}{% endblock %}
        {% block extratext %}{% endblock %}
      </section>
    </div>
    <footer>Copyright 2013, todos los derechos reservados</footer>
  </body>
</html>