{% extends 'DodiciFansworldWebBundle:Mail:base.html.twig' %}

{% block extratext %}
<p style="font-size: 11px; color: #c0c0c0; margin-top: 60px;"><a href="{{ url('notification_preferences') }}">Ajustar preferencias de las notificaciones que recibes</a></p>
{% endblock %}