{% extends 'DodiciFansworldWebBundle:Mail:base.html.twig' %}

{% block extratext %}
  <a class="legend" href="{{ url('notification_preferences') }}">Ajustar tus preferencias de las notificaciones que recibes</a>
{% endblock %}