{% extends 'DodiciFansworldWebBundle:Mail:base.html.twig' %}

{% block extratext %}
  <a style="display: block;color: #9e9e9e;clear: both;text-align: center;font-size: 10px;width: 100%;text-decoration: none;" href="{{ url('notification_preferences') }}">Ajustar tus preferencias de las notificaciones que recibes</a>
{% endblock %}