{% raw %}
    <div class="profile {{>type}}">
        <img src="{{>splash}}" class="splash" />
        <img src="{{>image}}" class="image"/>
        <div class="info">
            <a href="{{>slug}}">
                <span class="title">{{>title}}</span>
            </a>
            <div class="bottom-container clearfix">
                <div class="data-cant">
                    {{>dataCount}}
                    <span>{{>dataText}}</span>
                </div>
                <button class="btn btn-success add-fan" data-{{>type}}ship-add="true" data-{{>type}}-id="{{>id}}">+</button>
            </div>
        </div>
    </div>
{% endraw %}
