{% block content %}
    <script type="text/javascript">checkIn.init();</script>
    <div class="checkin">
        <h1>Check in a partido...</h1>
        {% if teams|length > 0 %}
            <span>
                <label>Equipo: </label>
                <select class="selectTeam">
                    {% for id, team in teams  %}
                        <option value="{{ id }}">{{ team}}</option>
                    {% endfor  %}
                </select>
            </span>
        {% endif %}
    </div>
{% endblock %}
