{# Layout with one left sidebar #}
{% block profile_body %}
	<section class='inner-sidebar span3'>
		{% block inner_sidebar %}
		{% endblock %}
	</section>
	<section class='inner-content span9'>
		{% block inner_content %}
		{% endblock %}
	</section>
{% endblock %}