{% extends "DodiciFansworldWebBundle:Layout:three_column.html.twig" %}

{% use "DodiciFansworldWebBundle:Layout/Snippet:inner_fullwidth.html.twig"  %}

{% block title %}{{ parent() }} - Detalle{% endblock %}

{% block inner_content %}
	{{ parents() }}
	


        <div class="cont clearfix">
            <h2>{{ 'Detail'|trans }}</h2>
            TODO
        </div>
    <script type="text/javascript">
        $(document).ready(function(){
            var teamId = {{ team.id }};
            $("a.teamToggle:not('.disabled')").live('click', function(){
                $("a.teamToggle").addClass('disabled');
                ajax.genericAction('teamship_ajaxtoggle', {
                    'team': teamId
                }, function(response){
                    $("a.teamToggle").html(response.buttontext);
                    success(response.message);
                    $("a.teamToggle").removeClass('disabled');
                }, function(error){
                    console.error(error);
                });
                
                return false;
            });
        });
    </script>
{% endblock %}