{% extends "DodiciFansworldWebBundle::three_column.html.twig" %}

{% block title %}{{ parent() }} - Detalle{% endblock %}

{% block content %}
	<header class="team_profile_head profile_head row-fluid">
		{% block profile_head %}
			{% set fship = appstate.teamshipwith(team) %}
            {% if  fship is null %}
				{% include 'DodiciFansworldWebBundle:Team/Profile:header_large.html.twig' with {entity: team} %}
			{% else %}
				{% if isHome is defined and isHome %}
					{% include 'DodiciFansworldWebBundle:Team/Profile:header_large.html.twig'  with {entity: team} %}
				{% else %}
					{% include 'DodiciFansworldWebBundle:Team/Profile:header_small.html.twig'  with {entity: team} %}
				{% endif %}				

			{% endif %}
		{% endblock %}
		
		{% block profile_tabs %}
            {% include 'DodiciFansworldWebBundle:Team/Profile:header_navbar.html.twig' with {entity: team} %}
		{% endblock %}
		
	</header>


        <div class="cont clearfix">
            <h2>{{ 'Detail'|trans }}</h2>
            TODO
        </div>
    <script type="text/javascript">
        $(document).ready(function(){
            var teamId = {{ team.id }};
            $("a.teamToggle:not('.disabled')").live('click', function(){
                $("a.teamToggle").addClass('disabled');
                ajax.genericAction('teamship_ajaxtoggle', {
                    'team': teamId
                }, function(response){
                    $("a.teamToggle").html(response.buttontext);
                    success(response.message);
                    $("a.teamToggle").removeClass('disabled');
                }, function(error){
                    console.error(error);
                });
                
                return false;
            });
        });
    </script>
{% endblock %}