{% raw %}
<div class="comment" data-eventship-type = "{{>eventship}}">
    <span class="flechita"></span>
    <div class="img-container">
        <a href="{{>profile}}">
            {{if avatar}}
                <img src="{{>avatar}}" rel="tooltip" data-title="{{>author}}"/>
            {{else}}
{% endraw %}
                <img src="{{ asset('bundles/dodicifansworldweb/images/profile_no_image_40x40.png') }}" />
{% raw %}
            {{/if}}
        </a>
    </div>
    <div class="content">
        {{>content}}
    </div>
</div>
{% endraw %}