{% raw %}
<div class="comment">
    <span class="flechita"></span>
    <div class="img-container">
        {{if avatar}}<img src="{{>avatar}}" />{{/if}}
    </div>
    <div class="content">
        {{>content}}
    </div>
</div>
{% endraw %}