{% extends 'DodiciFansworldWebBundle:Template/Comment:share.html.twig' %}

{% block avatar %}
	<div class="ico">
		<img src="{{ asset('bundles/dodicifansworldweb/images/ico/user_add.png' )}}" alt="icon" />
	</div>
{% endblock %}

{% block action %}
	<span class="action_user">
		{% block share_action_text %}
			{% raw %}
				<a href="{{>targetWallUrl}}">{{>targetName}}</a>
			{% endraw %}
			{{ 'and'|trans }} 
			{% raw %}
				<a href="{{>authorWallUrl}}">{{>authorName}}</a>
			{% endraw %}
			{{ 'are now friends'|trans }}
		{% endblock %}
	</span>
{% endblock %}

{% block title %}{% endblock %}
{% block description %}{% endblock %}
