<div class="status_comment commentform">
	<div class="shortcommentform">
    	<textarea class="comment_message" cols="" rows="2" data-type="" data-id="">comentar...</textarea>
		{#}
		{% if entity.privacy is defined %}
        	<input class="post_privacidad" type="hidden" value="{{ entity.privacy }}" />
		{% endif %}
		#}
	</div> 
</div>
