<div class="comment-toolbar">
	<img class='toolbar-comentarios' src="{{ asset("bundles/dodicifansworldweb/images/ico/comentarios.png") }}" alt="Comentarios" />
    <img class='toolbar-compartir' src="{{ asset("bundles/dodicifansworldweb/images/ico/compartir.png") }}" alt="Compartir" />
	<img class='toolbar-favortios' src="{{ asset("bundles/dodicifansworldweb/images/ico/favoritos.png") }}" alt="Favorito" />
</div>