{% extends "DodiciFansworldWebBundle:Layout:one_column.html.twig" %}

{% block main_content %}
    <section id='terms-conditions' class='about'>
        {% include "DodiciFansworldWebBundle:About:terms_text.html.twig" %}
    </section>
{% endblock %}