{% extends "DodiciFansworldWebBundle::web.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/dodicifansworldweb/css/about.css') }}" type="text/css" media="all">
{% endblock %}

{% block content %}
    <section id='terms-conditions' class='about'>
        <hgroup>
            <h1 class='green'>Terminos y condiciones de uso</h1>
            <h2>Comparte con tus idolos y clubes, demostrando tu pasion y compartiendo y experiemntando con amigos!</h3>
        </hgroup>
        <h3 class='green'>Donec pellentesque lorem in ligula sagittis eu mattis tortor euismod. Proin rutrum venenatis adipis</h3>
        <p>
            Donec pellentesque lorem in ligula sagittis eu mattis tortor euismod. Proin rutrum venenatis adipis
            Donec pellentesque lorem in ligula sagittis eu mattis tortor euismod. Proin rutrum venenatis adipis
            Donec pellentesque lorem in ligula sagittis eu mattis tortor euismod. Proin rutrum venenatis adipis
            Donec pellentesque lorem in ligula sagittis eu mattis tortor euismod. Proin rutrum venenatis adipis
            Donec pellentesque lorem in ligula sagittis eu mattis tortor euismod. Proin rutrum venenatis adipis
            Donec pellentesque lorem in ligula sagittis eu mattis tortor euismod. Proin rutrum venenatis adipis
            Donec pellentesque lorem in ligula sagittis eu mattis tortor euismod. Proin rutrum venenatis adipis
        </p>
        <h3 class='green'>Donec pellentesque lorem in ligula sagittis eu mattis tortor euismod. Proin rutrum venenatis adipis</h3>
        <p>
            Donec pellentesque lorem in ligula sagittis eu mattis tortor euismod. Proin rutrum venenatis adipis
            Donec pellentesque lorem in ligula sagittis eu mattis tortor euismod. Proin rutrum venenatis adipis
            Donec pellentesque lorem in ligula sagittis eu mattis tortor euismod. Proin rutrum venenatis adipis
            Donec pellentesque lorem in ligula sagittis eu mattis tortor euismod. Proin rutrum venenatis adipis
            Donec pellentesque lorem in ligula sagittis eu mattis tortor euismod. Proin rutrum venenatis adipis
            Donec pellentesque lorem in ligula sagittis eu mattis tortor euismod. Proin rutrum venenatis adipis
            Donec pellentesque lorem in ligula sagittis eu mattis tortor euismod. Proin rutrum venenatis adipis
            Donec pellentesque lorem in ligula sagittis eu mattis tortor euismod. Proin rutrum venenatis adipis
        </p>
        <h3 class='green'>Donec pellentesque lorem in ligula sagittis eu mattis tortor euismod. Proin rutrum venenatis adipis</h3>
        <p>
            Donec pellentesque lorem in ligula sagittis eu mattis tortor euismod. Proin rutrum venenatis adipis
            Donec pellentesque lorem in ligula sagittis eu mattis tortor euismod. Proin rutrum venenatis adipis
            Donec pellentesque lorem in ligula sagittis eu mattis tortor euismod. Proin rutrum venenatis adipis
            Donec pellentesque lorem in ligula sagittis eu mattis tortor euismod. Proin rutrum venenatis adipis
            Donec pellentesque lorem in ligula sagittis eu mattis tortor euismod. Proin rutrum venenatis adipis
            Donec pellentesque lorem in ligula sagittis eu mattis tortor euismod. Proin rutrum venenatis adipis
            Donec pellentesque lorem in ligula sagittis eu mattis tortor euismod. Proin rutrum venenatis adipis
            Donec pellentesque lorem in ligula sagittis eu mattis tortor euismod. Proin rutrum venenatis adipis
        </p>
    </section>
{% endblock %}