{% extends "DodiciFansworldWebBundle:Layout:three_column.html.twig" %}

{% block content %}
    <section id='terms-conditions' class='about'>
        {% include "DodiciFansworldWebBundle:About:terms_text.html.twig" %}
    </section>
{% endblock %}