<h1>TERMINOS Y CONDICIONES DE FANSWORLD TV.</h1>
<h2>Fansworld TV “comparte tu pasión”</h2>

<p>Los Términos y Condiciones constituyen un contrato legalmente vinculante para Ud.y Fansworld TV  en relación con la utilización de los Servicios, por lo que es importante que los leas detenidamente.</p>
<p>Esta Declaración de derechos y responsabilidades  contiene las condiciones de servicio que rigen nuestra relación con los usuarios y con todos aquellos que interactúan con Fansworld TV.  Al usar o al acceder a Fansworld TV, muestras tu conformidad con esta Declaración, que se actualiza periódicamente.</p>

<p>Fansworld TV se reserva el derecho a realizar modificaciones en los Términos y Condiciones en cualquier momento, por ejemplo para tratar cambios de la ley o normativa o cambios en las funcionalidades ofrecidas a través del Servicio. Por tal motivo, deberás revisar los Términos y Condiciones regularmente para comprobar dichas modificaciones. La versión modificada de los Términos y Condiciones (los “Términos y Condiciones Modificados”) será publicada en http:www.Fansworld TV.tv. Si. no estas de acuerdo con los Términos y Condiciones modificados. deberás dejar de utilizar el servicio. El uso continuado del Servicio después de que los Términos y Condiciones Modificados hayan sido publicados constituirá tu aceptación de los mismos.</p>

<p>Los presentes Términos del Servicio son aplicables a todos los usuarios del Servicio, incluyendo, sin carácter limitativo, a los usuarios que además contribuyan Contenido al Servicio. "Contenido" incluye el texto, software, scripts, gráficos, fotos, sonidos, música, videos, combinaciones audiovisuales, funciones interactivas y otros materiales que pueda visualizar en, acceder a través de o contribuir al Servicio. El Servicio incluye todos los aspectos de Fansworld TV, incluyendo todos los productos, software y servicios ofrecidos a través del sitio de Internet Fansworld TV</p>


<h3>Información de la empresa</h3>

<p>http://www.fansworld.tv es la plataforma digital interactiva donde los fanáticos se conectan y comparten su pasión a través de videos y contenido original..</p>

<p>Con domicilio en <address>1529 Maryland street</address></p>
<p><address>Houston, Texas 77006</address> la empresa.Fansworld TV Corporation  se ha establecido y registrado de acuerdo a las leyes de Delaware, USA.</p>


<h3>Declaración de derechos y responsabilidades</h3>

<p>Esta Declaración de derechos y responsabilidades ("Declaración", "Condiciones" o "DDR") tiene su origen en los Principios de Fansworld TV y contiene las condiciones de servicio que rigen nuestra relación con los usuarios y con todos aquellos que interactúan con Fansworld TV. Al usar o al acceder a Fansworld TV, muestras tu conformidad con esta Declaración, que se actualiza periódicamente.</p>

<p>No podrás utilizar los Servicios ni aceptar los Términos y Condiciones si (a) no estás legalmente capacitado para celebrar un contrato vinculante con Fansworld TV, o (b) tienes prohibida o legalmente excluida la recepción o utilización de los Servicios, en virtud de la legislación de tu país de residencia o desde el que accedes o utilizas los Servicios.</p>

<h3>Creación de la cuenta</h3>

<p>Para poder acceder a determinadas funciones del Sitio Web u otros elementos de los Servicios, tendrás que crear una cuenta Fansworld TV. Al crear tu cuenta, deberás facilitar determinada información correcta y completa. Es importante que mantengas de forma segura y confidencial tu contraseña de cuenta Fansworld TV.
Los usuarios de Fansworld TV proporcionan sus nombres e información reales y necesitamos tu colaboración para que siga siendo así. Éstos son algunos de los compromisos que aceptas en relación con el registro y mantenimiento de la seguridad de tu cuenta:</p>
<ul>
    <li>No proporcionarás información personal falsa en Fansworld TV, ni crearás una cuenta para otras personas sin su autorización.</li>
    <li>No crearás más de una cuenta personal.</li>
    <li>Si inhabilitamos tu cuenta, no crearás otra sin nuestro permiso.</li>
    <li>No utilizarás tu biografía personal para obtener ganancias comerciales (como vender tu actualización de estado a un anunciante).</li>
    <li>No utilizarás Fansworld TV si eres menor de 13 años.</li>
    <li>No utilizarás Fansworld TV si has sido declarado culpable de un delito sexual.</li>
    <li>Mantendrás la información de contacto exacta y actualizada.</li>
    <li>No compartirás tu contraseña, no dejarás que otra persona acceda a tu cuenta, ni harás nada que pueda poner en peligro la seguridad de tu cuenta.</li>
    <li>No transferirás la cuenta (incluida cualquier página o aplicación que administres) a nadie sin nuestro consentimiento previo por escrito.</li>
    <li>Si seleccionas un nombre de usuario o identificador similar para tu cuenta o página, nos reservamos el derecho a eliminarlo o reclamarlo si lo consideramos oportuno (por ejemplo, si el propietario de una marca comercial se queja por un nombre de usuario que no está relacionado estrechamente con el nombre real del usuario).</li>
</ul>

<h3>Privacidad y politica de uso de datos</h3>

<p>Tu privacidad es muy importante para nosotros. Hemos diseñado nuestra Política de uso de datos para ayudarte a comprender cómo puedes usar Fansworld TV para compartir información con otras personas y cómo recopilamos y usamos tu información.
Podemos utilizar la información que recibimos sobre ti como parte de nuestro esfuerzo para mantener la seguridad de las integraciones, los servicios y los productos de Fansworld TV; para proteger los derechos o la propiedad de Fansworld TV o terceros;   para proporcionarte funciones, contenidos y servicios que pudieran ser de tu interes; para ofrecerte anuncios relevantes a tu perfil,
para operaciones internas, incluidos la solución de problemas, el análisis de datos, la investigación, el desarrollo y la mejora del servicio.</p>

<p>Concedernos este permiso nos permite desarrollar nuevas funcionalidades y servicios utilizando  la información que recibimos sobre ti de forma innovadora.</p>

<p>Aunque nos permites utilizar la información que recibimos acerca de ti, tú eres en todo momento su propietario.</p>

<p>No compartimos esta información con otros a menos que:</p>
<ul>
    <li>nos hayas dado tu permiso;</li>
    <li>te hayamos advertido, como informándote de ello en esta política, o  </li>
    <li>hayamos eliminado tu nombre o cualquier otro dato por el que se te pueda identificar.</li>
</ul>

<p>Obviamente, en el caso de la información que otras personas comparten sobre ti, dichas personas son quienes controlan cómo la comparten.</p>

<p>Almacenamos los datos durante el tiempo necesario para facilitarte productos y servicios. La información asociada con tu cuenta se conserva hasta que la elimines.</p>

<h3>Propiedad intelectual</h3>

<p>Eres el propietario de todo el contenido y la información que publicas en Fansworld TV, y puedes controlar cómo se comparte a través de la configuración de la privacidad. Además:
Reconoces y aceptas ser el único responsable del contenido que publicas en Fansworld TV y de las consecuencias de dicha publicación. Como usuario te encuentras obligado a no publicar o cargar ningún contenido cuya posesión sea ilegal, o cuya utilización  viole cualquier derecho de propiedad intelectual.
Como usuario  estas obligado a que el Contenido que proporcionas no contendrá material sujeto a derechos de propiedad intelectual de terceros o material sujeto a otros derechos de propiedad industrial de terceros(incluyendo derechos de exclusividad o publicidad), salvo que el titular legal de dichos derechos le haya otorgado una licencia o autorización formal, o está legalmente autorizado de calquier otra forma, para publicar el material en cuestión.
Reconoces ser el único responsable (sin que Fansworld TV asuma responsabilidad alguna frente a Ud. o a cualquier tercero para) del incumplimiento de tus obligaciones previstas en los Términos y Condiciones y de las consecuencias (incluyendo cualesquiera pérdidas o daños en que Fansworld TV pueda incurrir) derivadas de dicho incumplimiento.
Manifiestas y garantizas que eres titular del contenido que publicas (y que lo seguriáa siendo mientras utilices los Servicios) de todas las licencias y todos los derechos, consentimientos y permiso que se necesitan para permitir a Fansworld TV utilizar su Contenido a efectos de la prestación del Servicio y para cualquier otro fin con arreglo a la forma contemplada en el Servicio y en los presentes Términos y Condiciones. Haciendo expresa renuncia en este acto a exigir alguna compensación en dinero y/o en cualquier otra especie.
Para el contenido protegido por derechos de propiedad intelectual, como fotografías y vídeos (en adelante, "contenido de PI”), nos concedes específicamente el siguiente permiso, de acuerdo con la configuración de la privacidad y las aplicaciones: nos concedes una licencia no exclusiva, transferible, con derechos de sublicencia, libre de derechos de autor, aplicable globalmente, para utilizar cualquier contenido de PI que publiques en Fansworld TV en conexión con Fansworld TV (en adelante, "licencia de PI"). Esta licencia de PI finaliza cuando eliminas tu contenido de PI o tu cuenta, salvo si el contenido se ha compartido con terceros y éstos no lo han eliminado.
Cuando eliminas contenido de PI, éste se borra de forma similar a cuando vacías la papelera o papelera de reciclaje de tu equipo. No obstante, entiendes que es posible que el contenido eliminado permanezca en copias de seguridad durante un plazo de tiempo razonable (si bien no estará disponible para terceros).
Cuando publicas contenido o información con la configuración "Público", significa que permites que todos, incluidas las personas que son ajenas a Fansworld TV, accedan y usen dicha información y la asocien a ti (es decir, tu nombre y foto del perfil).
A excepción del Contenido proporcionado al Servicio por los usuarios, todos los demás contenidos  serán propiedad de Fansworld TV, o le corresponderán en virtud de una licencia, y estarán sujetos a derechos de autor, derechos de marca y otros derechos de propiedad intelectual e industrial de Fansworld TV o de los licenciantes de Fansworld TV.
Dicho Contenidos no podrán ser descargados, copiados, reproducidos, distribuidos, transmitidos, difundidos, mostrados, vendidos, otorgados bajo licencia o explotados para ningún otro fin sin el previo consentimiento por escrito de Fansworld TV. Fansworld TV se reserva todos los derechos que no hayan sido expresamente otorgados con respecto a su contenido exclusivo.</p>

<h3>Normas de conducta y seguridad</h3>

<p>Hacemos todo lo posible para hacer que Fansworld TV sea un sitio seguro, pero necesitamos tu ayuda para que así sea, lo que implica los siguientes compromisos de tu parte:</p>
<ul>
    <li>No publicarás comunicaciones comerciales no autorizadas (como correo no deseado, "spam") en Fansworld TV.</li>
    <li>No recopilarás información o contenido de otros usuarios, ni accederás de otro modo a Fansworld TV, utilizando medios automáticos (como harvesting bots, robots, arañas o scrapers) sin nuestro permiso previo.</li>
    <li>No participarás en marketing multinivel ilegal, como el de tipo piramidal, en Fansworld TV.</li>
    <li>No subirás virus ni código malintencionado de ningún tipo.</li>
    <li>No solicitarás información de inicio de sesión ni accederás a una cuenta perteneciente a otro usuario.</li>
    <li>No utilizarás Fansworld TV para actos ilícitos o engañosos,</li>
    <li>No realizarás ninguna acción que pudiera inhabilitar, sobrecargar o afectar al funcionamiento correcto o al aspecto de Fansworld TV, como, por ejemplo, un ataque de denegación de servicio o la alteración de la presentación de páginas u otra funcionalidad de Fansworld TV.</li>
    <li>No distribuirás  ninguna parte del Sitio Web o de los Servicios, incluyendo a título enunciativo, pero no limitativo, el Contenido, a través de ningún medio sin la previa autorización por escrito de Fansworld TV salvo en caso de que Fansworld TV ponga a su disposición los medios para dicha distribución a través de una funcionalidad ofrecida por el Servicio (tal como el Reproductor de Video de Fansworld TV);</li>
    <li>No alterarás o modificarás ninguna parte del Sitio Web o de los Servicios (incluyendo a título enunciativo, que no limitativo, el Reproductor de Video de Fansworld TV y sus tecnologías relacionadas);</li>
    <li>No accederás a los Contenidos utilizando cualquier tecnología o medio distintos de las páginas de reproducción de video del propio Sitio Web, el Reproductor de Video de Fansworld TV o cualquier otro medio que Fansworld TV designe explícitamente a tal efecto;</li>
    <li>No eludirás  desactivarás o manipularás de cualquier otra forma las funciones de seguridad de los Servicios u otras funciones que (i) impidan o restrinjan la utilización o copia de los Contenidos, o (ii) que aplican las limitaciones a la utilización de los Servicios o de los contenidos que se ofrecen a través de los Servicios;</li>
    <li>No utilizarás el Servicio (incluyendo el Reproductor de Video de Fansworld TV) para ningun fin comercial -a menos que haya obtenido la previa autorización por escrito de Fansworld TV- tales como:  la reventa del acceso al Servicio; la venta de publicidad, patrocinio, o promociones colocados en o dentro del Servicio, o Contenido;</li>
    <li>Si utilizas el Reproductor de Video de Fansworld TV en tu sitio web no podrás modificar, basarse en o bloquear cualquier porción o funcionalidad del Reproductor de Video de Fansworld TV incluyendo, pero no limitado a, los links de vuelta al Sitio Web;</li>
    <li>No utilizarás o activarás ningún sistema automatizado (incluyendo, sin limitación alguna, cualquier robot, araña ("spider") o lector offline que acceda al Servicio de modo que envíe más mensajes de solicitud a los servidores de Fansworld TV en un intervalo de tiempo concreto de los que una persona física podría razonablemente producir en el mismo intervalo de tiempo utilizando un navegador web públicamente disponible y general (es decir, sin modificar);</li>
    <li>No recabarás datos personales de ningún usuario del Sitio Web o los Servicios (incluyendo los nombres de cuenta Fansworld TV);</li>
    <li>No utilizarás el Sitio Web o los Servicios (incluyendo los comentarios y las funciones de e-mail del Sitio Web) para ofrecer servicios en relación con una actividad comercial;</li>
    <li>No accederás al Contenido para cualquier finalidad distinta al uso personal, no comercial únicamente conforme a lo pretendido y permitido por el normal funcionamiento de los Servicios, y únicamente para Streaming. “Streaming” significa una transmisión digital contemporánea del material de Fansworld TV a través de Internet a un dispositivo operado por un usuario y habilitado para Internet de tal forma que lo que se pretende es que los datos sean vistos en tiempo real y no descargados (tanto permanente como temporalmente), copiados, almacenados o redistribuidos por el usuario.</li>
    <li>No deberás copiar, reproducir, distribuir, transmitir, emitir al público, exponer, vender, licenciar, o de cualquier otra forma explotar cualquier Contenido para cualquier finalidad sin el consentimiento previo y por escrito de Fansworld TV o los licenciantes respectivos del Contenido.</li>
</ul>

<p>En cuanto a normas de conducta, Fansworld TV promueve el trato cordial entre los usuarios. De tal forma, toda agresión y/o intento de vulnerar la integridad emocional o física de otra persona será penada. Queremos que los usuarios compartan contenido e intercambien sus opiniones en un marco de respeto y tolerancia, por lo tanto asumes los siguientes compromisos:
No molestarás, intimidarás ni acosarás a ningún usuario y no publicarás contenido que incite a la violencia.</p>

<p>No publicarás contenido que contenga lenguaje ofensivo o resulte intimidatorio de ninguna clase</p>

<p>No publicarás  imágenes de contenido sexual explícito o de alto contenido erótico, material morboso o que promueva o fomente el odio étnico, racial, sexual, de genero, religioso o de cualquier otra indole..</p>
<p>No realizarás apologia del delito (drogas, pirateria por ejemplo) bajo ninguna circunstancia.</p>



<p>Todo material que los Moderadores y Administradores de Fansworld TV consideren inconvenientes para el desarrollo de la comunidad serán eliminados.</p>


<h3>Terminación</h3>
<p>Fansworld TV se reserva el derecho a su sola discreción y sin notificación alguna de suspender o cancelar su registración al sitio por violación de los terminos y condiciones de uso del servicio. Por su parte como usuario puedes eliminar tu cuenta o desactivar tu aplicación en cualquier momento.</p>

<p>Aceptas ser el único responsable (frente a Fansworld TV y a otros terceros) de toda la actividad que tenga lugar en tu cuenta en  Fansworld TV.</p>
<p>Aceptas cumplir con todas las demás disposiciones de los Términos y Condiciones y de las Directrices de la Comunidad Fansworld TV en todo momento mientras utilice los Servicios. Asimismo No facilitarás ni fomentarás el incumplimiento de esta Declaración o nuestras políticas.</p>


<h3>Conflictos</h3>
<p>En caso de controversia y/o cualquier demanda, causa de acción o conflicto, que tengas con FW y en relación con la presente Declaración, aceptas someterte a la competencia de los Tribunales de Delaware USA. Las leyes de Delaware rigen esta Declaración, así como cualquier demanda que pudiera surgir entre las partes, independientemente de las disposiciones sobre conflictos de leyes.
Asimismo, nos mantendrás indemnes de cualquier reclamo y/o demanda que se inicie contra nosotros relacionada con tus acciones, tu contenido o tu información en FW, y serán responsable por todos los posibles daños, pérdidas y gastos de cualquier tipo (incluidos las costas y costos, tasas legales razonables) relacionados con dicha demanda. Aunque proporcionamos normas para la conducta de los usuarios, no controlamos ni dirigimos sus acciones en FW y no somos responsables del contenido o la información que los usuarios transmitan o compartan en FW. No somos responsables de ningún contenido y/o publicación que se considere ofensivo, inapropiado, obsceno, ilegal o inaceptable que puedas encontrar en FW. No somos responsables de la conducta de ningún usuario de FW, tanto dentro como fuera de FW.
Nuestro objetivo es mantener FW en funcionamiento, sin errores y seguro, pero debes utilizarlo con responsabilidad. No ofrecemos garantía alguna expresa o tácita, incluídas, las garantías de comerciabilidad. No garantizamos que FW sea siempre seguro o esté libre de errores, ni que funcione sin interrupciones o retrasos. FW no se responsabiliza de las acciones, el contenido, la publicación, la información o los datos de terceros y por la presente nos eximes a nosotros, nuestros Directivos, empleados, proveedores de cualquier demanda, reclamos, daños, conocidos o desconocidos, derivados o relacionados con cualquier demanda contra terceros.</p>
 
<h3>Disposiciones especiales aplicables a usuarios que no residan en USA</h3>

<p>Nuestro objetivo es crear una comunidad global con normas coherentes para todos, pero también por respetar la legislación local. Las siguientes disposiciones se aplicarán a los usuarios y a las personas que no sean usuarias de FW que se encuentran fuera de USA</p>
<p>Das tu consentimiento para que tus datos personales sean transferidos y tratados en USA..</p>

<h4>Definiciones</h4>
<ol>
    <li>El término "Fansworld TV" se refiere a la plataforma digital interactiva que inspira a fanáticos a conectarse y compartir su pasión a través del contenido original de video y funcionalidades de red social. y servicios que proporcionamos, incluidos los que se ofrecen a través de (a) nuestro sitio web en www.Fansworld TV.com y cualquier otro sitio web con marca o marca compartida de FW (incluidos los subdominios, versiones internacionales, widgets y versiones móviles y de smart TV); (b) nuestra plataforma; (c) plugins sociales, como el botón "Me gusta", el botón "Compartir" y otros elementos similares y (d) otros medios, software (como la barra de herramientas), dispositivos o redes ya existentes o desarrollados con posterioridad.</li>
    <li>El término "Plataforma" se refiere al conjunto de API y servicios (como el contenido) que permiten que otras personas, incluidos los desarrolladores de aplicaciones y los operadores de sitios web, obtengan datos de FW o nos los proporcionen a nosotros.</li>
    <li>El término "información" se refiere a los hechos y otra información sobre ti, incluidas las acciones que realizan los usuarios y las personas que no son usuarias que interactúan con FW.</li>
    <li>El término "contenido" se refiere a todo lo que tú u otros usuarios publican en FW que no se incluye en la definición de "información".</li>
    <li>El término "datos" o "datos de usuario" se refiere a los datos, incluidos el contenido o la información de un usuario, que otros pueden obtener de FW o proporcionar a FW a través de la plataforma.</li>
    <li>El término “publicar” significa publicar en FW o proporcionar contenido de otro modo mediante FW.</li>
    <li>Por "usar" se entiende utilizar, copiar, reproducir o mostrar públicamente, distribuir, modificar, traducir y crear obras derivadas.</li>
    <li>El término "usuario registrado activo" se refiere al usuario que ha entrado en FW al menos una vez en los últimos 30 días.</li>
    <li>El término "aplicación" significa cualquier aplicación o sitio web que usa la plataforma o accede a ella, así como cualquier otro componente que recibe o ha recibido datos de nosotros. Si ya no accedes a la plataforma pero no has eliminado todos los datos que te hemos proporcionado, el término "aplicación" continuará siendo válido hasta que los elimines.</li>
</ol>

<h4>Otro</h4>
<ol>
    <li>Esta Declaración constituye el acuerdo entre Fansworld TV TV Corporation y tú.</li>
    <li>Esta Declaración constituye el acuerdo completo entre las partes en relación con FW y sustituye cualquier acuerdo previo.</li>
    <li>Si alguna parte de esta Declaración no puede hacerse cumplir, el resto de las disposiciones seguirán teniendo validez y efectos entre las partes.</li>
    <li>Si no cumpliéramos alguna parte de esta Declaración, no se considerará una exoneración.</li>
    <li>Cualquier corrección a o exención de esta Declaración deberá hacerse por escrito y estar firmada por nosotros.</li>
    <li>No transferirás ninguno de tus derechos u obligaciones bajo esta Declaración a ningún tercero sin nuestro consentimiento.</li>
    <li>Todos nuestros derechos y obligaciones según esta Declaración son asignables libremente por nosotros en conexión con una fusión, adquisición o venta de activos o por efecto de ley o de algún otro modo.</li>
    <li>Nada en esta Declaración nos impedirá el cumplimiento de la ley.</li>
    <li>Esta Declaración no otorga derechos de beneficiario a ningún tercero.</li>
    <li>Nos reservamos todos los derechos que no te hayamos concedido de forma expresa.</li>
    <li>Cuando accedas a FW o lo uses deberás cumplir todas las leyes aplicables.</li>
</ol> 
