{% extends "DodiciFansworldWebBundle:Layout:one_column.html.twig" %}

{% block main_content %}
    <style type="text/css">
        span.footnodeNumber {
            padding-right: 1em;
        }

        span.annotation_style_by_filter {
            font-size: 95%;
            font-family: Arial;
            background-color: #fff000;
            margin: 0;
            border: 0;
            padding: 0;
        }

        .P1 {
            font-size: 14px;
            line-height: 115%;
            margin-bottom: 0.353cm;
            margin-top: 0cm;
            writing-mode: lr-tb;
            text-align: justify ! important;
            font-weight: 400;
        }

        .P2 {
            font-size: 11pt;
            line-height: 100%;
            margin-bottom: 0.353cm;
            margin-top: 0cm;
            font-family: Calibri;
            writing-mode: lr-tb;
            text-align: justify ! important;
        }

        .P3 {
            font-size: 11pt;
            line-height: 100%;
            margin-bottom: 0cm;
            margin-top: 0cm;
            font-family: Calibri;
            writing-mode: lr-tb;
        }

        .P4 {
            font-size: 11pt;
            line-height: 100%;
            margin-bottom: 0cm;
            margin-top: 0cm;
            text-align: right ! important;
        }

        .P5 {
            font-size: 16px;
            line-height: 115%;
            margin-bottom: 0.353cm;
            margin-top: 20px;
            font-weight: 600;
        }

        .Standard {
            font-size: 12px;
            line-height: 115%;
            margin-bottom: 0.353cm;
            margin-top: 0cm;
            font-weight: 400;
        }

        .Tabla1 {
            width: 7.973cm;
            margin-left: -0.021cm;
            margin-top: 0cm;
            margin-bottom: 0cm;
            margin-right: auto;
            writing-mode: lr-tb;
        }

        .Tabla1_A1 {
            vertical-align: bottom;
            background-color: #ffffff;
            padding-left: 0.123cm;
            padding-right: 0.123cm;
            padding-top: 0cm;
            padding-bottom: 0cm;
            border-style: none;
        }
    </style>
    <section id='terms-conditions' class='about' style="padding: 40px">
        <p xmlns="" class="P5">REGLAMENTO DE PARTICIPACIÓN DE LA EVALUACIÓN DE FANSWORLD TV</p>

        <p xmlns="" class="P1"> </p>

        <p xmlns="" class="P1">1) Quiénes pueden participar</p>

        <p xmlns="" class="Standard">Podrán participar de la Evaluación de FansWorld TV (en adelante, la Evaluación)
            organizada por FansWorld TV Corporation con domicilio en Fray Justo Santamaría de Oro 2261 de la Ciudad
            Autónoma de Buenos Aires (en adelante el Organizador), todas aquellas personas que sigan el procedimiento de
            inscripción y participación que se describe en las cláusulas siguientes (en adelante el/los
            Participante/s).-</p>

        <p xmlns="" class="P1"> </p>

        <p xmlns="" class="P1"> </p>

        <p xmlns="" class="P1">2) Forma de Participar:</p>

        <p xmlns="" class="P1">2.1) Las personas que quieran participar de la Evaluación, (siempre y cuando reúnan los
            requisitos previstos en el punto 1 de este Reglamento), serán contactadas por FansWorld TV para realizar
            diferentes actividades en el sitio web. El Participante tiene pleno conocimiento y acepta expresamente que
            por el solo hecho de participar estará aceptando el Reglamento de participación de la presente
            Evaluación.-</p>

        <p xmlns="" class="P1">2.2) Puede participar cualquier persona física mayor de 13 años de edad que resida en la
            República Argentina y que sea usuario registrado del Sitio, excepto que no podrá participar en la Evaluación
            el personal de FansWorld TV Corporation, así como tampoco los parientes por consanguinidad o afinidad hasta
            el 2º grado inclusive, ya sea que lo hagan a nombre propio o de 3º.- </p>

        <p xmlns="" class="P1">3) Vigencia</p>

        <p xmlns="" class="Standard">La Evaluación comenzará a las 9am del día 9 de septiembre de 2013 y finalizará a
            las 11.59pm del día 22 de septiembre de 2013.- El Organizador no será responsable por aquellas inscripciones
            que no se reciban a causa de fallas en la transmisión, fallas en el funcionamiento defectuoso de cualquier
            red, sitio Web, equipo de computadoras, programas de computadoras, etc.-</p>

        <p xmlns="" class="P1"> </p>

        <p xmlns="" class="P1">4) Selección de Ganadores:</p>

        <p xmlns="" class="P1">Todos las Usuarios podrán ser participantes siempre y cuando FansWorld TV pueda constatar
            que permanecieron una cantidad determinada de horas en el sitio realizando actividades (comentar, compartir,
            subir videos, etc.). Aquellos usuarios que permanezcan en el sitio pero no registren actividad, no recibirán
            el premio.</p>

        <p xmlns="" class="P1"> </p>

        <p xmlns="" class="P1"/>

        <p xmlns="" class="P1">5) Premios en Juego en la presente Evaluación</p>
        <table border="0" cellspacing="0" cellpadding="0" class="Tabla1">
            <colgroup>
                <col width="202"/>
                <col width="146"/>
            </colgroup>
            <tr class="Tabla11">
                <td xmlns="" style="text-align:left;width:4.62cm; " class="Tabla1_A1"><p class="P3"><span
                                xmlns="http://www.w3.org/1999/xhtml" class="T2">Rango HS</span></p></td>
                <td xmlns="" style="text-align:left;width:3.351cm; " class="Tabla1_A1"><p class="P3"><span
                                xmlns="http://www.w3.org/1999/xhtml" class="T2">Orden de Compra</span></p></td>
            </tr>
            <tr class="Tabla11">
                <td xmlns="" style="text-align:left;width:4.62cm; " class="Tabla1_A1"><p class="P3"><span
                                xmlns="http://www.w3.org/1999/xhtml" class="T1">Más de 9hs</span></p></td>
                <td xmlns="" style="text-align:left;width:3.351cm; " class="Tabla1_A1"><p class="P4"><span
                                xmlns="http://www.w3.org/1999/xhtml" class="T1">$ 600,00</span></p></td>
            </tr>
            <tr class="Tabla11">
                <td xmlns="" style="text-align:left;width:4.62cm; " class="Tabla1_A1"><p class="P3"><span
                                xmlns="http://www.w3.org/1999/xhtml" class="T1">De 3hs a 9hs</span></p></td>
                <td xmlns="" style="text-align:left;width:3.351cm; " class="Tabla1_A1"><p class="P4"><span
                                xmlns="http://www.w3.org/1999/xhtml" class="T1">$ 300,00</span></p></td>
            </tr>
            <tr class="Tabla11">
                <td xmlns="" style="text-align:left;width:4.62cm; " class="Tabla1_A1"><p class="P3"><span
                                xmlns="http://www.w3.org/1999/xhtml" class="T1">De 1h a 3hs</span></p></td>
                <td xmlns="" style="text-align:left;width:3.351cm; " class="Tabla1_A1"><p class="P4"><span
                                xmlns="http://www.w3.org/1999/xhtml" class="T1">$ 100,00</span></p></td>
            </tr>
        </table>
        <p xmlns="" class="P1"> </p>

        <p xmlns="" class="P1">El premio no incluye ningún otro bien o servicio distinto del mencionado precedentemente,
            y no podrá exigirse el canje del premio por dinero en efectivo ni por ninguna otra prestación, ni aun cuando
            el ganador no pudiera gozar del premio total o parcialmente por cualquier causa o motivo. El Organizador no
            otorga garantía de calidad, ni ninguna otra en relación a los premios, motivo por el cual los ganadores
            eventualmente deberán dirigir cualquier reclamo a los responsables de la fabricación, importación o venta de
            los mismos.-</p>

        <p xmlns="" class="P1"> </p>

        <p xmlns="" class="P1">6) Notificación:</p>

        <p xmlns="" class="P1">Los potenciales ganadores de los premios serán notificados de su carácter a través de la
            dirección de email.- En el caso de que el Organizador no lograra conectarse con el/los potenciales ganadores
            después de realizar al menos tres (3) intentos, el o los  ganadores perderán automáticamente el derecho a la
            asignación del premio.- La asignación de los premios queda supeditada al cumplimiento de todos los
            requisitos de participación establecidos en este Reglamento.- Dentro de las Setenta (72) horas de
            contactados y notificados  los presuntos ganadores de su condición de tal, deberán responder al mensaje
            enviado por los organizadores de la Evaluación.-</p>

        <p xmlns="" class="P1"> </p>

        <p xmlns="" class="P1">7) Participantes Responsables:</p>

        <p xmlns="" class="P1">La inscripción a la Evaluación, implica el consentimiento libre expreso e informado de
            cada Participante sobre los Términos y Condiciones.-</p>

        <p xmlns="" class="P1"> </p>

        <p xmlns="" class="P1">8) Datos Personales:</p>

        <p xmlns="" class="P1">El titular de los Datos Personales tiene la facultad de ejercer el derecho de acceso a
            los mismos en forma gratuita a intervalos no inferiores a seis (6) meses, salvo que se acredite un interés
            legítimo al efecto conforme lo establecido en el artículo 14, inciso 3 de la Ley Nº 25.326 (Disposición
            10/2008, artículo 1º, B.O. 18/09/2008). La Dirección Nacional de Protección de Datos Personales, Órgano de
            Control de la Ley Nº 25.326, tiene la atribución de atender las denuncias y reclamos que se interpongan con
            relación al cumplimiento de las normas sobre Datos Personales. Al momento de facilitar al Organizador sus
            Datos, los participantes prestan expreso consentimiento para que tales Datos puedan ser utilizados por el
            Organizador con fines publicitarios y de marketing en general. La información de los Participantes será
            tratada en los términos previstos por la Ley Nacional de Protección de Datos Personales Nº 25.326. El
            titular podrá en cualquier momento solicitar el retiro o bloqueo de su nombre de los bancos de datos a los
            que se refiere el presente artículo (Artículo 27, inciso 3, Ley 25.326). En toda comunicación con fines de
            publicidad que se realice por correo, teléfono, correo electrónico, internet u otro medio a distancia a
            conocer, se deberá indicar, en forma expresa y destacada, la posibilidad del titular del dato de solicitar
            el retiro o bloqueo, total o parcial, de su nombre de la base de datos. A pedido del interesado, se deberá
            informar el nombre del responsable o usuario del banco de datos que proveyó la información (Artículo 27,
            párrafo tercero, Anexo I, Decreto 1558/01)</p>

        <p xmlns="" class="P1"> </p>

        <p xmlns="" class="P1">9) En ningún supuesto se cambiará total o parcialmente el premio por dinero en efectivo,
            ni bienes o servicios de ningún tipo.– El premio será intransferible y única y exclusivamente podrá ser
            retirado y utilizado por los ganadores.- En el eventual caso que por cualquier motivo que fuese el premio no
            fuese entregado al ganador, el mismo quedará en poder del Organizador.- Queda prohibida la comercialización
            y/o venta de los Premios.-</p>

        <p xmlns="" class="P1"> </p>

        <p xmlns="" class="P1">10) Los Participantes aceptan de manera expresa e irrevocable que defenderán y mantendrán
            totalmente indemne al Organizador, y a sus Directivos, Empleados y/o Agentes, de cualquier reclamo, demanda,
            daño, pérdida, responsabilidad, costos y gastos (incluyendo honorarios de profesionales intervinientes) que
            surjan de cualquier violación que los Participantes hagan de cualquiera de las  presentes cláusulas de este
            Reglamento y/o por la violación de cualquier derecho de un tercero, incluyendo –pero no limitado a ello-,
            cualquier derecho de propiedad, propiedad intelectual, derecho de autor, derecho a la privacidad.</p>

        <p xmlns="" class="P2">11) Uso de nombre Ganadores e Imagen</p>

        <p xmlns="" class="P2">Los ganadores, y en el caso de los menores de edad sus padres y/o tutor, autorizan a
            FansWorld Corporation por la sola participación en la Evaluación, a publicar sus nombres e imágenes y a
            emitirlas en cualquier medio, ya sea televisivo, gráfico, internet u otro, con fines comerciales o
            promocionales sin compensación alguna, por un período de 24 meses luego de finalizado la Evaluación. </p>

        <p xmlns="" class="P1"> </p>

        <p xmlns="" class="P1">12) El Organizador se reserva el derecho de cancelar, suspender o modificar esta
            Evaluación por circunstancias no previstas que sean ajenas a su voluntad, aclarándose que, cualquier
            modificación será ajustada a la legislación vigente en la materia y debidamente notificada, con antelación,
            a los Participantes.-</p>

        <p xmlns="" class="P1"> </p>

        <p xmlns="" class="P1">13) La sola participación en la presente Evaluación implica el conocimiento y aceptación
            de todas sus condiciones y el reconocimiento de las decisiones que el Organizador tome con relación a ésta
            Evaluación tendrán carácter de definitivas e inapelables toda vez que las mismas no resulten abusivas ni
            infundadas, y no perjudiquen dolosamente el derecho de los participantes y respeten la legislación
            aplicable.-</p>

        <p xmlns="" class="P1"> </p>

        <p xmlns="" class="P1">14) Frente a toda divergencia que pudiera surgir con relación a esta Evaluación y a todos
            los efectos del mismo, las partes se someten a la jurisdicción y competencia de los Tribunales Ordinarios
            del Fuero Comercial de la Capital Federal de la Republica Argentina, renunciando a cualquier otro que les
            pudiera corresponder.-</p>

        <p xmlns="" class="P1">15) En cumplimiento de la legislación vigente, el presente Reglamento estará a la vista
            de los participantes, disponibles para ser leído y consultado durante toda la vigencia de la Evaluación en
            el sitio www2.fansworld.tv/betatyc donde se desarrolla el mismo.-</p>

        <p xmlns="" class="Standard"> </p>
    </section>
{% endblock %}