{% raw %}
<dt class="idol">
    <img src="{{>avatar}}" />
    <p>
        <a href="{{>idolUrl}}" class="name">{{>name}}</a>
        <a href="{{>teamUrl}}" clasS="team">{{>team}}</a>
        <br/>
        {{if topFan}}
        <span class="fans">Top Fan: 
            <a href="{{>topFanUrl}}">{{>topFan}}</a> 
        </span>
        {{/if}}
    </p>
</dt>
    <dd>
        <ul>
                <li><a href="{{>fansUrl}}"><span>{{>fanCount}}</span><br/> fans</a></li>
                <li><a href="{{>videosUrl}}"><span>{{>videoCount}}</span><br/> videos</a></li>
                <li><a href="{{>photosUrl}}"><span>{{>photoCount}}</span><br/> fotos</a></li>
            
        </ul>
            
        <button class="btn btn-success {{if isFan}}disabled{{else}}btn_idolship add{{/if}}" data-idol-id="{{>id}}">Ser fan</button>
    </dd>
{% endraw %}