{% extends "DodiciFansworldWebBundle:User:profile_edit_base.html.twig" %}

{% use "DodiciFansworldWebBundle:Layout/Snippet:profile_inner_fullwidth.html.twig"  %}

{% block user_edit_toolbar %}
	{% set current_edit_toolbar = 'profileimage' %}
	{{ parent() }}
{% endblock %}

{% block inner_content %}
	{{ parent() }}
    <script src="{{ asset('bundles/dodicifansworldweb/js/jcrop/jquery.Jcrop.min.js') }}" type="text/javascript"></script>
    <div class="row-fluid">
        <div class="span7">
	        <div class="current">
				<section id="picture" class="row-fluid">
                    <h5>picture:</h5>
                    <div data-ismodal="false" data-upload="photo"></div>
                    <div id="avatar-uploader"></div>
                </section>
			</div>
        </div>
        <div class='span4'>
            <section class='ayuda'>
                <h2><span class="circular">?</span>Ayuda</h2>
                <p>
                    Seleccione y recorte la nueva imagen que desea subir como foto de perfil
                </p>
            </section>
		</div>
    </div>
{% endblock %}