{% extends "DodiciFansworldWebBundle:User:user_base.html.twig" %}

{% block title %}{{ parent() }} - {{ 'Fans'|trans }}{% endblock %}


{% block profile_tabs %}
	{% set active_tab = 'fans' %}
	{{ parent() }}
{% endblock %}

{% block user_profile_body %}
	<div class="user_profile_body row-fluid">
	    
	    {% include "DodiciFansworldWebBundle:Friendship:fan_list_block.html.twig" with { block_title:  'Top Fans'|trans, friends: friends } %}
	    
	    {% include "DodiciFansworldWebBundle:Friendship:fan_list_block.html.twig" with { block_title:  'Otros Fans'|trans, friends: friends } %}
	    
    </div>
{% endblock %}
