

{% use "DodiciFansworldWebBundle:Layout/Snippet:profile_inner_fullwidth.html.twig"  %}

{% block javascripts %}

	<script src="{{ asset('bundles/dodicifansworldweb/js/inviter.js') }}" type="text/javascript"></script>
{% endblock %}

{% block title %} - Registro{% endblock %}

{% block inner_content %}

	TODO: inviter
	<br><br>
	url:<br>
	{{ url }}
	<br><br>
	<a href="{{ url }}" class="invite-facebook">INVITAR FACEBOOK</a>
	<br><br>
	<a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ url }}" data-text="Seguime en" data-lang="es" data-size="large" data-count="none" data-hashtags="fansworld">Twittear</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	<br><br>
	<input type="button" class="invite-commonfriends-facebook" value="AMIGOS EN COMUN" />

	<ul class="invite-commonfriends-list" style="padding: 20px;"></ul>
{% endblock %}