{% extends "DodiciFansworldWebBundle:User:base.html.twig" %}

{% use "DodiciFansworldWebBundle:Layout/Snippet:profile_inner_fullwidth.html.twig"  %}


{% block title %}{{ parent() }} - Notificaciones{% endblock %}

{% block inner_content %}
<div class="cont clearfix">
    <h2>Notificaciones</h2>
    <div id="notificationsList" class="mask">
        {% for notification in notifications %}
            {{ notification|raw }}
        {% endfor %}
    </div>
</div>
{% endblock %}