{% extends "DodiciFansworldWebBundle::three_column.html.twig" %}

{% block title %}{{ parent() }} - Notificaciones{% endblock %}

{% block content %}
<div class="cont clearfix">
    <h2>Notificaciones</h2>
    <div id="notificationsList" class="mask">
        {% for notification in notifications %}
            {{ notification|raw }}
        {% endfor %}
    </div>
</div>
{% endblock %}