{% extends "DodiciFansworldWebBundle:User:base.html.twig" %}


{% use "DodiciFansworldWebBundle:Layout/Snippet:inner_fullwidth.html.twig"  %}


{% block title %}{{ parent() }} - Registro{% endblock %}

{% block inner_content %}
	{{ parent() }}
                <div class="cont clearfix">
                    <h2>Registro </h2>
                    <form class="register clearfix">
                        <div class="registerOnFacebook">
                            <span>Puedes registrarte con tu cuenta de Facebook.</span>
                            <div class="fb-login-button">Registrarme usando facebook</div>
                        </div>

                        <table>
                            <tr>
                                <td class="campo">Nombre</td>
                                <td class="dato">
                                    <input type="text" size="28" />
                                    <label>Phasellus tortor mauris rutrum eget</label>
                                </td>
                            </tr>
                            <tr>
                                <td class="campo">Apellido</td>
                                <td class="dato">
                                    <input type="text" size="28" />
                                    <label>Phasellus tortor mauris rutrum eget</label>
                                </td>
                            </tr>
                            <tr>
                                <td class="campo">Pais</td>
                                <td class="dato">
                                    <select name="" class="oneSelect">
                                        <option>Argentina</option>
                                    </select>
                                    <label>Phasellus</label>
                                </td>
                            </tr>
                            <tr>
                                <td class="campo">Provincia</td>
                                <td class="dato">
                                    <select name="" class="oneSelect">
                                        <option>Provincia de Buenos Aires</option>
                                    </select>
                                    <label>Phasellus</label>
                                </td>
                            </tr>
                            <tr>
                                <td class="campo">Fecha de nacimiento</td>
                                <td class="dato">
                                    <select name="">
                                        <option>21</option>
                                    </select>
                                    <select name="">
                                        <option>Marzo</option>
                                    </select>
                                    <select name="">
                                        <option>1986</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="campo">Email</td>
                                <td class="dato">
                                    <input type="text" size="28" />
                                    <label>Phasellus tortor mauris rutrum eget</label>
                                </td>
                            </tr>
                            <tr>
                                <td class="campo">Repite su email</td>
                                <td class="dato">
                                    <input type="text" size="28" />
                                    <label>Phasellus tortor mauris rutrum eget</label>
                                </td>
                            </tr>
                            <tr>
                                <td class="campo">Contraseña</td>
                                <td class="dato">
                                    <input type="text" size="28" />
                                    <label>Phasellus tortor mauris rutrum eget</label>
                                </td>
                            </tr>
                            <tr>
                                <td class="campo">Repite tu contraseña</td>
                                <td class="dato">
                                    <input type="text" size="28" />
                                    <label>Phasellus tortor mauris rutrum eget</label>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" height="30">
                                    <input name="" type="checkbox" value="" class="floatLeft"/>
                                    <label>Acepto los<a href="·1"> Términos y condiciones</a> de FansWorls.com</label>
                                </td>
                            </tr>
                        </table>
                        <a class="btn_action" href="#1">Registrarme</a>
                    </form>
                </div>
{% endblock %}