{% extends "DodiciFansworldWebBundle:User:base.html.twig" %}

{% set fullwidth = false %}

{% block title %}{{ parent() }} - Videos{% endblock %}

{% block profile_tabs %}
    {% set active_tab = 'videos' %}
    {{ parent() }}
{% endblock %}

{% block profile_body %}
    {#{% embed "DodiciFansworldWebBundle:Layout/Embed:profile_inner_fullwidth.html.twig" %}
        {% block inner_content %}#}
            {% if app.user == user %}
                <div class="btn-group pull-right" data-filter-videos data-toggle="buttons-radio" style="height: 35px;">
                    <button type="button" class="btn active" data-type="0">Mis videos</button>
                    <button type="button" class="btn" data-type="1">Mis idolos</button>
                    <button type="button" class="btn" data-type="2">Mis clubes</button>
                    <button type="button" class="btn" data-type="3">Mis canales</button>
                    <button type="button" class="btn btn-warning" data-type="4">Ver Después</button>
                </div>
                <div class="clearfix" style="height: 35px;"></div>
                <div class="videos-container">
                    {% include 'DodiciFansworldWebBundle:Video:blocks/video_grid.html.twig' with {'listWithModal': true} %}
                </div>
            {% else %}
                <div data-list="video" data-entity-type="user" data-entity-id="{{ user.id }}">
                    <div class="row-fluid clearfix">
                <span class="pull-left">
                    <button class="btn-upload-video" href="{{ path('photo_fileupload') }}" data-upload="photo"><i
                                class="icon-circle-arrow-up icon-white"></i>Subir Video
                    </button>
                </span>
                <span class="pull-right">
                    {% include 'DodiciFansworldWebBundle:Default:blocks/button_group.html.twig' %}
                </span>
                    </div>


                    {% include 'DodiciFansworldWebBundle:Video:blocks/video_grid.html.twig' with {'entityId': user.id, 'entityType': 'user', 'listWithModal': true} %}
                </div>
            {% endif %}
    {#    {% endblock %}
    {% endembed %}#}
{% endblock %}
    