{% extends "DodiciFansworldWebBundle:User:base.html.twig" %}

{% block title %}{{ parent() }} - Twitter{% endblock %}

{% block profile_tabs %}
	{% set active_tab = 'videos' %}
	{{ parent() }}
{% endblock %}

{% block profile_body %}
    {% embed "DodiciFansworldWebBundle:Layout/Embed:profile_inner_fullwidth.html.twig" %}
        {% block inner_content %}
        <div data-list="video" data-entity-type="user" data-entity-id="{{user.id}}">
            <div class="row-fluid clearfix"> 
                <span class="pull-left">
                    {% include 'DodiciFansworldWebBundle:Default:blocks/button_group.html.twig'  %}
                </span>
                <span class="pull-right">
                    {% include 'DodiciFansworldWebBundle:Default:blocks/button_upload.html.twig'  with { 'type': 'video' }%}    
                </span>
            </div>
            
            
            {% include 'DodiciFansworldWebBundle:Video:blocks/montage.html.twig' with {'entityId': user.id, 'entityType': 'User'} %}
        </div>
        {% endblock %}
    {% endembed %}		
{% endblock %}
    