{% extends "DodiciFansworldWebBundle:User:base.html.twig" %}

{% use "DodiciFansworldWebBundle:Layout/Snippet:inner_fullwidth.html.twig"  %}

{% block title %}{{ parent() }} - Twitter{% endblock %}

{% block profile_tabs %}
	{% set active_tab = 'twitter' %}
	{{ parent() }}
{% endblock %}

{% block inner_content %}
    
    {% if selfWall %}
        <div class="row-fluid update clearfix"> 
          <span class="pull-left">
            {% include 'DodiciFansworldWebBundle:Default:blocks/button_group.html.twig'  %}
          </span>
          <span class="pull-right">
              <a class="btn btn_upload_photo" href="{{ path('video_fileupload') }}">
                <i class="icon-upload"></i>
                {{ 'upload video'|trans }}
              </a> 
          </span>
        </div>
    {% endif %}
    
    {% include 'DodiciFansworldWebBundle:Video:blocks/montage.html.twig' with {'entity-id': user.id, 'entity-type': 'User'} %}
{% endblock %}