{% extends "DodiciFansworldWebBundle:User:base.html.twig" %}


{% block title %}{{ parent() }} - Muro{% endblock %}

{% block profile_tabs %}
	{% set active_tab = 'wall' %}
	{{ parent() }}
{% endblock %}


{% block profile_body %}
    {% embed "DodiciFansworldWebBundle:Layout/Embed:profile_inner_rsidebar.html.twig" %}
        
        {% block inner_content %}
            {% include 'DodiciFansworldWebBundle:Default:blocks/button_upload.html.twig'  with { 'type': 'video' }%}
            {% include 'DodiciFansworldWebBundle:Default:blocks/button_upload.html.twig'  with { 'type': 'photo' }%}
            <div class="cont">
                {% include 'DodiciFansworldWebBundle:Comment/blocks:list.html.twig' with {entity: user} %}
            </div>
        {% endblock %}
        
        {% block inner_sidebar %}
            <img src="{{ asset("bundles/dodicifansworldweb/images/sidebar.png") }}"  style='width:100%' />
            TODO
        {% endblock %}
            
    {% endembed %}		
{% endblock %}