.navbar-fixed-top .container, .navbar-fixed-bottom .container{width:100% !important;}

.navbar .brand{
    margin-left: 0;	
}

.sidebar-nav-fixed {
     position:fixed;
     top: 40px;
     width:50px;
     height: 100%;
 }

 .sidebar-nav.well{
	padding: 10px;
    border-radius:0;
 }
 
 ul#left-menu{
	overflow: hidden;
 }
 
 .navbar .brand{
	padding-bottom: 10px;
 }
 
 footer.navbar div.navbar-inner{
	min-height: 36px;
 }
 
 footer.navbar div.navbar-inner div.container{
	overflow: hidden;
 	height: 36px;
 }
 
 
 .navbar-search .search-query,.navbar-search .search-query:-moz-placeholder{
    background-color: #ffffff;
    color: #000000;
    border: 1px solid white;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);  
 border-radius: 10px 0 0 10px;   	
}

.navbar-search .input-append .add-on:last-child{
    border-radius: 0 10px 10px 0;
}


.btn-success {
    background-image: -moz-linear-gradient(center top , #8FCA48, #79C41E);
}

 
@media (max-width: 767px) {
     .sidebar-nav-fixed {
        position:static;
        width:auto !important;
        margin-top: 10px;
        
     }
    
     .navbar-fixed-top, .navbar-fixed-bottom{
       position: fixed !important;
       padding: 0 20px;
     }
     
     .navbar-fixed-bottom{
        display: none;
     }
     
    .navbar .nav  li.show-on-collapse{
       display: block;
    }
    
     ul#left-menu li{
	   float: left;
     	
     }
     
    div.register div.bottom form p.help-block{
       padding: 90px;
    }
     
 }

@media (max-width: 979px) {
     .sidebar-nav-fixed {
        width: 3%;
        top: 40px;
     }
     
    header div#login-widget{
       top:30px;
     }
     
    .navbar-fixed-top, .navbar-fixed-bottom{
       position: fixed !important;
    }
    
    body{
       padding-top: 54px;
    }
    
    .navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner{
	   padding: 0 5px;
    }
    
    div.register div.bottom form p.help-block{
	   padding: 0;
    }
    
 }
 
 .navbar .btn-navbar{
    position: relative !important;
}

 