header nav {font-family: 'Ubuntu', sans-serif; }

.navbar .nav > li > a{
    color: #e4e1bc;
    font-size: 13px;
    font-weight: bold;
}
.navbar .nav > li > a:hover{
	color: #ffffff;
}
/* Login widget */

header nav  div#login-widget{
    background-color: #f7f7f7;
    position: absolute;
    right: 25px;
    top: 55px;
    width: 220px;
	border: 1px solid #c1c1c1;
	border-radius: 5px;
	box-shadow: 0 0 9px 1px #EDEDED;
	padding: 15px;
	color: #6C6C6C;
	display:none;
}

header nav  div#login-widget ul li{
	float: left;
    padding: 3px 0;
    width: 97%;
	
}
header nav  div#login-widget .fb_button { width: 100%; height: 25px;}

header nav  div#login-widget .fb_button .fb_button_text { font-size: 14px; }

header nav  div#login-widget div.bottom-login{
	margin-top: 15px;
	width: 100%;
}

header nav  div#login-widget input{
	width: 100%;   
}

header nav  div#login-widget .recordar{
	float: left;
    font-size: 11px;
    
    width: 50%;
}

header nav  div#login-widget .recordar label{
	margin-left: 5px;
    float:left;
	text-decoration: underline;
}
header nav  div#login-widget .recordar input{
	width: auto;
	float: left;
}

header nav  div#login-widget .olvidar{
	float: left;
    width: 51%;
}

header nav  div#login-widget .olvidar a{
	color: #6C6C6C;
    font-size: 11px;
    height: auto;
    line-height: 14px;
    padding: 0;
    text-decoration: underline;
}

header nav  div#login-widget div.header-ingresar{
	 float: right;
    font-size: 18px;
    line-height: 18px;
    margin: 0;
    padding: 5px 10px;
    position: absolute;
    right: 15px;
}

header nav  div#login-widget div.arrow-up {
    border-bottom: 6px solid #F7F7F7;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    height: 0;
    position: absolute;
    right: 30px;
    top: -6px;
    width: 0;
    z-index: 10;
}

header nav  div#login-widget div.arrow-up-border {
    border-bottom: 7px solid #C1C1C1;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    height: 0;
    position: absolute;
    right: 29px;
    top: -7px;
    width: 0;
}



