

/*Estilos registros */
.inputloading { background-image: url(../images/ajax-loader-small.gif) !important; background-position: 96% center !important; background-repeat: no-repeat !important;}
.inputerr { background-image: url(../images/ico/error.png) !important; background-color: #FEE !important; background-position: 96% center !important; background-repeat: no-repeat !important;}
.inputok { background-image: url(../images/ico/accept.png) !important; background-color: #EFE !important; background-position: 96% center !important; background-repeat: no-repeat !important;}


div.register div.top{
	border-bottom: 1px solid #D9D9D9;
    margin-bottom: 15px;
    padding: 15px;
	color: #8a8a8a;
}

div.register div.top .fbconnect a{
	border-radius: 5px;
}

div.register div.top .fbconnect a span{
    border-radius: 0 5px 5px 0;
}

div.register div.top h1,div.confirm h1{
    font-size: 22px;	
	line-height: 25px;
}

div.register div.top h2,div.confirm p{
    font-size: 14px; 
	line-height: 20px;
	margin-bottom: 15px;
}


div.register div.bottom{
    padding: 15px;   
	color: #8a8a8a;
}

div.register div.bottom .title{
    font-size: 14px;
	margin-bottom: 15px;
}


