{% extends "DodiciFansworldWebBundle:Layout:one_column.html.twig" %}

{% block main %}
    {% set fullwidth = true %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block main_content %}
    <div class="home-content list-highlighted">
        <h2>Sigues...</strong></h2>

		
        <section class="row-fluid">
            <div class="videos-container clearfix">
                {% for video in videos %}
                    {% include "DodiciFansworldWebBundle:Video:blocks/video_std_block.html.twig"  with { video: video } %}
                {% endfor %}
            </div>
            {% if addMore %}
                <div class="add-more" data-load-more=".videos-container">+</div>
            {% endif %}
        </section>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            var page = 1;
            $("[data-load-more]").click(function (e) {
                var $self = $(this);
                var destiny = $(this).data('load-more');
                page++;

                $self.addClass('rotate');
                ajax.genericAction('home_ajaxfwlist', {
                    'page': page
                }, function (r) {
                    var videos = r.videos;
                    var totalVideos = videos.length;

                    if(!r.addMore){
                        $self.remove();
                    }

                    if (totalVideos > 0) {
                        for (i in videos) {
                            var video = videos[i];

                            $.when(templateHelper.htmlTemplate('video-home_element', video))
                                    .then(function (response) {
                                        $(destiny).append(response);
                                        totalVideos--;
                                        if (totalVideos == 0) {
                                            $self.removeClass('rotate');
                                        }
                                    });
                        }
                    }
                });
            });
        });
    </script>
{% endblock %}