{% if album %}
	{{ path('album_show', {id: album.id, slug: album.slug}) }}
{% else %}
	<form action="{{ path('album_create') }}" method="post" enctype="multipart/form-data">
		{{ form_widget(form) }}
		<input type="submit" name="submit" value="{{'Submit'|trans}}" />
	</form>
{% endif %}
