{% extends "DodiciFansworldWebBundle::popup.html.twig" %}
{% form_theme form 'DodiciFansworldWebBundle::form.html.twig' %}

{% block content %}
    {% if refresh %}
        <script type="text/javascript">
            window.top.location.href = "{{ refresh }}";
        </script>
    {% else %}
        <div class="greybox">
            <div class="uploadPhotoVideoForm">
                <form action="{{ path('album_create') }}" method="post" enctype="multipart/form-data" class="bigform upload-photo">
                     <div class="row-fluid">
                        <section class="span7">
                            {{ form_widget(form) }}
                        </section>
                    </div>
                <input type="submit" name="submit" value="Guardar" class="btn btn-primary" style="margin-left: 380px;"/>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}