{#
{% extends "DodiciFansworldWebBundle::main.html.twig" %}
#}

{% block stylesheets %}
{% endblock %}
		
{% block body %}
	<div class="popup-wrap">
		<div class="popup-content">
			{% block content %}{% endblock %}
		</div>
	</div>
{% endblock %}

{% block javascripts %}
{% endblock %}