{% extends "DodiciFansworldWebBundle::layout.html.twig" %}



{% block body %}
	{{ facebook_initialize({'xfbml': true, 'fbAsyncInit': 'onFbInit();', 'culture': appstate.culture(app.request.locale) }) }}
	
	<div class="wrap">
    	{% block header %}
            <header id='header' class='navbar navbar-fixed-top'>
                {% render "DodiciFansworldWebBundle:Default:menubar" %}
            </header>
        {% endblock %}
        
        {% block toolbar %}
            <!--Toolbar-->
            <nav id='toolbar' class="leftmenubar" data-fwtoolbar="true">
                {% render "DodiciFansworldWebBundle:Default:leftmenubar" %}
            </nav>
        {% endblock %}
    	
    	{% block main %}
            <div id="main-content-frame" class="container-fluid">
                <div class='row-fluid'>
                  {% block maincontent %}  
                        <section class="span7">
                            {% block content %}
                            {% endblock %}
                        </section>
                        
                        <section id='centercolumn' class='span3'>
                            {% block centercolumn %}
                                {% render "DodiciFansworldWebBundle:Default:centercolumn" %}
                            {% endblock %}
                        </section>
                    {% endblock %}
                    
                    <section id='sidebar' class='span2'>
                       {% block sidebar %}
                            {% render "DodiciFansworldWebBundle:Default:sidebar" %}
                        {% endblock %}
                    </section>
                </div>
            </div>
    	{% endblock %}
    	
    	{% block footer %}
            {% include "DodiciFansworldWebBundle:Default:footer.html.twig" %}
        {% endblock %}
    	
	</div>	
{% endblock %}