{% extends "DodiciFansworldWebBundle::layout.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('bundles/dodicifansworldweb/css/web.css') }}" type="text/css" media="all">
{% endblock %}

{% block body %}
	{{ facebook_initialize({'xfbml': true, 'fbAsyncInit': 'onFbInit();', 'culture': appstate.culture(app.request.locale) }) }}
	
	<div class="wrap">
    	{% block header %}
            <header>
                {% render "DodiciFansworldWebBundle:Default:menubar" %}
            </header>
        {% endblock %}
    	
    	{% block main %}
            
            <section id='left-bar'>
                {% render "DodiciFansworldWebBundle:Default:leftmenubar" %}
            </section>
            
            
    		<div class="container">
                
                <section class="content clearfix">
                    {% block maincontent %}
                        
                        <section id='leftcolumn'>
                    		{% block leftcolumn %}
                    			{% block content %}
                    			{% endblock %}
                    		{% endblock %}
                		</section>
                		
                		
                        
            	   {% endblock %}
            	</section>
            	
            	<section id='centercolumn'>
                    {% block centercolumn %}
                        {% render "DodiciFansworldWebBundle:Default:centercolumn" %}
                    {% endblock %}
                </section>
            	
            	
            	<section id='sidebar'>
            	   {% block sidebar %}
                        {% render "DodiciFansworldWebBundle:Default:sidebar" %}
                    {% endblock %}
            	</section>
            	
            </div>
    	{% endblock %}
    	
    	{% block footer %}
            {% include "DodiciFansworldWebBundle:Default:footer.html.twig" %}
        {% endblock %}
    	
	</div>	
{% endblock %}