<a href="{{ href }}" style="text-decoration: none;display: inline-block; margin-bottom: 30px;background-color: #8dc527;font-size: 15px;color: white;font-weight: 600;padding: 10px;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;">{{ text }}</a>
