<a style="padding: 10px;border: 1px solid lightgray;width: 250px;margin: 10px auto 30px auto;display: block;" href="{{ href }}">
  <img src="{{ appmedia.imageurl(entity.image, 'medium') }}" style="vertical-align: middle;"/>
</a>
