{% extends "DodiciFansworldWebBundle::main.html.twig" %}

{% block body %}
	{{ facebook_initialize({'xfbml': true, 'fbAsyncInit': 'onFbInit();', 'culture': appstate.culture(app.request.locale) }) }}
	
	<div class="wrap">
    	{% block header %}
    		<!-- Header -->
            <header id='header' class='navbar navbar-fixed-top'>
                {% if section_selected is not defined %}
                        {% set section_selected = false %}
                {% endif %}
                {% render "DodiciFansworldWebBundle:Default:menubar" with { 'sectionSelected' : section_selected}%}
            </header>
        {% endblock %}
        
        {% block toolbar %}
            <!--Toolbar -->
            <nav id='toolbar' class="leftmenubar {{ preferences.get('toolbar_pos')|default('top') }}" data-fwtoolbar="true">
                {% render "DodiciFansworldWebBundle:Default:toolbar" %}
            </nav>
        {% endblock %}
    	
    	{% block main %}
            
    	{% endblock %}
    	
    	{% block footer %}
    		<!-- Footer -->
            {% include "DodiciFansworldWebBundle:Default:footer.html.twig" %}
        {% endblock %}
    	
	</div>	
{% endblock %}