{% extends "DodiciFansworldWebBundle:Layout:base.html.twig" %}

{% if fullwidth is not defined %}
    {% set fullwidth = false %}
{% endif %}

{% block main %}
    <div id="main-content-frame" class="container-fluid">
        <div class='row-fluid'>
            {# fullwidth content #}
            <section id="content" class="{% if fullwidth %} fullwidth {% else %} span12 {% endif %}">            
                {% block main_content %}  

                {% endblock %}
            </section>
        </div>
    </div>
{% endblock %}