{% extends "DodiciFansworldWebBundle:Layout:base.html.twig" %}

{% block main %}
    <div id="main-content-frame" class="container-fluid {{ preferences.get('toolbar_pos')|default('top') }}">
        <div class='row-fluid'>
            {% block maincontent %}
                {# Content of action #}
                <section id="content" class="span7">
                    {% block content %}
                    {% endblock %}
                </section>

                {# TODO RELATEDCOLUMN #}
                <aside id='relatedcolumn' class='span3'>
                    {% block relatedcolumn %}
                        {% if entity is defined and entity %}
                            {% render "DodiciFansworldWebBundle:Default:relatedcolumn" with {entity: entity} %}
                        {% else %}
                            {% render "DodiciFansworldWebBundle:Default:relatedcolumn" %}
                        {% endif %}
                    {% endblock %}
                </aside>
            {% endblock %}

            {# Adds column #}
            <aside id='adcolumn' class='span2 advertising'>
                {% block advertising %}
                    {% render "DodiciFansworldWebBundle:Default:adcolumn" %}
                {% endblock %}
            </aside>
        </div>
    </div>
{% endblock %}