{% if dataGridRelatedId is defined %}
    {% set dataGrid = 'data-grid-related=' ~ dataGridRelatedId  %}
{% else %}
    {% set dataGrid = 'data-grid' %}
{% endif %}

<section id="{{ sectionId }}" {{ dataGrid }}>
    {% for video in videos %}
        {% include "DodiciFansworldWebBundle:Video:blocks/video_std_block.html.twig"  with { video: video } %}
    {% endfor %}
</section>



