<section id="toggle-video-types" class="row-fluid">
    <div class="btn-group list-videos">
        <button class="btn" data-type="0">Destacados</button>
        <button class="btn" data-type="1">Mas Vistos</button>
        <button class="btn active" data-type="2">Populares</button>
        <button class="btn" data-type="3">Mas Vistos del día</button>
    </div>
</section>
    
<div class="row-fluid">
    {% if videos|length>0 %}
        <div id="am-container" class="am-container list-mosaic">
        {% for video in videos %}
                    <a href="{{ path('video_show', {'id': video.id, 'slug': video.slug}) }}">
                        <span class="title">{{ video.title }}</span>
                        {% thumbnail video.image, 'medium'  with {"title": video.title}%}
                    </a>
        {% endfor %}
        </div>
    {% else %}
        <h2>No se encontraron videos.</h2>
    {% endif %}
    <input type="hidden" id="entityId" value="2"/> <!-- @todo cambiar esto por entity id y poner tambien un entity type -->
</div>
    
<div id="templates" class="hidden">
    <div class="video">
        <a href="">
            <span class="title"></span>
            <img src="" title="" alt="" />
            <button class="btn btn-primary">+</button>
        </a>
    </div>
</div>
    
<script type="text/javascript">
        site.startMosaic($('#am-container'), {minw: 150, margin: 0, liquid: true, minsize: false});
        {% if addMore %}
            videos.searchMyVideos.canAddMore = true;
        {% endif %}
        videos.init();
</script>