<!-- Listado de videos para mostrar como montage -->
<div class="row-fluid">
    {% if videos|length>0 %}
        <div id="am-container" class="am-container list-mosaic" data-entity-id="{{ entity-id }}" data-entity-type="{{ entity-type }}">
        {% for video in videos %}
                    <a href="{{ path('video_show', {'id': video.id, 'slug': video.slug}) }}">
                        <span class="title">{{ video.title }}</span>
                        {% thumbnail video.image, 'medium'  with {"title": video.title}%}
                    </a>
        {% endfor %}
        </div>
        {% if addMore %}
          <a href="#" class="loadmore">Cargar más</a>
        {% endif %}
    {% else %}
        <h2>No se encontraron videos.</h2>
    {% endif %}
</div>
    
<!-- Template que se usa para clonar y editar por javascript -->
<div id="templates" class="hidden">
    <div class="video">
        <a href="">
            <span class="title"></span>
            <img src="" title="" alt="" />
            <button class="btn btn-primary">+</button>
        </a>
    </div>
</div>
    
<!-- Init del montage -->
<script type="text/javascript">
        site.startMosaic($('#am-container'), {minw: 150, margin: 0, liquid: true, minsize: false});
        {% if addMore %}
            videos.searchMyVideos.canAddMore = true;
        {% endif %}
        videos.init();
</script>