<!-- Listado de videos para mostrar como montage -->
{% if thumbnailSize is not defined %}
    {% set thumbnailSize = 'medium' %}
{% endif %}

{% if listFilters is not defined %}
    {% set listFilters = '' %}
{% else %}
    {% set listFilters = ' data-list-filters="' ~ listFilters ~ '"' %}
{% endif %}

{% if listFiltersElement is not defined %}
    {% set listFiltersElement = '' %}
{% else %}
    {% set listFiltersElement = ' data-list-filters-element="' ~ listFiltersElement ~ '"' %}
{% endif %}

{% if listChannels is not defined %}
    {% set listChannels = '' %}
{% else %}
    {% set listChannels = ' data-list-channels' %}
{% endif %}

{% if listResult is not defined %}
    {% set listResult = '' %}
{% else %}
    {% set listResult = ' data-list-result="' ~ listResult ~ '"' %}
{% endif %}

{% if listScrollable is not defined %}
    {% set listScrollable = '' %}
{% else %}
    {% set listScrollable = ' data-list-scrollable' %}
{% endif %}

{% if listFetchMoreButton is not defined %}
    {% set listFetchMoreButton = '' %}
{% else %}
    {% set listFetchMoreButton = ' data-list-fetch-more-button' %}
{% endif %}

{% if listIsMontage is not defined %}
    {% set listIsMontage = '' %}
{% else %}
    {% set listIsMontage = ' data-list-montage' %}
{% endif %}

{% if listId is not defined %}
    {% set listId = '' %}
{% else %}
    {% set listId = ' id="' ~ listId ~ '"' %}
{% endif %}

{% set listParams = 'data-list data-list-entity="video"' ~ listFilters ~ listFiltersElement ~ listChannels ~ listResult ~ listScrollable ~ listFetchMoreButton ~ listIsMontage %}
<div class="row-fluid">
    <div {{ listId|raw }} class="am-container list-mosaic" {{ listParams|raw }}>
        {% if videos|length>0 %}
            {% for video in videos %}
                <a href="{{ path('video_modal_show', {'id': video.id, 'slug': video.slug}) }}">
                    <span class="title">{{ video.title }}</span>
                    {% thumbnail video.image, thumbnailSize with {"title": video.title} %}
                </a>
            {% endfor %}
        {% else %}
            <h2>No se encontraron videos.</h2>
        {% endif %}
    </div>
</div>
