<div class="row-fluid">
    <div class="semantic-grid videos-container clearfix">
        {% if videos|length>0 %}
            {% for video in videos %}
                {% include 'DodiciFansworldWebBundle:Video:blocks/video_std_block.html.twig' with {'video': video} %}
            {% endfor %}    
        {% endif %}
    </div>
    <div class="std-add-more">+</div>
</div>
