<h1 style="font:bold 23px arial;margin:5px 0">Fansworld</h1>
<div style="font:13px arial,sans-serif;width:540px">
    {{ who }} te ha invitado a unirte a Fansworld: 
    <br/>
    {{ msg }}
        <div style="margin-top:15px;margin-bottom:10px;border-bottom:1px solid #ddd;line-height:1px">&nbsp;</div>
        <table cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <td style="width:15%;padding-right:20px">
                        <table border="0" cellpadding="6" cellspacing="1" align="">
                            <tbody>
                                <tr>
                                    <td align="center" valign="middle" bgcolor="#FFE86C" background="http://www.linkedin.com/scds/common/u/img/bg/yellow_button_back.png" style="background:url('http://www.linkedin.com/scds/common/u/img/bg/yellow_button_back.png') repeat-x scroll 100% 0 #ffe86c;background-color:#ffe86c;border:1px solid #e8b463;border-radius:4px">
                                        <div style="padding-right:10px;padding-left:10px">
                                            <a href="{{ url }}" style="text-decoration:none" target="_blank">
                                                <span style="font-size:12px;font-family:Arial;font-weight:bold;color:#333333;white-space:nowrap;display:block">Aceptar</span>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
    </div>

    <p style="width:550px;margin:3px auto;font:10px arial,sans-serif;color:#999">© 2012, Fansworld Corporation    </p>